  <div id="product-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Samsung 28 Inch HD Slim LED TV (UA-28J4100)</h4>
            </div>
            <div class="modal-body">
                        <div class="row">
                            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                       <div>
                                          <div class="image">
                                             <a href="product.html"><img src="images/product/Samsung-28-Slim-LED-UA-28J4100-larg.png" alt=" Strategies for Acquiring Your Own Laptop " title=" Strategies for Acquiring Your Own Laptop " class="img-responsive"></a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                     <div class="caption">
                                                <h5><a href="product.html">Samsung 28 Inch HD Slim LED TV (UA-28J4100)</a></h5>
                                                <div class="rating"> 
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                   <span class="fa fa-stack"><i class="fa fa-star dark-stack fa-stack-2x"></i></span> 
                                                   <span class="rev_c">(10)</span>                                   
                                                </div>
                                                <p class="price"> 
                                                   <span class="price-old">Rs.50,000.00</span> 
                                                   <span class="price-new">Rs.25,000.00</span>
                                                   <span class="text-right"> <button type="button" class="btn btn-primary">Add to Cart</button></span>
                                                </p>
                                                <ul class="detai_con">
                                                <li>Full HD</li>
                                                <li>1920 x 1080 Resolution</li>
                                                <li>178(H) degree Viewing Angle</li>
                                                <li>16 W Speaker Output</li>
                                                <li>na Audio Output</li>
                                                </ul>
                                             </div>
                                    </div>
                        </div>
            </div>
            
        </div>
    </div>
</div>
    <!--Login Modal-->
    <div id="login-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
                  <a href="#"  title="close" class="close" data-dismiss="modal" aria-hidden="true" ><img src="images/close.png" alt="close" /></a> 
                </div>
                <div class="modal-body">
                              <div class="loginmodal-container">
                                <h4>Login</h4><br>
                              <form>
                                <div class="form-group">
                                   
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email Or Username">
                                </div>
                                <div class="form-group">
                                   
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                    <a href="#Forgot-modal" data-toggle="modal" id="forgetPassword" class="forgot-pass">Forgot Password?</a>
                                </div>
                                <button type="submit" class="btn btn-primary rg_btn btn-lg btn-block">Login</button>
                               
                            </form>
                           
                             
                            </div>
                            <div class="row">
                                 <div class="col-lg-12 fb-permission">
                                     <p class="login-with-fb"><i> </i></p>
                                 <div class="or-seperator"><span>Or</span></div>
                                </div>
                            </div>
                             <div class="row fa_ub">
                                 <div class="col-lg-12">
                                  <a href="#" class="btn btn-primary btn-lg btn-block face_cla">
                                  <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;  Login With Facebook</a>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-12">
                                  <a  href="#" class="btn btn-danger btn-lg btn-block">
                                  <i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;&nbsp;  Login With Google +</a>
                                 </div>
                             </div>
                   
                   
                    
                    <div class="row regi_na">
                        <div class="col-lg-12"><p> Don't Have an Account <a href="#reg-modal" data-toggle="modal" id="hide_log" >Register Now!</a></p></div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div id="Forgot-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
                  <a href="#"  title="close" class="close" data-dismiss="modal" aria-hidden="true" ><img src="images/close.png" alt="close" /></a> 
                </div>
                <div class="modal-body">
                              <div class="loginmodal-container">
                                <h4>Forgot Password</h4><br>
                              <form>
                                <div class="form-group">
                                   
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email Or Username">
                                </div>
                               
                                <button type="submit" class="btn btn-primary rg_btn btn-lg btn-block">Login</button>
                               
                            </form>
                           
                             
                            </div>
                </div>
               
            </div>
        </div>
    </div>
    <!--Registration Modal-->
    <div id="reg-modal" class="modal fade">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
                <a href="#"  title="close" class="close" data-dismiss="modal" aria-hidden="true" ><img src="images/close.png" alt="close" /></a> 
			</div>
			<div class="modal-body">
				<div class="loginmodal-container">
					<h4>Register</h4>
					<br>
						<form>
                        <div class="form-group">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6 columns">
									<input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" value="">
									
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6 columns">
										<input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" value="">
											
									</div>
							</div>
                            
                            </div>
									<div class="form-group">
										<input type="text" id="email" name="email" class="form-control" placeholder="Email Address" >
											
									</div>
										<div class="form-group">
									
												<!--<span class="glyphicon glyphicon-calendar"></span>-->
												<input type="date" id="date_of_birth" name="date_of_birth" value="" class="form-control" placeholder="Date of Birth">
                                              
												
											</div>
                                            
                                           
                                            
											<div class="form-group radio">
												<span><input type="radio" id="GENDER_MALE" name="gender" value="male" checked="checked" > Male   </span>           
                
												<span><input type="radio" id="GENDER_FEMALE" name="gender" value="female" > Female</span>                
            
											</div>
													<div class="form-group">
														<select id="select_country" name="select_country" class="register-country form-control"  placeholder="Country">
															<option selected="selected" value="ae">United Arab Emirates</option>
															<option value="eg">Egypt</option>
															<option value="sa">Saudi Arabia</option>
															<option value="kw">Kuwait</option>
															<option value="bh">Bahrain</option>
															<option value="om">Oman</option>
															<option value="qa">Qatar</option>
														</select>
													</div>
												
												<div class="form-group">
													<input type="password" class="form-control" id="inputPassword" placeholder="Password">
												</div>
													<div class="form-group checkbox">
                                                    
														<p><input type="checkbox" id="term" /> By clicking the 'Register' button, you confirm that you accept our 
															<a href="#">Terms of use</a>                    and                    
															<a href="#">Privacy Policy .</a>
														</p>
													</div>
								 					<button type="submit" class="btn btn-primary rg_btn  btn-lg btn-block">Register</button>
												</form>
                                                
                        <div class="row">
                        <div class="col-lg-12 fb-permission">
                            <p class="login-with-fb">
                                <i></i>
                            </p>
                            <div class="or-seperator ">
                                <span>Or</span>
                            </div>
                        </div>
                    </div>
                        <div class="row fa_ub">
                        <div class="col-lg-12">
                            <a href="#" class="btn btn-primary btn-lg btn-block face_cla">
                                <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp; Register With Facebook
                            </a>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-lg-12">
                                <a  href="#" class="btn btn-danger btn-lg btn-block">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;&nbsp; Register With Google +
                                </a>
                            </div>
                        </div>
                        <div class="row regi_na">
                            <div class="col-lg-12">
                                <p>Have an account? 
                                    <a href="#login-modal" data-toggle="modal" id="hide_reg" >Login!</a>
                                </p>
                            </div>
                        </div>
					</div>
											   
			</div>
		</div>
     </div> 
</div>
<script type="text/javascript">
$(document).ready(function(){
	 /*---------------------------------------------------
       Modal js
    ----------------------------------------------------- */
	$("#hide_log").click( function(){
		alert('hello');
		$("#login-modal").modal('hide');
		
	});
	
	$("#forgetPassword").click( function(){
		$("#login-modal").modal('hide');
		
	});
	
	$("#hide_reg").click( function(){
		$("#reg-modal").modal('hide');
		
	});
	
	$("a.view_pro").click(function(){
		$("#product-modal").modal('show');

		
		});
		
	
	});

</script>