<div class="fpart-first">
      <div class="container">
        <div class="row">
          <div class="column col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <h5>Acount </h5>
            <ul>
              <li><a href="#">My Shoping Cart</a> </li>
			  <li><a href="#">Wish List</a> </li>
            </ul>
          </div>
          <div class="column col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h5>Buying & Selling on ShopinDiscount.com</h5>
           <div>		   </div class="row">
		   <div class="column col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <ul >
              <li><a href="#">Term & Condition</a></li>
			  <li><a href="#">Privarcy Policy</a></li>
            </ul>
			</div>
			 <div class="column col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <ul >
              <li><a href="#">Seller Term & Condition</a></li>
			  <li><a href="#">Seller Policy</a></li>
            </ul>
			</div>
          </div>
          <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h5>Follow Us On</h5>
             <img src="images/socialicons/follo_us.jpg" alt="Follow Us" title="Follow Us"  class="img_follo"/>          </div>
          
          <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12 foot_for">
            <h5>Sign Up for Our Newsletter</h5>
            <div class="form-group">
            <input id="full_nam" type="text" required placeholder="Full Name" name="fname" class="form-control" />
			 <input id="email" type="email" required placeholder="email" name="email" class="form-control" />
			 <input id="mobile" type = "tel" required placeholder="Mobile No" name="mobile" class="form-control" />
                            <select class="form-control" >
                                   <option value="">Occupation </option>
                                   <option value="Business Man">Business Man</option>
                                    <option value="Designer">Designer </option>
                                    <option value="Programmer">Programmer</option>
                                    <option value="Student">Student</option>
                                    <option value="Teacher">Teacher </option>
                                    <option value="Worker">Worker</option>
                            </select>
			
                         
                            <select id="cityId" class="form-control" name="city" required="required">
                                    <option value="">Select City</option>
                                    <option value="Banepa" cityid="29785">Banepa</option>
                                    <option value="Bhaktapur" cityid="29786">Bhaktapur</option>
                                    <option value="Bidur" cityid="29787">Bidur</option>
                                    <option value="Bishalter" cityid="29788">Bishalter</option>
                                    <option value="Dhulikhel" cityid="29789">Dhulikhel</option>
                                    <option value="Kathmandu" cityid="29790">Kathmandu</option>
                                    <option value="Kirtipur" cityid="29791">Kirtipur</option>
                                    <option value="Lalitpur" cityid="29792">Lalitpur</option>
                                    <option value="Madhyapur Thimi" cityid="29793">Madhyapur Thimi</option>
                                    <option value="Panauti" cityid="29794">Panauti</option>
                                    <option value="Tribuvannagar" cityid="29795">Tribuvannagar</option>
                                    <option value="Birendranagar" cityid="29796">Birendranagar</option>
                                    <option value="Gulariya" cityid="29797">Gulariya</option>
                                    <option value="Narayan" cityid="29798">Narayan</option>
                                    <option value="Nepalganj" cityid="29799">Nepalganj</option>
                                    <option value="Surkhet" cityid="29800">Surkhet</option>
                                    <option value="Baglung" cityid="29801">Baglung</option>
                                    <option value="Weni" cityid="29802">Weni</option>
                                    <option value="Byas" cityid="29803">Byas</option>
                                    <option value="Leknath" cityid="29804">Leknath</option>
                                    <option value="Pokhara" cityid="29805">Pokhara</option>
                                    <option value="Prithivinarayan" cityid="29806">Prithivinarayan</option>
                                    <option value="Putalibazar" cityid="29807">Putalibazar</option>
                                    <option value="Waling" cityid="29808">Waling</option>
                                    <option value="Bhimeshwar" cityid="29809">Bhimeshwar</option>
                                    <option value="Jaleshwar" cityid="29810">Jaleshwar</option>
                                    <option value="Janakpur" cityid="29811">Janakpur</option>
                                    <option value="Kamalamai" cityid="29812">Kamalamai</option>
                                    <option value="Malangwa" cityid="29813">Malangwa</option>
                                    <option value="Sinduli Marhi" cityid="29814">Sinduli Marhi</option>
                                    <option value="Jumla" cityid="29815">Jumla</option>
                                    <option value="Biratnagar" cityid="29816">Biratnagar</option>
                                    <option value="Dhankuta" cityid="29817">Dhankuta</option>
                                    <option value="Dharan" cityid="29818">Dharan</option>
                                    <option value="Inaruwa" cityid="29819">Inaruwa</option>
                                    <option value="Itahari" cityid="29820">Itahari</option>
                                    <option value="Khandbari" cityid="29821">Khandbari</option>
                                    <option value="Butwal" cityid="29822">Butwal</option>
                                    <option value="Kapilwastu" cityid="29823">Kapilwastu</option>
                                    <option value="Ramgram" cityid="29824">Ramgram</option>
                                    <option value="Sidharthanagar" cityid="29825">Sidharthanagar</option>
                                    <option value="Tansen" cityid="29826">Tansen</option>
                                    <option value="Wahadurganj" cityid="29827">Wahadurganj</option>
                                    <option value="Amargadhi" cityid="29828">Amargadhi</option>
                                    <option value="Dashrathchand" cityid="29829">Dashrathchand</option>
                                    <option value="Mahendranagar" cityid="29830">Mahendranagar</option>
                                    <option value="Bhadrapur" cityid="29831">Bhadrapur</option>
                                    <option value="Damak" cityid="29832">Damak</option>
                                    <option value="Ilam" cityid="29833">Ilam</option>
                                    <option value="Mechinagar" cityid="29834">Mechinagar</option>
                                    <option value="Bharatpur" cityid="29835">Bharatpur</option>
                                    <option value="Birganj" cityid="29836">Birganj</option>
                                    <option value="Chitwan" cityid="29837">Chitwan</option>
                                    <option value="Gaur" cityid="29838">Gaur</option>
                                    <option value="Hetauda" cityid="29839">Hetauda</option>
                                    <option value="Kalaiya" cityid="29840">Kalaiya</option>
                                    <option value="Ratnanagar" cityid="29841">Ratnanagar</option>
                                    <option value="Salyan" cityid="29842">Salyan</option>
                                    <option value="Tulsipur" cityid="29843">Tulsipur</option>
                                    <option value="Lahan" cityid="29844">Lahan</option>
                                    <option value="Rajbiraj" cityid="29845">Rajbiraj</option>
                                    <option value="Siraha" cityid="29846">Siraha</option>
                                    <option value="Triyuga" cityid="29847">Triyuga</option>
                                    <option value="Dhangadi" cityid="29848">Dhangadi</option>
                                    <option value="Dipayal" cityid="29849">Dipayal</option>
                                    <option value="Tikapur" cityid="29850">Tikapur</option>

                           </select>
                         
                         
                         
                         
             <div class="form-group radio">            
                         
			<span> <input type="radio" class="gender_ca" id="gender" value="male" name="gender" />   Male</span>
			<span> <input type="radio" class="gender_ca" id="gender" value="Female" name="gender" />  Female </span> 
            </div>          
            
            </div>
            <input type="submit" value="Subscribe" class="btn btn-primary">
          </div>
        </div>
      </div>
    </div>
<div class="fpart-second">
      <div class="container">
        <div id="powered" class="clearfix">
          <div class="powered_text pull-left flip">   
<p><a href="#" target="_blank" class="categ">Mobiles:</a> <a href="#" class="sub_cat" title="mobile" target="_blank"> HTC Mobiles</a> / <a href="#" class="sub_cat" title="mobile" target="_blank">iPhones </a>/ <a href="#" class="sub_cat" title="mobile" target="_blank">LG Mobiles</a> /<a href="#" class="sub_cat" title="mobile" target="_blank"> Karbonn Mobiles</a> / <a href="#" class="sub_cat" title="mobile" target="_blank">Intex Mobiles</a> / <a href="#" class="sub_cat" title="mobile" target="_blank">Micromax Mobiles</a> / <a href="#" class="sub_cat" title="mobile" target="_blank">Asus Mobiles </a>/ <a href="#" class="sub_cat" title="mobile" target="_blank">Samsung Mobiles </a>/ <a href="#" class="sub_cat" title="mobile" target="_blank">Lenovo Mobiles</a> / <a href="#" class="sub_cat" title="mobile" target="_blank">Oppo Mobiles</a> / <a href="#" class="sub_cat" title="mobile" target="_blank">Xolo Mobiles </a>/ <a href="#" class="sub_cat" title="mobile" target="_blank">Panasonic Mobiles</a> </p>
<p><a href="#" target="_blank" class="categ">Tablets:</a> <a href="#" class="sub_cat" title="tablet" target="_blank">Apple iPads</a> / <a href="#" class="sub_cat" title="tablet" target="_blank">Samsung Tablets</a> / <a href="#" class="sub_cat" title="tablet" target="_blank">Windows Tablets </a>/<a href="#" class="sub_cat" title="tablet" target="_blank"> 3G Tablets</a> / <a href="#" class="sub_cat" title="tablet" target="_blank">Calling Tablets </a>/ <a href="#" class="sub_cat" title="tablet" target="_blank">Micromax Tablets</a> / <a href="#" class="sub_cat" title="tablet" target="_blank">Lenovo Tablets</a> / <a href="#" class="sub_cat" title="tablet" target="_blank">Asus Tablets</a> / <a href="#" class="sub_cat" title="tablet" target="_blank">Dell Tablets</a> /<a href="#" class="sub_cat" title="tablet" target="_blank"> iBall Tablets </a>/ <a href="#" class="sub_cat" title="tablet" target="_blank">Ambrane Tablets</a></p>
<p><a href="#" target="_blank" class="categ">Mobiles Accessories:</a><a href="#" class="sub_cat" title="mobile accessories" target="_blank"> Mobile Covers </a>/ <a href="#" class="sub_cat" title="mobile accessories" target="_blank">Power Banks</a> / <a href="#" class="sub_cat" title="mobile accessories" target="_blank">Samsung Power Banks</a> / <a href="#" class="sub_cat" title="mobile accessories" target="_blank">Ambrane Power Banks </a>/ <a href="#" class="sub_cat" title="mobile accessories" target="_blank">Intex Power Banks </a>/ <a href="#" class="sub_cat" title="mobile accessories" target="_blank">Sony Power Banks </a>/ <a href="#" class="sub_cat" title="mobile accessories" target="_blank">Lenovo Power Banks</a> / <a href="#" class="sub_cat" title="mobile accessories" target="_blank">PNY Power Banks</a> / <a href="#" class="sub_cat" title="mobile accessories" target="_blank">Portronics Power Banks</a></p>
<p><a href="#" target="_blank" class="categ">Computers:</a><a href="#" class="sub_cat" title="computers" target="_blank"> Lenovo Laptops</a> / <a href="#" class="sub_cat" title="computers" target="_blank">Acer Laptops </a>/ <a href="#" class="sub_cat" title="computers" target="_blank">Apple Macbooks</a> / <a href="#" class="sub_cat" title="computers" target="_blank">Notebook </a>/ <a href="#" class="sub_cat" title="computers" target="_blank">Laptops </a>/ <a href="#" class="sub_cat" title="computers" target="_blank">External Hard Disks</a> / <a href="#" class="sub_cat" title="computers" target="_blank">Dell Laptops </a>/ <a href="#" class="sub_cat" title="computers" target="_blank">HP Laptops </a>/<a href="#" class="sub_cat" title="computers" target="_blank"> Pen Drives </a></p>
<p><a href="#" target="_blank" class="categ">Camera:</a><a href="#" class="sub_cat" title="camera" target="_blank"> DSLR Cameras </a>/<a href="#" class="sub_cat" title="camera" target="_blank"> Canon Cameras </a>/ <a href="#" class="sub_cat" title="camera" target="_blank">Nikon Coolpix </a>/ <a href="#" class="sub_cat" title="camera" target="_blank">Nikon DSLR Cameras</a> /<a href="#" class="sub_cat" title="camera" target="_blank"> Sony Cameras </a>/ <a href="#" class="sub_cat" title="camera" target="_blank">Digital Cameras </a>/ <a href="#" class="sub_cat" title="camera" target="_blank">Panasonic Cameras</a> /<a href="#" class="sub_cat" title="camera" target="_blank"> Samsung Cameras</a> </p>
<p><a href="#" target="_blank" class="categ">Watches:</a> <a href="#" class="sub_cat" title="watches" target="_blank">Men's Watches </a>/ <a href="#" class="sub_cat" title="watches" target="_blank">Women's Watches </a>/ <a href="#" class="sub_cat" title="watches" target="_blank">Casio Watches </a>/ <a href="#" class="sub_cat" title="watches" target="_blank">Titan Watches</a> / <a href="#" class="sub_cat" title="watches" target="_blank">Fastrack Watches</a> /<a href="#" class="sub_cat" title="watches" target="_blank"> Fossil watches</a> /<a href="#" class="sub_cat" title="watches" target="_blank"> Casio Edifice </a>/<a href="#" class="sub_cat" title="watches" target="_blank"> Tissot Watches </a></p>
<p><a href="#" target="_blank" class="categ">Fashion:</a><a href="#" class="sub_cat" title="fashion" target="_blank"> Bags </a>/ <a href="#" class="sub_cat" title="fashion" target="_blank">Wildcraft </a>/<a href="#" class="sub_cat" title="fashion" target="_blank"> American Tourister </a>/<a href="#" class="sub_cat" title="fashion" target="_blank"> Skybags</a> /<a href="#" class="sub_cat" title="fashion" target="_blank"> Fastrack Bags </a>/ <a href="#" class="sub_cat" title="fashion" target="_blank">Shoes </a>/ <a href="#" class="sub_cat" title="fashion" target="_blank">Boots</a> / <a href="#" class="sub_cat" title="fashion" target="_blank">Kurta</a> /<a href="#" class="sub_cat" title="fashion" target="_blank">Raymond</a> / <a href="#" class="sub_cat" title="fashion" target="_blank">Ray-Ban </a></p>
<p><a href="#" target="_blank" class="categ">Home & Kitchen:</a><a href="#" class="sub_cat" title="home & kitchen" target="_blank"> Home Decor</a> /<a href="#" class="sub_cat" title="home & kitchen" target="_blank"> Paintings </a>/<a href="#" class="sub_cat" title="home & kitchen" target="_blank"> Clocks</a> /<a href="#" class="sub_cat" title="home & kitchen" target="_blank"> Flasks & Thermos </a>/<a href="#" class="sub_cat" title="home & kitchen" target="_blank"> Photo Frames</a> / <a href="#" class="sub_cat" title="home & kitchen" target="_blank">Tupperware Kitchenware </a>/<a href="#" class="sub_cat" title="home & kitchen" target="_blank"> Hawkins </a></p><a href="#" class="sub_cat" title="home & kitchen" target="_blank">Kitchenware / Milton Kitchenware</a> </p>
<p><a href="#" target="_blank" class="categ">Appliances:</a> <a href="#" class="sub_cat" title="appliances" target="_blank">Air Conditioners </a>/ <a href="#" class="sub_cat" title="appliances" target="_blank">Air Coolers</a> / <a href="#" class="sub_cat" title="appliances" target="_blank">Refrigerators </a>/<a href="#" class="sub_cat" title="appliances" target="_blank"> Fans</a> / <a href="#" class="sub_cat" title="appliances" target="_blank">Washing Machines </a>/ <a href="#" class="sub_cat" title="appliances" target="_blank">Inverters & Stabilizers</a> / <a href="#" class="sub_cat" title="appliances" target="_blank">Mircowaves</a></p>
<p><a href="#" target="_blank" class="categ">Home Furnishing:</a> <a href="#" class="sub_cat" title="home furnishing" target="_blank">Bed Linen </a>/ <a href="#" class="sub_cat" title="home furnishing" target="_blank">Bed Sheets</a> / <a href="#" class="sub_cat" title="home furnishing" target="_blank">Bath Linen</a> / <a href="#" class="sub_cat" title="home furnishing" target="_blank">Mattresses </a>/ <a href="#" class="sub_cat" title="home furnishing" target="_blank">Curtains </a>/ <a href="#" class="sub_cat" title="home furnishing" target="_blank">Cushion Covers</a> / <a href="#" class="sub_cat" title="home furnishing" target="_blank">Pillows </a>/<a href="#" class="sub_cat" title="home furnishing" target="_blank"> Blankets </a>/ <a href="#" class="sub_cat" title="home furnishing" target="_blank">Carpets</a> / <a href="#" class="sub_cat" title="home furnishing" target="_blank">Kids Bedding</a> / <a href="#" class="sub_cat" title="home furnishing" target="_blank">Sleepwell Mattress </a>/ <a href="#" class="sub_cat" title="home furnishing" target="_blank">Kurlon Mattress</a> </p>
<p><a href="#" target="_blank" class="categ">Furniture:</a><a href="#" class="sub_cat" title="furniture" target="_blank"> Living Room </a>/ <a href="#" class="sub_cat" title="furniture" target="_blank">Bedroom Furniture</a>/<a href="#" class="sub_cat" title="furniture" target="_blank"> Chairs</a> / <a href="#" class="sub_cat" title="furniture" target="_blank">Dining Sets</a> / <a href="#" class="sub_cat" title="furniture" target="_blank">Dining Chairs</a> / <a href="#" class="sub_cat" title="furniture" target="_blank">Bean Bags</a> / <a href="#" class="sub_cat" title="furniture" target="_blank">Tables and Desks</a> / <a href="#" class="sub_cat" title="furniture" target="_blank">Shoe Storage </a>/ <a href="#" class="sub_cat" title="storage cabinates toys & games" target="_blank">Storage Cabinets Toys & Games:</a><a href="#" class="sub_cat" title="storage cabinates toys & games" target="_blank"> Soft Toys</a> /<a href="#" class="sub_cat" title="storage cabinates toys & games" target="_blank"> Dolls </a>/ <a href="#" class="sub_cat" title="storage cabinates toys & games" target="_blank">Musical Toys</a> /<a href="#" class="sub_cat" title="storage cabinates toys & games" target="_blank"> Electric Scooters </a>/ <a href="#" class="sub_cat" title="storage cabinates toys & games" target="_blank">Skate Scooters</a> /<a href="#" class="sub_cat" title="storage cabinates toys & games" target="_blank"> Barbie Dolls</a>/ <a href="#" class="sub_cat" title="storage cabinates toys & games" target="_blank">Barbie Games</a> / <a href="#" class="sub_cat" title="storage cabinates toys & games" target="_blank">Action Figures </a></p>
    
          </div>
        </div>
        <div class="bottom-row">          </div>
          <div> 
		  <label class="pay_ca"> Payment Method</label>
		  <a href="#" target="_blank"> <img data-toggle="tooltip" src="images/payment/pay_1.jpg" alt="paypal" title="VISA"></a>
                  
                  <a href="#" target="_blank"> <img data-toggle="tooltip" src="images/payment/pay_2.jpg" alt="american-express" title="Maestro">
                  </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="images/payment/pay_3.jpg" alt="2checkout" title="PayPal"></a> 
                  <a href="#" target="_blank"> <img data-toggle="tooltip" src="images/payment/pay_4.jpg" alt="maestro" title="Net Banking"></a> 
                  <a href="#" target="_blank"> <img data-toggle="tooltip" src="images/payment/pay_5.jpg" alt="discover" title="Cash on Delivery"></a> 
                 
          </div>
        </div>
		<div class="bootm_foo">
	     <p>Copyright © 2016 Shop in Discount by <a href="#" target="_blank">Trilogydigital Media Pvt. Ltd</a></p>
	    </div>
      </div>
