 <!-- Top Bar Start-->
    <nav id="top" class="htop">
      		<div class="container">
        		<div class="row"> 
                <div class="col-xs-12">
                	<span class="drop-icon visible-sm visible-xs me_top"><i class="fa fa-align-justify"></i></span>
          			<div class="flip">
            			<div class="links-left">
                        	<div id="currency" class="btn-group">
             					<button class="btn-link dropdown-toggle" data-toggle="dropdown"><img src="images/flags/nrs.png" alt=""> <span> NRS <i class="fa fa-caret-down"></i></span></button>
              					<ul class="dropdown-menu">
                                    <li><button class="currency-select btn btn-link btn-block" type="button" name="USD"><img src="images/flags/gb.png"> US Dollar</button></li>
              					</ul>
            				</div>
              				<ul>
                				<li class="mobile"><i class="fa fa-phone"></i> Phone: (+977) 1 4780680</li>
								<li><a href="#">Home Delivery</a></li>                               
              				</ul>
            			</div>

          				<div id="top-links" class="left-top nav pull-right flip">
          					<div class="links">
            					<ul>
                                    <li><a href="#">Advertise</a></li>
                                    <li><a href="#">24x7 Customer Care</a></li> 
                                    <li><a href="#">Track Order</a></li>
                                    <li><a href="#">Deal of the Day</a></li>
                                    <li><a href="#">Sell with Us</a></li>         
                                    <li><a href="#login-modal" data-toggle="modal">Log In</a></li>
            					</ul>
            				</div>
          				</div>
          			</div>
                    </div>
        		</div>
      		</div>
    	</nav>
    <!-- Top Bar End-->
    <!-- Header Start-->
    <div class="row mob_lo">
    	<div class="col-xs-3">
        <div class="wsmenuexpandermain slideRight"><a id="navToggle" class="animated-arrow slideLeft" href="#"><span></span></a></div>
        <div class="wsmenucontent overlapblackbg"></div> 
      
        </div>
        <div class="col-xs-6 res_are">
        
            <div id="logo"><a href="#"><img class="img-responsive" src="images/logo_w.png" title="MarketShop" alt="MarketShop" /></a></div>
          		
        </div>
        <div class="col-xs-3 right_pa">
        <ul>
        <li><a href="#" ><img src="images/user.png" title="user" /> </a></li>
        <li><a href="#"> <img src="images/cart.png" title="cart" /> </a></li>
        </ul>
        </div>
    </div>
    <header class="header-row">
		<div class="container mob_bg">
        	<div class="table-container">
          	<!-- Logo Start -->
          		<div class="col-table-cell col-lg-5 col-md-5 col-sm-4 col-xs-12 inner">
            		<div id="logo"><a href="index.html"><img class="img-responsive" src="images/logo.png" title="MarketShop" alt="MarketShop" /></a></div>
          		</div>
               
          	<!-- Logo End -->
          	<!-- Search Start-->
          	<div class="col-table-cell col-lg-6 col-md-6  col-sm-6  col-xs-12 ">
            	
                    <div id="search" class="input-group mb_sea">
              		<input id="filter_name" type="text" name="search" value="" placeholder="What are you looking for today" class="form-control input-lg" />
              		<button type="button" class="button-search"><i class="fa fa-search"></i></button>
            	   </div>
                    
            
    
		    <div class="input-group cate_sear">
               
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="I'am Looking for...">
                 <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle categr" data-toggle="dropdown">
                    	<span id="search_concept">All Categories</span>&nbsp;&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                   <!-- <ul class="dropdown-menu drop" role="menu">
                      <li><a href="#contains">Contains</a></li>
                      <li><a href="#its_equal">Html</a></li>
                      <li><a href="#greather_than">CSS</a></li>
                      <li><a href="#less_than">Less than</a></li>
                
                     
                    </ul>-->
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default sear" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        

                    
          	</div>
          	<!-- Search End-->
          	<!-- Mini Cart Start-->
          	<div class="col-table-cell col-lg-1 col-md-2 col-sm-2 col-xs-12 inner">
            	<div id="cart">
              		<button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle"> 
                            <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i>--><img src="images/cart.png" title="cart" alt="cart" /> <span id="cart-total">Cart <b>1</b></span></button>
              	<ul class="dropdown-menu">
                    <li>
                      <table class="table">
                        <tbody>
                          <tr>
                            <td class="text-center"><a href="product.html"><img class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="images/product/sony_vaio_1-50x50.jpg"></a></td>
                            <td class="text-left"><a href="product.html">Xitefun Causal Wear Fancy Shoes</a></td>
                            <td class="text-right">x 1</td>
                            <td class="text-right">Rs.902.00</td>
                            <td class="text-center"><button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button></td>
                          </tr>
                          <tr>
                            <td class="text-center"><a href="product.html"><img class="img-thumbnail" title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop" src="images/product/samsung_tab_1-50x50.jpg"></a></td>
                            <td class="text-left"><a href="product.html">Aspire Ultrabook Laptop</a></td>
                            <td class="text-right">x 1</td>
                            <td class="text-right">Rs.230.00</td>
                            <td class="text-center"><button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                    </li>
                    <li>
                      <div>
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <td class="text-right"><strong>Sub-Total</strong></td>
                              <td class="text-right">Rs.940.00</td>
                            </tr>
                            <tr>
                              <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                              <td class="text-right">Rs.4.00</td>
                            </tr>
                            <tr>
                              <td class="text-right"><strong>VAT (20%)</strong></td>
                              <td class="text-right">Rs.188.00</td>
                            </tr>
                            <tr>
                              <td class="text-right"><strong>Total</strong></td>
                              <td class="text-right">Rs.1,132.00</td>
                            </tr>
                          </tbody>
                        </table>
                        <p class="checkout"><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> View Cart</a>&nbsp;&nbsp;&nbsp;<a href="checkout.html" class="btn btn-primary"><i class="fa fa-share"></i> Checkout</a></p>
                      </div>
                    </li>
              	</ul>
            </div>
          </div>
          <!-- Mini Cart End-->
        </div>
      </div>
    </header>
    <!-- Header End-->
    <!-- Main Menu Start-->
 
    

	<nav id="menu" class="navbar wsmenu slideLeft clearfix">
    	<div class="container">
        	<ul class="mobile-sub wsmenu-list">
                <li><a href="#">All Categories</a>
					<ul class="wsmenu-submenu">
                  		<li> <a href="#">Clothing<span>&rsaquo;</span></a>
                      		<ul class="wsmenu-submenu-sub">
                        		<li><a href="#">Men <span>&rsaquo;</span></a>
									<ul class="wsmenu-submenu-sub-sub">
										<li><a href="#">Sub Categories</a></li>
                                        <li><a href="#">Sub Categories</a></li>
                                        <li><a href="#">Sub Categories</a></li>
                                        <li><a href="#">Sub Categories</a></li>
                                        <li><a href="#">Sub Categories New</a></li>
									</ul>
								</li>
								<li><a href="#" >Women</a></li>
                        		<li><a href="#">Girls<span>&rsaquo;</span></a>
                          			<ul class="wsmenu-submenu-sub-sub">
                                    	<li><a href="#">Sub Categories </a></li>
                                        <li><a href="#">Sub Categories New</a></li>
                                        <li><a href="#">Sub Categories New</a></li>
									</ul>
								</li>
								<li><a href="#">Boys</a></li>
                                <li><a href="#">Baby</a></li>
                        		<li><a href="#">Accessories <span>&rsaquo;</span></a>
									<ul class="wsmenu-submenu-sub-sub">
                              			<li><a href="#">New Sub Categories</a></li>
                            		</ul>
								</li>
							</ul>
						</li>
						<li> <a href="#">Electronics<span>&rsaquo;</span></a>
                    		<ul class="wsmenu-submenu-sub">
								<li> <a href="#">Laptops <span>&rsaquo;</span></a>
                          			<ul class="wsmenu-submenu-sub-sub">
										<li> <a href="#">New Sub Categories </a> </li>
                                        <li> <a href="#">New Sub Categories </a> </li>
                                        <li> <a href="#">Sub Categories New </a> </li>
									</ul>
                          		</li>
                        		<li> <a href="#">Desktops <span>&rsaquo;</span></a>
                          			<ul class="wsmenu-submenu-sub-sub">
										<li> <a href="#">New Sub Categories </a> </li>
                                        <li> <a href="#">Sub Categories New </a> </li>
                                        <li> <a href="#">Sub Categories New </a> </li>
									</ul>
								</li>
                        		<li> <a href="#">Cameras <span>&rsaquo;</span></a>
                          			<ul class="wsmenu-submenu-sub-sub">
                              			<li> <a href="#">New Sub Categories</a></li>
									</ul>
								</li>
                        		<li><a href="#">Mobile Phones <span>&rsaquo;</span></a>
                          			<ul class="wsmenu-submenu-sub-sub">
										<li><a href="#">New Sub Categories</a></li>
                                        <li><a href="#">New Sub Categories</a></li>
									</ul>
								</li>
                        		<li><a href="#">TV &amp; Home Audio <span>&rsaquo;</span></a>
									<ul class="wsmenu-submenu-sub-sub">
										<li><a href="#">New Sub Categories </a> </li>
                                        <li><a href="#">Sub Categories New </a> </li>
									</ul>
								</li>
                        		<li><a href="#">MP3 Players</a> </li>
							</ul>
						</li>
						<li><a href="#">Shoes<span>&rsaquo;</span></a>
							<ul class="wsmenu-submenu-sub">
								<li><a href="#">Men</a> </li>
                        		<li><a href="#">Women <span>&rsaquo;</span></a>
									<ul class="wsmenu-submenu-sub-sub">
                            			<li><a href="#">New Sub Categories </a> </li>
                            			<li><a href="#">Sub Categories </a> </li>
									</ul>
								</li>
                                <li><a href="#">Girls</a> </li>
                                <li><a href="#">Boys</a> </li>
                                <li><a href="#">Baby</a> </li>
                        		<li><a href="#">Accessories <span>&rsaquo;</span></a>
									<ul class="wsmenu-submenu-sub-sub">
										<li><a href="#">New Sub Categories</a></li>
                                        <li><a href="#">New Sub Categories</a></li>
                                        <li><a href="#">Sub Categories</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li> <a href="#">Watches<span>&rsaquo;</span></a>
                      		<ul class="wsmenu-submenu-sub">
                            	<li> <a href="#">Men's Watches</a></li>
                                <li> <a href="#">Women's Watches</a></li>
                                <li> <a href="#">Kids' Watches</a></li>
                                <li> <a href="#">Accessories</a></li>
							</ul>
						</li>
						<li> <a href="#">Jewellery<span>&rsaquo;</span></a>
                      		<ul class="wsmenu-submenu-sub">
                        		<li> <a href="#">Silver <span>&rsaquo;</span></a>
									<ul class="wsmenu-submenu-sub-sub">
										<li> <a href="#">New Sub Categories</a></li>
                                        <li> <a href="#">New Sub Categories</a></li>
									</ul>
								</li>
                        		<li><a href="#">Gold <span>&rsaquo;</span></a>
                          			<ul class="wsmenu-submenu-sub">
										<li><a href="#">test 1</a></li>
                                        <li><a href="#">test 2</a></li>
									</ul>
								</li>
                        		<li><a href="#">Diamond</a></li>
                        		<li><a href="#">Pearl <span>&rsaquo;</span></a>
                          			<ul class="wsmenu-submenu-sub">
										<li><a href="#">New Sub Categories</a></li>
									</ul>
								</li>
                        		<li><a href="#">Men's Jewellery</a></li>
                        		<li><a href="#">Children's Jewellery <span>&rsaquo;</span></a>
                          			<ul class="wsmenu-submenu-sub">
										<li><a href="#">New Sub Categories </a> </li>
									</ul>
								</li>
							</ul>
						</li>
                  		<li><a href="#">Health &amp; Beauty<span>&rsaquo;</span></a>
							<ul class="wsmenu-submenu-sub">
                            	<li> <a href="#">Perfumes</a></li>
                                <li> <a href="#">Makeup</a></li>
                                <li> <a href="#">Sun Care</a></li>
                                <li> <a href="#">Skin Care</a></li>
                                <li> <a href="#">Eye Care</a></li>
                                <li> <a href="#">Hair Care</a></li>
							</ul>
						</li>
                  		<li> <a href="#">Kids &amp; Babies<span>&rsaquo;</span></a>
							<ul class="wsmenu-submenu-sub">
                        		<li><a href="#">Toys</a></li>
                        		<li><a href="#">Games <span>&rsaquo;</span></a>
                          			<ul class="wsmenu-submenu-sub-sub">
                              			<li><a href="#">test 25</a></li>
									</ul>
								</li>
                                <li><a href="#">Puzzles</a></li>
                                <li><a href="#">Hobbies</a></li>
                                <li><a href="#">Strollers</a></li>
                                <li><a href="#">Health &amp; Safety</a></li>
							</ul>
						</li>
                  		<li> <a href="#">Sports<span>&rsaquo;</span></a>
							<ul class="wsmenu-submenu-sub">
                            	<li><a href="#">Cycling</a></li>
                                <li><a href="#">Running</a></li>
                                <li><a href="#">Swimming</a></li>
                                <li><a href="#">Football</a></li>
                                <li><a href="#">Golf</a></li>
                                <li><a href="#">Windsurfing</a></li>
							</ul>
						</li>
                  		<li> <a href="#">Home &amp; Garden<span>&rsaquo;</span></a>
							<ul class="wsmenu-submenu-sub">
                            	<li><a href="#">Bedding</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Furniture</a></li>
                                <li><a href="#">Kitchen</a></li>
                                <li><a href="#">Lighting</a></li>
                                <li><a href="#">Tools</a></li>
							</ul>
						</li>
                  		<li> <a href="#">Wines &amp; Spirits<span>&rsaquo;</span></a>
							<ul class="wsmenu-submenu-sub">
                            	<li><a href="#">Wine</a></li>
                                <li><a href="#">Whiskey</a></li>
                                <li><a href="#">Vodka</a></li>
                                <li><a href="#">Liqueurs</a></li>
                                <li><a href="#">Beer</a></li>
							</ul>
						</li>
					</ul>                    
                  </li>
                  <li><a href="#">Electronics</a>
                  	<div class="megamenu clearfix">
                    	<ul class="col-lg-2 col-md-2 col-xs-12 col-sm-4 link-list">
                        	<li class="title"><b>TV,Audio & Video</b></li>
                         	<li><a href="#">TVs</a></li>
                        	<li><a href="#">Speakers &amp; Home Theaters</a></li>
                        	<li><a href="#">Headphones</a></li>
                        	<li><a href="#">TV Accessories</a></li>
                        	<li><a href="#">MP3 &amp; MP4 Players</a></li>
                        	<li><a href="#">Musical Instruments &amp; DJ</a></li>
                        	<li><a href="#">Shop All</a></li>
                      	</ul>
                      	<ul class="col-lg-2 col-md-2 col-xs-12 col-sm-4 link-list">
                 			<li class="title"><b>Cameras</b></li>
                			<li><a href="#">DSLRS</a></li>
                			<li><a href="#">Point and Shoot</a></li>
                			<li><a href="#">Action Cameras</a></li>
                			<li><a href="#">Camcorders</a></li>
                			<li><a href="#">Lenses &amp; Flashes</a></li>
                			<li><a href="#">Camera Accessories</a></li>
                			<li><a href="#">Shop All</a></li>                      
                		</ul>
                      	<ul class="col-lg-2 col-md-2 col-xs-12 col-sm-4 link-list">
              				<li class="title"><b>Laptops</b></li>
                   			<li><a href="#">Macbooks</a></li>
                    		<li><a href="#">Everyday Use</a></li>
                    		<li><a href="#">Gaming Laptops</a></li>
                    		<li><a href="#">High Performance</a></li>
                    		<li><a href="#">2 in 1 laptops</a></li>
                    		<li><a href="#">Software</a></li>
                    		<li><a href="#">Shop All</a></li>
                		</ul> 
                      	<ul class="col-lg-2 col-md-2 col-xs-12 col-sm-4 link-list">
              				<li class="title"><b>Small Appliances</b></li>
                 			<li><a href="#">Food Preparation</a></li>
                			<li><a href="#">Vaccum Cleaners</a></li>
                			<li><a href="#">Irons</a></li>
                			<li><a href="#">Juice Extractors</a></li>
                			<li><a href="#">Coffee &amp; Tea Maker</a></li>
                			<li><a href="#">Power Tools</a></li>
                			<li><a href="#">Shop All</a></li>
                		</ul>    
                      	<ul class="col-lg-2 col-md-2 col-xs-12 col-sm-4  link-list">
              				<li class="title"><b>Large Appliances</b></li>
                			<li><a href="#">Refrigerators</a></li>
                			<li><a href="#">Washing Machines</a></li>
                			<li><a href="#">Cooking</a></li>
                			<li><a href="#">Dish Washers</a></li>
                			<li><a href="#">Microwaves</a></li>
                			<li><a href="#">Water Dispensers</a></li>
                			<li><a href="#">Shop All</a></li>
                		</ul>  
                      	<ul class="col-lg-2 col-md-2 col-xs-12 col-sm-4  link-list">
              				<li class="title"><b>IT Accessories</b></li>
                			<li><a href="#">Game Console &amp; Titles</a></li>
                			<li><a href="#">Hard Disks and USB</a></li>
                			<li><a href="#">Routers</a></li>
                			<li><a href="#">Printers &amp; Office Supplies</a></li>
                			<li><a href="#">Cables</a></li>
                			<li><a href="#">Car Accessories</a></li>
                			<li><a href="#">Shop All</a></li>
                		</ul>       
                        <div class="row">
			<ul class="brands">
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/samsung-f-logo.jpg" alt="Samsung" title="Samsung"></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/lg.jpg"  alt="LG" title="LG" ></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/hisense.jpg"  alt="Hisense" title="Hisense" ></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/sony.jpg"  alt="Sony" title="Sony" ></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/canon.jpg"  alt="Canon" title="Canon"></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/bose.jpg" alt="Bose" title="Bose" ></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/beats.jpg" alt="Beats" title="Beats"></a>
            </li>
            
              <li class="inline-block">
              <a href="#">
              <img src="images/logo/apple.jpg" alt="Apple" title="Apple" ></a>
            </li>
            
              
            
              <li class="inline-block">
              <a href="#">
              <img src="images/logo/yamaha.jpg"  alt="Yamaha" title="Yamaha"></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/gopro.jpg"  alt="GoPro" title="GoPro"></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/hp.jpg"  alt="HP" title="HP" ></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/dell.jpg" alt="Dell" title="Dell"></a>
            </li>

            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/lenovo.jpg" alt="Lenovo" title="Lenovo" ></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/kenwood.jpg"  alt="Kenwood" title="Kenwood" ></a>
            </li>
              
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/delonghi.jpg"  alt="DeLonghi" title="DeLonghi" ></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/braun.jpg"  alt="Braun" title="Braun" ></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/moulinex.jpg"  alt="Moulinex" title="Moulinex"></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/hitachi.jpg"  alt="Hitachi" title="Hitachi" ></a>
            </li>
            
            <li class="inline-block">
              <a href="#">
              <img src="images/logo/playstation.jpg"  alt="Playstation" title="Playstation"></a>
            </li>
            
              <li class="inline-block">
              <a href="#">
              <img src="images/logo/microsoft-logo.jpg" alt="Microsoft" title="Microsoft"></a>
            </li>
            
          </ul>

        </div>                                                                                   
                    </div>
                  </li>
				  <li><a href="#">Appliances</a></li>       
                  <li><a href="#">Mobile & Tablets</a></li>       
                  <li><a href="#">Men</a></li>       
                  <li><a href="#">Women</a></li>       
                  <li><a href="#">Watches</a></li>       
                  <li><a href="#">Perfumes & Beauty </a></li>      
                  <li><a href="#">Sports & Fitness </a></li>   
                  <li class="custom-link-right"><a href="#" target="_blank">Offers</a></li>                                    
			</ul>
    	</div>
	</nav>
