<div class="Modal-box">
       
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Samsung 28 Inch HD Slim LED TV (UA-28J4100)</h4>
            </div>
            <div class="modal-body">
                        <div class="row">
                            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                       <div>
                                          <div class="image">
                                             <a href="product.html"><img src="images/product/Samsung-28-Slim-LED-UA-28J4100-larg.png" alt=" Strategies for Acquiring Your Own Laptop " title=" Strategies for Acquiring Your Own Laptop " class="img-responsive"></a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                     <div class="caption">
                                                <h5><a href="product.html">Samsung 28 Inch HD Slim LED TV (UA-28J4100)</a></h5>
                                                <div class="rating"> 
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                   <span class="fa fa-stack"><i class="fa fa-star dark-stack fa-stack-2x"></i></span> 
                                                   <span class="rev_c">(10)</span>                                   
                                                </div>
                                                <p class="price"> 
                                                   <span class="price-old">Rs.50,000.00</span> 
                                                   <span class="price-new">Rs.25,000.00</span>
                                                   <span class="text-right"> <button type="button" class="btn btn-primary">Add to Cart</button></span>
                                                </p>
                                                <ul class="detai_con">
                                                <li>Full HD</li>
                                                <li>1920 x 1080 Resolution</li>
                                                <li>178(H) degree Viewing Angle</li>
                                                <li>16 W Speaker Output</li>
                                                <li>na Audio Output</li>
                                                </ul>
                                             </div>
                                    </div>
                        </div>
            </div>
            
        
  
</div>
