 <div id="tabs" ng-controller="MyCtrl">
        <ul class="nav nav-tabs tab_con">
            <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)"><a href="javascript:void(0)">{{tab.title}}</a></li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    
    <script type="text/ng-template" id="one.tpl.html"/>
	 <div class="tab-content detail_content">
                  <div itemprop="description" id="tab-description" class="tab-pane active">
                    <div class="row" ng-repeat="subcategory_1 in discript_fetre">
                    	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                         <div class="produ_con main_con">
                         <h3>{{subcategory_1.title}}</h3>
                         <p>{{subcategory_1.decrip}}</p>
                         </div>
                        </div> 
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="image">
                        	<img src="{{subcategory_1.drcip_mg}}" class="img-responsive" alt="image1" />
                        </div>
                        </div>
                     
                    </div>
                     <div class="row" ng-repeat="subcategory_1 in discript_fetre1">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="image main_con2">
                                <img src="{{subcategory_1.drcip_mg1}}" class="img-responsive" alt="image1" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <div class="produ_con main_con2 conte">
                         <h3>{{subcategory_1.title1}}</h3>
                         <p>{{subcategory_1.decrip1}}</p>
                         </div>
                     
                    </div>
                    </div> 
                    <div class="row text-center" ng-repeat="subcategory_1 in discript_fetre2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
                         <div class="produ_con main_con3">
                         <h3>{{subcategory_1.title2}}</h3>
                         <p>{{subcategory_1.decrip2}}</p>
                         </div>
                            <div class="image cent_img">
                                <img src="{{subcategory_1.drcip_mg2}}" class="img-responsive" alt="image1" />
                            </div>
                        </div>
                       
                    </div> 
                     <div class="row text-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="produ_con main_hea">
                             <h3 ng-bind="discript_fetcntr"></h3>
                             </div>
                         </div>
                       </div>
                     <div class="row text-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="subcategory_1 in discript_fetreprodu">
                             <div class="produ_con main_con2">
                             <h4>{{subcategory_1.title}}</h4>
                             <p>{{subcategory_1.produ_tx}} </p>
                             </div>
                         </div>
                          
                      </div>
                      <div class="row text-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                            <div class="image cent_img">
                                <img ng-src="{{discript_mo4mg}}" class="img-responsive" alt="image1" />
                            </div>
                        </div>
                       
                    </div>
                  </div>
	</script>
	
	<script type="text/ng-template" id="two.tpl.html"/>
		                  <div id="tab-specification" class="tab-pane">
                    <div id="tab-specification" class="tab-pane">
                    <table class="table table-bordered" ng-repeat="subcategory_1 in prod_detl">
                      <thead>
                        <tr>
                          <td colspan="2"><strong>{{subcategory_1.title}}</strong></td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{subcategory_1.tex1}}</td>
                          <td>{{subcategory_1.tex2}}</td>
                        </tr>
                      </tbody>
                      </table>
                   
                  </div>
                  </div>
	</script>
	
	<script type="text/ng-template" id="three.tpl.html"/>
		<div id="tab-review" class="tab-pane">
                    <form class="form-horizontal">
                      <div id="review">
                        <div>
                          <table class="table table-striped table-bordered" ng-repeat="subcategory_1 in prod_review">
                            <tbody>
                              <tr>
                                <td style="width: 50%;"><strong><span>{{subcategory_1.title}}</span></strong></td>
                                <td class="text-right"><span>{{subcategory_1.tex_dte}}</span></td>
                              </tr>
                              <tr>
                                <td colspan="2"><p>{{subcategory_1.tex2}}</p>
                                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div></td>
                              </tr>
                            </tbody>
                          </table>
                         
                        </div>
                        <div class="text-right"></div>
                      </div>
                      <h2 ng-bind="discript_yorev"></h2>
                      <div class="form-group required">
                        <div class="col-sm-12">
                          <label for="input-name" class="control-label" ng-bind="discript_yornm"></label>
                          <input type="text" class="form-control" id="input-name" value="" name="name">
                        </div>
                      </div>
                      <div class="form-group required">
                        <div class="col-sm-12">
                          <label for="input-review" class="control-label" ng-bind="discript_yorevw"></label>
                          <textarea class="form-control" id="input-review" rows="5" name="text"></textarea>
                          <div class="help-block"><span class="text-danger" ng-bind="discript_notee"></span> HTML is not translated!</div>
                        </div>
                      </div>
                      <div class="form-group required">
                        <div class="col-sm-12">
                          <label class="control-label">Rating</label>
                          &nbsp;&nbsp;&nbsp; Bad&nbsp;
                          <input type="radio" value="1" name="rating">
                          &nbsp;
                          <input type="radio" value="2" name="rating">
                          &nbsp;
                          <input type="radio" value="3" name="rating">
                          &nbsp;
                          <input type="radio" value="4" name="rating">
                          &nbsp;
                          <input type="radio" value="5" name="rating">
                          &nbsp;Good</div>
                      </div>
                      <div class="buttons">
                        <div class="pull-right">
                          <button class="btn btn-primary" id="button-review" type="button" >Continue</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

	  </script>
	<!-- new section for tab under script-->
	<script type="text/ng-template" id="four.tpl.html"/>
		<div id="tab-review" class="tab-pane">
                    <form class="form-horizontal">
                      <div id="review">
                        <div>
                          <table class="table table-striped table-bordered" ng-repeat="subcategory_1 in prod_review">
                            <tbody>
                              <tr>
                                <td style="width: 50%;"><strong><span>{{subcategory_1.title}}</span></strong></td>
                                <td class="text-right"><span>{{subcategory_1.tex_dte}}</span></td>
                              </tr>
                              <tr>
                                <td colspan="2"><p>{{subcategory_1.tex2}}</p>
                                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div></td>
                              </tr>
                            </tbody>
                          </table>
                         
                        </div>
                        <div class="text-right"></div>
                      </div>
                      <h2 ng-bind="discript_yorev"></h2>
                      <div class="form-group required">
                        <div class="col-sm-12">
                          <label for="input-name" class="control-label" ng-bind="discript_yornm"></label>
                          <input type="text" class="form-control" id="input-name" value="" name="name">
                        </div>
                      </div>
                      <div class="form-group required">
                        <div class="col-sm-12">
                          <label for="input-review" class="control-label" ng-bind="discript_yorevw"></label>
                          <textarea class="form-control" id="input-review" rows="5" name="text"></textarea>
                          <div class="help-block"><span class="text-danger" ng-bind="discript_notee"></span> HTML is not translated!</div>
                        </div>
                      </div>
                      <div class="form-group required">
                        <div class="col-sm-12">
                          <label class="control-label">Rating</label>
                          &nbsp;&nbsp;&nbsp; Bad&nbsp;
                          <input type="radio" value="1" name="rating">
                          &nbsp;
                          <input type="radio" value="2" name="rating">
                          &nbsp;
                          <input type="radio" value="3" name="rating">
                          &nbsp;
                          <input type="radio" value="4" name="rating">
                          &nbsp;
                          <input type="radio" value="5" name="rating">
                          &nbsp;Good</div>
                      </div>
                      <div class="buttons">
                        <div class="pull-right">
                          <button class="btn btn-primary" id="button-review" type="button" >Continue</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
				</div>
                </div>
	</script>
    