<div class="Modal-box">
<div id="Forgot-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
                  <a href="javascript:void(0)"  title="close" class="close" ><img src="images/close.png" alt="close" /></a> 
                </div>
                <div class="modal-body">
                              <div class="loginmodal-container">
                                <h4>Forgot Password</h4><br>
                              <form>
                                <div class="form-group">
                                   
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email Or Username">
                                </div>
                               
                                <button type="submit" class="btn btn-primary rg_btn btn-lg btn-sm btn-block">Submit</button>
                               
                            </form>
                           
                             
                            </div>
                </div>
               
            </div>
        </div>
		 
    </div>