<!--Registration Modal-->

<div class="Modal-box">

 <div>



	<div id="reg-modal">



	<div>

		<div class="modal-content">

			<div class="modal-header">

				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->

                <a href="javascript:void(0)"  title="close" class="close" ><img src="images/close.png" alt="close" /></a> 

			</div>

			<div class="modal-body">

				<div class="loginmodal-container">

					<h4>Register</h4>

					<br>

						<form>

                        <div class="form-group">

							<div class="row">

								<div class="col-md-6 col-sm-6 col-xs-6 columns">

									<input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" value="">

									

									</div>

									<div class="col-md-6 col-sm-6 col-xs-6 columns">

										<input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" value="">

											

									</div>

							</div>

                            

                            </div>

									<div class="form-group">

										<input type="text" id="email" name="email" class="form-control" placeholder="Email Address" >

											

									</div>

										<div class="form-group">

									

												<!--<span class="glyphicon glyphicon-calendar"></span>-->

												<input type="date" id="date_of_birth" name="date_of_birth" value="" class="form-control" placeholder="Date of Birth">

                                              

												

											</div>

                                            

                                           

                                            

											<div class="form-group radio">

												<span><input type="radio" id="GENDER_MALE" name="gender" value="male" checked="checked" > Male   </span>           

                

												<span><input type="radio" id="GENDER_FEMALE" name="gender" value="female" > Female</span>                

            

											</div>

													<div class="form-group">

														<select id="select_country" name="select_country" class="register-country form-control"  placeholder="Country">

															<option selected="selected" value="ae">United Arab Emirates</option>

															<option value="eg">Egypt</option>

															<option value="sa">Saudi Arabia</option>

															<option value="kw">Kuwait</option>

															<option value="bh">Bahrain</option>

															<option value="om">Oman</option>

															<option value="qa">Qatar</option>

														</select>

													</div>

												

												<div class="form-group">

													<input type="password" class="form-control" id="inputPassword" placeholder="Password">

												</div>

													<div class="form-group checkbox">

                                                    

														<p><input type="checkbox" id="term" /> By clicking the 'Register' button, you confirm that you accept our 

															<a href="#">Terms of use</a>                    and                    

															<a href="#">Privacy Policy .</a>

														</p>

													</div>

								 					<button type="submit" class="btn btn-primary rg_btn btn-lg btn-sm btn-block">Register</button>

												</form>

                                                

                        <div class="row">

                        <div class="col-lg-12 fb-permission">

                            <p class="login-with-fb">

                                <i></i>

                            </p>

                            <div class="or-seperator ">

                                <span>Or</span>

                            </div>

                        </div>

                    </div>

                        <div class="row fa_ub">

                        <div class="col-lg-12">

                            <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-sm btn-block face_cla">

                                <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp; Register With Facebook

                            </a>

                            </div>

                        </div>

                       

                        <div class="row">

                            <div class="col-lg-12">

                                <a  href="javascript:void(0)" class="btn btn-danger btn-lg btn-sm btn-block">

                                    <i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;&nbsp; Register With Google +

                                </a>

                            </div>

                        </div>

                        <div class="row regi_na">

                            <div class="col-lg-12">

                                <p>Have an account? 

                                    <button class="bt_lo" ui-sref="Modal.confirmAddToCart">Log In</button>

                                </p>

                            </div>

                        </div>

					</div>

											   

			</div>

		</div>

     </div> 

</div>

 

</div>

