  <div class="Modal-box modl_prod">
  <div id="ship-modal">
    <div class="modal-dialog ship_moddial">
        <div class="modal-content">
            <!-- <div class="modal-header"> -->
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
				
                <!-- <h4 class="modal-title">Samsung 28 Inch HD Slim LED TV (UA-28J4100)</h4>
            </div> -->
       
             <div class="modal-header">
                   <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
                  <a href="javascript:void(0)"  title="close" class="close" ><img src="images/close.png" alt="close" /></a> 
                </div>
            <div class="modal-body">
                       <div class="row ship_con">
                          <div id="content_page" class="col-sm-12 col-xs-12 col-lg-12">
           						<div id="ship_block">
                                	<div class="row">
                                   	 	<div class="col-md-12">
                                        <h5>Ship my order(s) to:</h5>
                                   
                                        <form class="form-group" >
                                        <ul class="ship_input">
                                            <li>
                                           <select class='form-control'  id="country" ng-model="statessource" ng-options="country for (country, states) in countries" ng-change="GetSelectedCountry()">
                                            <option value=''>Select Country</option>
                                            </select>
                                            </li>
                                            <li>
                                           <select class='form-control'  id="state" ng-disabled="!statessource" ng-model="citiessource" ng-options="state for (state,city) in statessource" ng-change="GetSelectedState()">
                                           <option value=''>Select State</option>
            </select>
                                            </li>
                                            <li> 
                                            <select class='form-control' id="city" ng-disabled="!citiessource || !statessource" ng-model="city">
                                            <option value=''> Select City</option>
                                            <option ng-repeat="city in citiessource" value='{{city}}'>{{city}}</option>
                                           </select>
                                            
                                            </li>
                                            </ul>
                                            </form>
                                    	</div>
                                    </div>
                                    <div class="row table_data">
                                    <div class="col-md-12">
                                    <h4>Choose Shipping Method</h4>
                                        <table class="table table-hover table-bordered table-responsive">
                                        <thead>
                                        <tr>
                                        <th>Shiping Method</th>
                                        <th>Estimated Delivery Time</th>
                                        <th>Shipping Cost</th>
                                   
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        <td><label class="radio-inline"><input type="radio" name="method"/>SID Stander Delivery</label></td>
                                        <td>1 - 3 Days</td>
                                        <td>Rs. 150</td>
                                        </tr>
                                         <tr>
                                        <td><label class="radio-inline"><input type="radio" name="method" />Aramex</label></td>
                                        <td>1 Days</td>
                                        <td>Rs. 300</td>
                                        </tr>
                                       
                                        </tbody>
                                        </table>
                                    </div>
                                    
                                    </div>
                                	<div class="text-center btpad">
                                    <input type="submit" value="Apply" class="btn btn-primary btn-lg">
                                    </div>
                                </div>
         				  </div>
                       </div>
            </div>
        </div>
    </div>
</div>

</div>