<!--Registration Modal-->
<div class="Modal-box">
 <div>

	<div id="reg-modal">

	<div>
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
                <a href="javascript:void(0)"  title="close" class="close" ><img src="images/close.png" alt="close" /></a> 
			</div>
			<div class="modal-body">
			<div class="product-video">
				<iframe width="100%" height="300" src="https://www.youtube.com/embed/w2TQ00cZJgc" frameborder="0" allowfullscreen></iframe></div>										   
			</div>
		</div>
     </div> 
</div>
 
</div></div>
