<div class="fpart-first">
      <div class="container">
        <div class="row">
          <div class="column col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <h5>Acount </h5>
            <ul>
              <li><a href="javascript:void(0)">My Shoping Cart</a> </li>
			  <li><a href="javascript:void(0)">Wish List</a> </li>
            </ul>
          </div>
          <div class="column col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h5>Buying & Selling on ShopinDiscount.com</h5>
           <div>		   </div class="row">
		   <div class="column col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <ul >
              <li><a href="javascript:void(0)">Term & Condition</a></li>
			  <li><a href="javascript:void(0)">Privarcy Policy</a></li>
            </ul>
			</div>
			 <div class="column col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <ul >
              <li><a href="javascript:void(0)">Seller Term & Condition</a></li>
			  <li><a href="javascript:void(0)">Seller Policy</a></li>
            </ul>
			</div>
          </div>
          <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h5>Follow Us On</h5>
             <img src="images/socialicons/follo_us.jpg" alt="Follow Us" title="Follow Us"  class="img_follo"/>          </div>
          
          <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12 foot_for">
            <h5>Sign Up for Our Newsletter</h5>
            <div class="form-group">
            <input id="full_nam" type="text" required placeholder="Full Name" name="fname" class="form-control" />
			 <input id="email" type="email" required placeholder="email" name="email" class="form-control" />
			 <input id="mobile" type = "tel" required placeholder="Mobile No" name="mobile" class="form-control" />
                            <select class="form-control" >
                                   <option value="">Occupation </option>
                                   <option value="Business Man">Business Man</option>
                                    <option value="Designer">Designer </option>
                                    <option value="Programmer">Programmer</option>
                                    <option value="Student">Student</option>
                                    <option value="Teacher">Teacher </option>
                                    <option value="Worker">Worker</option>
                            </select>
			
                         
                            <select id="cityId" class="form-control" name="city" required="required">
                                    <option value="">Select City</option>
                                    <option value="Banepa" cityid="29785">Banepa</option>
                                    <option value="Bhaktapur" cityid="29786">Bhaktapur</option>
                                    <option value="Bidur" cityid="29787">Bidur</option>
                                    <option value="Bishalter" cityid="29788">Bishalter</option>
                                    <option value="Dhulikhel" cityid="29789">Dhulikhel</option>
                                    <option value="Kathmandu" cityid="29790">Kathmandu</option>
                                    <option value="Kirtipur" cityid="29791">Kirtipur</option>
                                    <option value="Lalitpur" cityid="29792">Lalitpur</option>
                                    <option value="Madhyapur Thimi" cityid="29793">Madhyapur Thimi</option>
                                    <option value="Panauti" cityid="29794">Panauti</option>
                                    <option value="Tribuvannagar" cityid="29795">Tribuvannagar</option>
                                    <option value="Birendranagar" cityid="29796">Birendranagar</option>
                                    <option value="Gulariya" cityid="29797">Gulariya</option>
                                    <option value="Narayan" cityid="29798">Narayan</option>
                                    <option value="Nepalganj" cityid="29799">Nepalganj</option>
                                    <option value="Surkhet" cityid="29800">Surkhet</option>
                                    <option value="Baglung" cityid="29801">Baglung</option>
                                    <option value="Weni" cityid="29802">Weni</option>
                                    <option value="Byas" cityid="29803">Byas</option>
                                    <option value="Leknath" cityid="29804">Leknath</option>
                                    <option value="Pokhara" cityid="29805">Pokhara</option>
                                    <option value="Prithivinarayan" cityid="29806">Prithivinarayan</option>
                                    <option value="Putalibazar" cityid="29807">Putalibazar</option>
                                    <option value="Waling" cityid="29808">Waling</option>
                                    <option value="Bhimeshwar" cityid="29809">Bhimeshwar</option>
                                    <option value="Jaleshwar" cityid="29810">Jaleshwar</option>
                                    <option value="Janakpur" cityid="29811">Janakpur</option>
                                    <option value="Kamalamai" cityid="29812">Kamalamai</option>
                                    <option value="Malangwa" cityid="29813">Malangwa</option>
                                    <option value="Sinduli Marhi" cityid="29814">Sinduli Marhi</option>
                                    <option value="Jumla" cityid="29815">Jumla</option>
                                    <option value="Biratnagar" cityid="29816">Biratnagar</option>
                                    <option value="Dhankuta" cityid="29817">Dhankuta</option>
                                    <option value="Dharan" cityid="29818">Dharan</option>
                                    <option value="Inaruwa" cityid="29819">Inaruwa</option>
                                    <option value="Itahari" cityid="29820">Itahari</option>
                                    <option value="Khandbari" cityid="29821">Khandbari</option>
                                    <option value="Butwal" cityid="29822">Butwal</option>
                                    <option value="Kapilwastu" cityid="29823">Kapilwastu</option>
                                    <option value="Ramgram" cityid="29824">Ramgram</option>
                                    <option value="Sidharthanagar" cityid="29825">Sidharthanagar</option>
                                    <option value="Tansen" cityid="29826">Tansen</option>
                                    <option value="Wahadurganj" cityid="29827">Wahadurganj</option>
                                    <option value="Amargadhi" cityid="29828">Amargadhi</option>
                                    <option value="Dashrathchand" cityid="29829">Dashrathchand</option>
                                    <option value="Mahendranagar" cityid="29830">Mahendranagar</option>
                                    <option value="Bhadrapur" cityid="29831">Bhadrapur</option>
                                    <option value="Damak" cityid="29832">Damak</option>
                                    <option value="Ilam" cityid="29833">Ilam</option>
                                    <option value="Mechinagar" cityid="29834">Mechinagar</option>
                                    <option value="Bharatpur" cityid="29835">Bharatpur</option>
                                    <option value="Birganj" cityid="29836">Birganj</option>
                                    <option value="Chitwan" cityid="29837">Chitwan</option>
                                    <option value="Gaur" cityid="29838">Gaur</option>
                                    <option value="Hetauda" cityid="29839">Hetauda</option>
                                    <option value="Kalaiya" cityid="29840">Kalaiya</option>
                                    <option value="Ratnanagar" cityid="29841">Ratnanagar</option>
                                    <option value="Salyan" cityid="29842">Salyan</option>
                                    <option value="Tulsipur" cityid="29843">Tulsipur</option>
                                    <option value="Lahan" cityid="29844">Lahan</option>
                                    <option value="Rajbiraj" cityid="29845">Rajbiraj</option>
                                    <option value="Siraha" cityid="29846">Siraha</option>
                                    <option value="Triyuga" cityid="29847">Triyuga</option>
                                    <option value="Dhangadi" cityid="29848">Dhangadi</option>
                                    <option value="Dipayal" cityid="29849">Dipayal</option>
                                    <option value="Tikapur" cityid="29850">Tikapur</option>

                           </select>
                         
                         
                         
                         
             <div class="form-group radio">            
                         
			<span> <input type="radio" class="gender_ca" id="gender" value="male" name="gender" />   Male</span>
			<span> <input type="radio" class="gender_ca" id="gender" value="Female" name="gender" />  Female </span> 
            </div>          
            
            </div>
            <input type="submit" value="Subscribe" class="btn btn-primary">
          </div>
        </div>
      </div>
    </div>
<div class="fpart-second">
      <div class="container">
        <div id="powered" class="clearfix">
          <div class="powered_text pull-left flip">   
<p><a href="javascript:void(0)"  class="categ">Mobiles:</a> <a href="javascript:void(0)" class="sub_cat" title="mobile" > HTC Mobiles</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile" >iPhones </a>/ <a href="javascript:void(0)" class="sub_cat" title="mobile" >LG Mobiles</a> /<a href="javascript:void(0)" class="sub_cat" title="mobile" > Karbonn Mobiles</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile" >Intex Mobiles</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile" >Micromax Mobiles</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile" >Asus Mobiles </a>/ <a href="javascript:void(0)" class="sub_cat" title="mobile" >Samsung Mobiles </a>/ <a href="javascript:void(0)" class="sub_cat" title="mobile" >Lenovo Mobiles</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile" >Oppo Mobiles</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile" >Xolo Mobiles </a>/ <a href="javascript:void(0)" class="sub_cat" title="mobile" >Panasonic Mobiles</a> </p>
<p><a href="javascript:void(0)"  class="categ">Tablets:</a> <a href="javascript:void(0)" class="sub_cat" title="tablet" >Apple iPads</a> / <a href="javascript:void(0)" class="sub_cat" title="tablet" >Samsung Tablets</a> / <a href="javascript:void(0)" class="sub_cat" title="tablet" >Windows Tablets </a>/<a href="javascript:void(0)" class="sub_cat" title="tablet" > 3G Tablets</a> / <a href="javascript:void(0)" class="sub_cat" title="tablet" >Calling Tablets </a>/ <a href="javascript:void(0)" class="sub_cat" title="tablet" >Micromax Tablets</a> / <a href="javascript:void(0)" class="sub_cat" title="tablet" >Lenovo Tablets</a> / <a href="javascript:void(0)" class="sub_cat" title="tablet" >Asus Tablets</a> / <a href="javascript:void(0)" class="sub_cat" title="tablet" >Dell Tablets</a> /<a href="javascript:void(0)" class="sub_cat" title="tablet" > iBall Tablets </a>/ <a href="javascript:void(0)" class="sub_cat" title="tablet" >Ambrane Tablets</a></p>
<p><a href="javascript:void(0)"  class="categ">Mobiles Accessories:</a><a href="javascript:void(0)" class="sub_cat" title="mobile accessories" > Mobile Covers </a>/ <a href="javascript:void(0)" class="sub_cat" title="mobile accessories" >Power Banks</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile accessories" >Samsung Power Banks</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile accessories" >Ambrane Power Banks </a>/ <a href="javascript:void(0)" class="sub_cat" title="mobile accessories" >Intex Power Banks </a>/ <a href="javascript:void(0)" class="sub_cat" title="mobile accessories" >Sony Power Banks </a>/ <a href="javascript:void(0)" class="sub_cat" title="mobile accessories" >Lenovo Power Banks</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile accessories" >PNY Power Banks</a> / <a href="javascript:void(0)" class="sub_cat" title="mobile accessories" >Portronics Power Banks</a></p>
<p><a href="javascript:void(0)"  class="categ">Computers:</a><a href="javascript:void(0)" class="sub_cat" title="computers" > Lenovo Laptops</a> / <a href="javascript:void(0)" class="sub_cat" title="computers" >Acer Laptops </a>/ <a href="javascript:void(0)" class="sub_cat" title="computers" >Apple Macbooks</a> / <a href="javascript:void(0)" class="sub_cat" title="computers" >Notebook </a>/ <a href="javascript:void(0)" class="sub_cat" title="computers" >Laptops </a>/ <a href="javascript:void(0)" class="sub_cat" title="computers" >External Hard Disks</a> / <a href="javascript:void(0)" class="sub_cat" title="computers" >Dell Laptops </a>/ <a href="javascript:void(0)" class="sub_cat" title="computers" >HP Laptops </a>/<a href="javascript:void(0)" class="sub_cat" title="computers" > Pen Drives </a></p>
<p><a href="javascript:void(0)"  class="categ">Camera:</a><a href="javascript:void(0)" class="sub_cat" title="camera" > DSLR Cameras </a>/<a href="javascript:void(0)" class="sub_cat" title="camera" > Canon Cameras </a>/ <a href="javascript:void(0)" class="sub_cat" title="camera" >Nikon Coolpix </a>/ <a href="javascript:void(0)" class="sub_cat" title="camera" >Nikon DSLR Cameras</a> /<a href="javascript:void(0)" class="sub_cat" title="camera" > Sony Cameras </a>/ <a href="javascript:void(0)" class="sub_cat" title="camera" >Digital Cameras </a>/ <a href="javascript:void(0)" class="sub_cat" title="camera" >Panasonic Cameras</a> /<a href="javascript:void(0)" class="sub_cat" title="camera" > Samsung Cameras</a> </p>
<p><a href="javascript:void(0)"  class="categ">Watches:</a> <a href="javascript:void(0)" class="sub_cat" title="watches" >Men's Watches </a>/ <a href="javascript:void(0)" class="sub_cat" title="watches" >Women's Watches </a>/ <a href="javascript:void(0)" class="sub_cat" title="watches" >Casio Watches </a>/ <a href="javascript:void(0)" class="sub_cat" title="watches" >Titan Watches</a> / <a href="javascript:void(0)" class="sub_cat" title="watches" >Fastrack Watches</a> /<a href="javascript:void(0)" class="sub_cat" title="watches" > Fossil watches</a> /<a href="javascript:void(0)" class="sub_cat" title="watches" > Casio Edifice </a>/<a href="javascript:void(0)" class="sub_cat" title="watches" > Tissot Watches </a></p>
<p><a href="javascript:void(0)"  class="categ">Fashion:</a><a href="javascript:void(0)" class="sub_cat" title="fashion" > Bags </a>/ <a href="javascript:void(0)" class="sub_cat" title="fashion" >Wildcraft </a>/<a href="javascript:void(0)" class="sub_cat" title="fashion" > American Tourister </a>/<a href="javascript:void(0)" class="sub_cat" title="fashion" > Skybags</a> /<a href="javascript:void(0)" class="sub_cat" title="fashion" > Fastrack Bags </a>/ <a href="javascript:void(0)" class="sub_cat" title="fashion" >Shoes </a>/ <a href="javascript:void(0)" class="sub_cat" title="fashion" >Boots</a> / <a href="javascript:void(0)" class="sub_cat" title="fashion" >Kurta</a> /<a href="javascript:void(0)" class="sub_cat" title="fashion" >Raymond</a> / <a href="javascript:void(0)" class="sub_cat" title="fashion" >Ray-Ban </a></p>
<p><a href="javascript:void(0)"  class="categ">Home & Kitchen:</a><a href="javascript:void(0)" class="sub_cat" title="home & kitchen" > Home Decor</a> /<a href="javascript:void(0)" class="sub_cat" title="home & kitchen" > Paintings </a>/<a href="javascript:void(0)" class="sub_cat" title="home & kitchen" > Clocks</a> /<a href="javascript:void(0)" class="sub_cat" title="home & kitchen" > Flasks & Thermos </a>/<a href="javascript:void(0)" class="sub_cat" title="home & kitchen" > Photo Frames</a> / <a href="javascript:void(0)" class="sub_cat" title="home & kitchen" >Tupperware Kitchenware </a>/<a href="javascript:void(0)" class="sub_cat" title="home & kitchen" > Hawkins </a></p><a href="javascript:void(0)" class="sub_cat" title="home & kitchen" >Kitchenware / Milton Kitchenware</a> </p>
<p><a href="javascript:void(0)"  class="categ">Appliances:</a> <a href="javascript:void(0)" class="sub_cat" title="appliances" >Air Conditioners </a>/ <a href="javascript:void(0)" class="sub_cat" title="appliances" >Air Coolers</a> / <a href="javascript:void(0)" class="sub_cat" title="appliances" >Refrigerators </a>/<a href="javascript:void(0)" class="sub_cat" title="appliances" > Fans</a> / <a href="javascript:void(0)" class="sub_cat" title="appliances" >Washing Machines </a>/ <a href="javascript:void(0)" class="sub_cat" title="appliances" >Inverters & Stabilizers</a> / <a href="javascript:void(0)" class="sub_cat" title="appliances" >Mircowaves</a></p>
<p><a href="javascript:void(0)"  class="categ">Home Furnishing:</a> <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Bed Linen </a>/ <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Bed Sheets</a> / <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Bath Linen</a> / <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Mattresses </a>/ <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Curtains </a>/ <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Cushion Covers</a> / <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Pillows </a>/<a href="javascript:void(0)" class="sub_cat" title="home furnishing" > Blankets </a>/ <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Carpets</a> / <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Kids Bedding</a> / <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Sleepwell Mattress </a>/ <a href="javascript:void(0)" class="sub_cat" title="home furnishing" >Kurlon Mattress</a> </p>
<p><a href="javascript:void(0)"  class="categ">Furniture:</a><a href="javascript:void(0)" class="sub_cat" title="furniture" > Living Room </a>/ <a href="javascript:void(0)" class="sub_cat" title="furniture" >Bedroom Furniture</a>/<a href="javascript:void(0)" class="sub_cat" title="furniture" > Chairs</a> / <a href="javascript:void(0)" class="sub_cat" title="furniture" >Dining Sets</a> / <a href="javascript:void(0)" class="sub_cat" title="furniture" >Dining Chairs</a> / <a href="javascript:void(0)" class="sub_cat" title="furniture" >Bean Bags</a> / <a href="javascript:void(0)" class="sub_cat" title="furniture" >Tables and Desks</a> / <a href="javascript:void(0)" class="sub_cat" title="furniture" >Shoe Storage </a>/ <a href="javascript:void(0)" class="sub_cat" title="storage cabinates toys & games" >Storage Cabinets Toys & Games:</a><a href="javascript:void(0)" class="sub_cat" title="storage cabinates toys & games" > Soft Toys</a> /<a href="javascript:void(0)" class="sub_cat" title="storage cabinates toys & games" > Dolls </a>/ <a href="javascript:void(0)" class="sub_cat" title="storage cabinates toys & games" >Musical Toys</a> /<a href="javascript:void(0)" class="sub_cat" title="storage cabinates toys & games" > Electric Scooters </a>/ <a href="javascript:void(0)" class="sub_cat" title="storage cabinates toys & games" >Skate Scooters</a> /<a href="javascript:void(0)" class="sub_cat" title="storage cabinates toys & games" > Barbie Dolls</a>/ <a href="javascript:void(0)" class="sub_cat" title="storage cabinates toys & games" >Barbie Games</a> / <a href="javascript:void(0)" class="sub_cat" title="storage cabinates toys & games" >Action Figures </a></p>
    
          </div>
        </div>
        <div class="bottom-row">          </div>
          <div> 
		  <label class="pay_ca"> Payment Method</label>
		  <a href="javascript:void(0)" > <img data-toggle="tooltip" src="images/payment/pay_1.jpg" alt="paypal" title="VISA"></a>
                  
                  <a href="javascript:void(0)" > <img data-toggle="tooltip" src="images/payment/pay_2.jpg" alt="american-express" title="Maestro">
                  </a> <a href="javascript:void(0)" > <img data-toggle="tooltip" src="images/payment/pay_3.jpg" alt="2checkout" title="PayPal"></a> 
                  <a href="javascript:void(0)" > <img data-toggle="tooltip" src="images/payment/pay_4.jpg" alt="maestro" title="Net Banking"></a> 
                  <a href="javascript:void(0)" > <img data-toggle="tooltip" src="images/payment/pay_5.jpg" alt="discover" title="Cash on Delivery"></a> 
                 
          </div>
        </div>
		<div class="bootm_foo">
	     <p>Copyright © 2016 Shop in Discount by <a href="javascript:void(0)" >Trilogydigital Media Pvt. Ltd</a></p>
	    </div>
      </div>
