  <div class="Modal-box modl_prod">
  <div id="product-modal">
    <div class="modal-dialog new_moddial">
        <div class="modal-content">
            <!-- <div class="modal-header"> -->
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
				
                <!-- <h4 class="modal-title">Samsung 28 Inch HD Slim LED TV (UA-28J4100)</h4>
            </div> -->
       
             <div class="modal-header">
                   <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
                  <a href="javascript:void(0)"  title="close" class="close" ><img src="images/close.png" alt="close" /></a> 
                </div>
            <div class="modal-body">
                       <div class="row  main_de">
                      <div id="content_page" class="col-sm-12 col-xs-12 col-lg-12" scrollbar>
            <div class="row product-info quick">
              <div class="col-lg-5 col-sm-5 col-xs-12 image_zoo">
                <div class="row product_zoom" ng-controller="EZPlusCtrl" ng-init="setApproot('');zoom01=false;zoom01a=false;zoom03=false;zoom04=false;">
                    <div class="col-lg-10 pull-right">
                    <div class="image">
                     

               <img 
                 src="images/mobile/mo_img.jpg"
                 data-zoom-image="images/mobile/mo_img.jpg"

                 ez-plus
                 ezp-model="zoomModelGallery01"
                 ezp-options="zoomOptionsGallery01"
                />
                    

            
                     </div>
                    <div class="center-block text-center">
                    
                    <span class="zoom-gallery"><i class="fa fa-search"></i> Mouse over to zoom in</span></div>
                    
                    </div>
                    <div class="col-lg-2 pull-left">
                        <!-- <div class="image-additional" id="gallery_01"> 
                         <a class="thumbnail" href="#" data-zoom-image="images/mobile/mo_big1.jpg" data-image="images/mobile/mo_big1.jpg" title="Laptop Silver black">
                 <img src="images/mobile/mo_sm1.png" title="Laptop Silver black" alt = "Laptop Silver black"/></a>
                 
                  <a class="thumbnail" href="#" data-zoom-image="images/mobile/mo_big1.jpg" data-image="images/mobile/mo_big1.jpg" title="Laptop Silver black">
                  <img src="images/mobile/mo_sm2.png" title="Laptop Silver black" alt="Laptop Silver black" /></a> 
                  <a class="thumbnail" href="#" data-zoom-image="images/product/macbook_air_2-500x500.jpg" data-image="image/product/macbook_air_2-350x350.jpg" title="Laptop Silver black"><img src="images/mobile/mo_sm3.png" title="Laptop Silver black" alt="Laptop Silver black" /></a> <a class="thumbnail" href="#" data-zoom-image="images/product/macbook_air_3-500x500.jpg" data-image="image/product/macbook_air_3-350x350.jpg" title="Laptop Silver black"><img src="images/mobile/mo_sm4.png" title="Laptop Silver black" alt="Laptop Silver black" /></a> </div>-->
                   <div id="gallery_01">
                            <a class="img-group-01"
                               ng-repeat="image2 in imagesForGallery"
                               ng-click="setActiveImageInGallery('zoomModelGallery01',image2);"
            
                               data-image="{{approot}}{{image2.small}}"
                               data-zoom-image="{{approot}}{{image2.large}}"
            
                               href="javascript:void(0)">
                                <img ng-src="{{approot}}{{image2.thumb}}"/>
                            </a>
                        </div>
                  		
                    </div>
                  </div>
                  <div class="row pro_descr"> 
                      <div class="col-lg-12">
                        <h5>Description:</h5>
                        <p>Easy multitasking with faster SJ1.5's Quad-core MediaTek processor, 
Stay connected, always ready with 3,000 mAh battery,  SJ1.5 comes with 16GB of internal storage and a MicroSD™ tray, Dual SIM, Know your position with an A-GPS sensor that helps navigate</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7 cont_are">
              <div class="set_pa">
              <h3 class="title" itemprop="name">Obi Worldphone SJ5.1 Dual Sim 16 GB Smartphone</h3>
                <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                  <meta itemprop="ratingValue" content="0" />
                 <p>
                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                   <span class="fa fa-stack"><i class="fa fa-star dark-stack fa-stack-2x"></i></span> 
                   <span class="rev_c">(105)</span>                                   
                  
                  <a onClick="$('a[href=\'#tab-review\']').trigger('click'); return false;" href="#"><span itemprop="reviewCount">reviews <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                  
                  </a> | <a onClick="$('a[href=\'#tab-review\']').trigger('click'); return false;" href="#"><b>160 already sold</b></a></p>
                </div>
                <hr>
                
                <ul class="list-unstyled price_pro">
                  <li>Price:</li>
                  <li class="price">
                  <span class="price-old">Rs.1,202.00</span>
                  <span itemprop="price">Rs.1,142.00</span>
                  <span class="label label-danger">3% Off</span>
                   </li>
                </ul>
                
                
                <div class="price-box detail_ca">
                  <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                      Color:
                      </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <ul class="list-unstyled">
                                <li><a href="#" class="btn btn-default">Black</a></li>
                                <li><a href="#" class="btn btn-default">Red</a></li>
                                <li><a href="#" class="btn btn-default">Blue</a></li>
                            </ul>
                          </div>
                   </div>
                 <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                      Size:
                      </div>
                       <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                       <ul class="list-unstyled">
                            <li><a href="#" class="btn btn-default">S</a></li>
                            <li><a href="#" class="btn btn-default">M</a></li>
                            <li><a href="#" class="btn btn-default">L</a></li>
                            <li><a href="#" class="btn btn-default">XL</a></li>
                            <li><a href="#" class="btn btn-default">XXL</a></li>
                        </ul>
                      </div>
                   </div>
                  <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                      Quantity:
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                     <div class="qty">
                        
                        <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                     
                            <a class="qtyBtn plus" href="javascript:void(0);">+</a>
                            <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                       
                        <div class="clear"></div>
                      </div>
                  </div>
                  
                  </div>
                  <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Shiping:</div>
                       <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 ship_are">
                       <label>Rs 150 to <a href="javascript:void(0)"><span>Kathmandu Inside Ring Road via SID Standard Delivery</span><i class="fa fa-angle-down" aria-hidden="true"></i></a> </label>
                       <p>Estimated Delivery Time: 1-3 days (ships out within 3 business days)</p>
                       </div>
                      
                </div>
                </div>
               
                <div class="row but_sec">
                 
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button type="button" id="button-cart" class="btn btn-primary btn-lg btn-block ">Buy Now</button>
                  <ul class="list-unstyled favor">
                    <li><a href="#"> <i class="fa fa-heart"></i> <span>Add to Favourite</span></a> </li>
                    <li><a href="#"><img src="images/compare.png"><span>Compare</span></a> </li>
                  </ul>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                      <div class="coup">
                        <h4>COUPON</h4>
                        <p>Get<span> 5% discount</span> per Rs. 1500</p>
                      </div>
                  </div>
                  
                </div>
                <div class="row pro_sec">
                 
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product_de text-center">
                        <h4>Seller Information</h4>
                        <img src="images/product/mic.png" alt="product" />
                        <b>obiw</b>
                        <span class="pro_titl">Selling for 2 years</span>
                        <p class="rating">
                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                   <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                   <span class="fa fa-stack"><i class="fa fa-star dark-stack fa-stack-2x"></i></span> 
                   <span class="rev_c">(10)</span></p> 
                   <p class="veri_class"> <a href="#"><img src="images/checkd.png" alt="check" /> Verified by SID [?]</a></p>
                        
                    </div>
                  </div>
                   <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 set_us">
                        <div class="user_sec1">
                            
                                <ul class="list-unstyled">
                                    <li>
                                    <a href="#" ><img src="images/store.png" />Visit Store </a>
                                    </li>
                                    <li>
                                    <a href="#" ><img src="images/user_ plus.png" />  Follow Seller</a>
                                    </li>
                                    <li>
                                    <a href="#" ><img src="images/chart.png" />Chat with Seller</a>
                                    </li>
                                </ul>
                          
                        </div>
                        <div class="list_user">
                         <h5>This Seller has <span>30 followers</span></h5>
                         <ul class="list-unstyled list_data">
                         <li><img src="images/user_ico/user1.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user2.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user3.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user4.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user5.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user6.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user7.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user8.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user5.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/userN.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/userH.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user9.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user10.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user11.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user12.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user13.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user14.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user15.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user16.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user17.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user18.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user19.jpg" alt="user" /></li> 
                          <li><img src="images/user_ico/user3.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user20.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user21.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user22.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user23.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user8.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user5.jpg" alt="user" /></li>
                         <li><img src="images/user_ico/user22.jpg" alt="user" /></li>
                             
                             
                         </ul>
                        </div>
                   </div>
               </div>
              
               </div>
              </div>
            </div>
        </div>
 
    
                       </div>
            </div>
        </div>
    </div>
</div>

</div>