  <div class="Modal-box modl_prod">
  <div id="ship-modal">
    <div class="modal-dialog ship_moddial">
        <div class="modal-content">
            <!-- <div class="modal-header"> -->
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
				
                <!-- <h4 class="modal-title">Samsung 28 Inch HD Slim LED TV (UA-28J4100)</h4>
            </div> -->
       
             <div class="modal-header">
                   <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
                  <a href="javascript:void(0)"  title="close" class="close" ><img src="images/close.png" alt="close" /></a> 
                </div>
            <div class="modal-body">
                       <div class="row ship_con">
                          <div id="content_page" class="col-sm-12 col-xs-12 col-lg-12">
           						<div id="ship_block">
                                	<div class="row">
                                   	 	<div class="col-md-12">
                                        <h5>Ship my order(s) to:</h5>
                                        <form class="form-group" >
                                        <ul class="ship_input">
                                            <li><select class="form-control" id="countId">
                                            <option value="">Select Country</option>
                                            <option value="AF">Afghanistan</option>
                                            <option value="AL">Albania</option>
                                            <option value="DZ">Algeria</option>
                                            <option value="AS">American Samoa</option>
                                            <option value="AD">Andorra</option>
                                            <option value="AO">Angola</option>
                                            <option value="AI">Anguilla</option>
                                            <option value="AQ">Antarctica</option>
                                            <option value="AG">Antigua and Barbuda</option>
                                            <option value="AR">Argentina</option>
                                            <option value="AM">Armenia</option>
                                            <option value="AW">Aruba</option>
                                            <option value="AU">Australia</option>
                                            <option value="AT">Austria</option>
                                            <option value="AZ">Azerbaijan</option>
                                            <option value="BH">Bahrain</option>
                                            <option value="BD">Bangladesh</option>
                                            <option value="BB">Barbados</option>
                                            <option value="BY">Belarus</option>
                                            <option value="BE">Belgium</option>
                                            <option value="BZ">Belize</option>
                                            <option value="BJ">Benin</option>
                                            <option value="BM">Bermuda</option>
                                            <option value="BT">Bhutan</option>
                                            <option value="BO">Bolivia</option>
                                            <option value="BA">Bosnia and Herzegovina</option>
                                            <option value="BW">Botswana</option>
                                            <option value="BV">Bouvet Island</option>
                                            <option value="BR">Brazil</option>
                                            <option value="IO">British Indian Ocean Territory</option>
                                            <option value="VG">British Virgin Islands</option>
                                            <option value="BN">Brunei</option>
                                            <option value="BG">Bulgaria</option>
                                            <option value="BF">Burkina Faso</option>
                                            <option value="BI">Burundi</option>
                                            <option value="CI">Côte d'Ivoire</option>
                                            <option value="KH">Cambodia</option>
                                            <option value="CM">Cameroon</option>
                                            <option value="CA">Canada</option>
                                            <option value="CV">Cape Verde</option>
                                            <option value="KY">Cayman Islands</option>
                                            <option value="CF">Central African Republic</option>
                                            <option value="TD">Chad</option>
                                            <option value="CL">Chile</option>
                                            <option value="CN">China</option>
                                            <option value="CX">Christmas Island</option>
                                            <option value="CC">Cocos (Keeling) Islands</option>
                                            <option value="CO">Colombia</option>
                                            <option value="KM">Comoros</option>
                                            <option value="CG">Congo</option>
                                            <option value="CK">Cook Islands</option>
                                            <option value="CR">Costa Rica</option>
                                            <option value="HR">Croatia</option>
                                            <option value="CU">Cuba</option>
                                            <option value="CY">Cyprus</option>
                                            <option value="CZ">Czech Republic</option>
                                            <option value="CD">Democratic Republic of the Congo</option>
                                            <option value="DK">Denmark</option>
                                            <option value="DJ">Djibouti</option>
                                            <option value="DM">Dominica</option>
                                            <option value="DO">Dominican Republic</option>
                                            <option value="TP">East Timor</option>
                                            <option value="EC">Ecuador</option>
                                            <option value="EG">Egypt</option>
                                            <option value="SV">El Salvador</option>
                                            <option value="GQ">Equatorial Guinea</option>
                                            <option value="ER">Eritrea</option>
                                            <option value="EE">Estonia</option>
                                            <option value="ET">Ethiopia</option>
                                            <option value="FO">Faeroe Islands</option>
                                            <option value="FK">Falkland Islands</option>
                                            <option value="FJ">Fiji</option>
                                            <option value="FI">Finland</option>
                                            <option value="MK">Former Yugoslav Republic of Macedonia</option>
                                            <option value="FR">France</option>
                                            <option value="FX">France, Metropolitan</option>
                                            <option value="GF">French Guiana</option>
                                            <option value="PF">French Polynesia</option>
                                            <option value="TF">French Southern Territories</option>
                                            <option value="GA">Gabon</option>
                                            <option value="GE">Georgia</option>
                                            <option value="DE">Germany</option>
                                            <option value="GH">Ghana</option>
                                            <option value="GI">Gibraltar</option>
                                            <option value="GR">Greece</option>
                                            <option value="GL">Greenland</option>
                                            <option value="GD">Grenada</option>
                                            <option value="GP">Guadeloupe</option>
                                            <option value="GU">Guam</option>
                                            <option value="GT">Guatemala</option>
                                            <option value="GN">Guinea</option>
                                            <option value="GW">Guinea-Bissau</option>
                                            <option value="GY">Guyana</option>
                                            <option value="HT">Haiti</option>
                                            <option value="HM">Heard and Mc Donald Islands</option>
                                            <option value="HN">Honduras</option>
                                            <option value="HK">Hong Kong</option>
                                            <option value="HU">Hungary</option>
                                            <option value="IS">Iceland</option>
                                            <option value="IN">India</option>
                                            <option value="ID">Indonesia</option>
                                            <option value="IR">Iran</option>
                                            <option value="IQ">Iraq</option>
                                            <option value="IE">Ireland</option>
                                            <option value="IL">Israel</option>
                                            <option value="IT">Italy</option>
                                            <option value="JM">Jamaica</option>
                                            <option value="JP">Japan</option>
                                            <option value="JO">Jordan</option>
                                            <option value="KZ">Kazakhstan</option>
                                            <option value="KE">Kenya</option>
                                            <option value="KI">Kiribati</option>
                                            <option value="KW">Kuwait</option>
                                            <option value="KG">Kyrgyzstan</option>
                                            <option value="LA">Laos</option>
                                            <option value="LV">Latvia</option>
                                            <option value="LB">Lebanon</option>
                                            <option value="LS">Lesotho</option>
                                            <option value="LR">Liberia</option>
                                            <option value="LY">Libya</option>
                                            <option value="LI">Liechtenstein</option>
                                            <option value="LT">Lithuania</option>
                                            <option value="LU">Luxembourg</option>
                                            <option value="MO">Macau</option>
                                            <option value="MG">Madagascar</option>
                                            <option value="MW">Malawi</option>
                                            <option value="MY">Malaysia</option>
                                            <option value="MV">Maldives</option>
                                            <option value="ML">Mali</option>
                                            <option value="MT">Malta</option>
                                            <option value="MH">Marshall Islands</option>
                                            <option value="MQ">Martinique</option>
                                            <option value="MR">Mauritania</option>
                                            <option value="MU">Mauritius</option>
                                            <option value="YT">Mayotte</option>
                                            <option value="MX">Mexico</option>
                                            <option value="FM">Micronesia</option>
                                            <option value="MD">Moldova</option>
                                            <option value="MC">Monaco</option>
                                            <option value="MN">Mongolia</option>
                                            <option value="ME">Montenegro</option>
                                            <option value="MS">Montserrat</option>
                                            <option value="MA">Morocco</option>
                                            <option value="MZ">Mozambique</option>
                                            <option value="MM">Myanmar</option>
                                            <option value="NA">Namibia</option>
                                            <option value="NR">Nauru</option>
                                            <option value="NP">Nepal</option>
                                            <option value="NL">Netherlands</option>
                                            <option value="AN">Netherlands Antilles</option>
                                            <option value="NC">New Caledonia</option>
                                            <option value="NZ">New Zealand</option>
                                            <option value="NI">Nicaragua</option>
                                            <option value="NE">Niger</option>
                                            <option value="NG">Nigeria</option>
                                            <option value="NU">Niue</option>
                                            <option value="NF">Norfolk Island</option>
                                            <option value="KP">North Korea</option>
                                            <option value="MP">Northern Marianas</option>
                                            <option value="NO">Norway</option>
                                            <option value="OM">Oman</option>
                                            <option value="PK">Pakistan</option>
                                            <option value="PW">Palau</option>
                                            <option value="PS">Palestine</option>
                                            <option value="PA">Panama</option>
                                            <option value="PG">Papua New Guinea</option>
                                            <option value="PY">Paraguay</option>
                                            <option value="PE">Peru</option>
                                            <option value="PH">Philippines</option>
                                            <option value="PN">Pitcairn Islands</option>
                                            <option value="PL">Poland</option>
                                            <option value="PT">Portugal</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="QA">Qatar</option>
                                            <option value="RE">Reunion</option>
                                            <option value="RO">Romania</option>
                                            <option value="RU">Russia</option>
                                            <option value="RW">Rwanda</option>
                                            <option value="ST">São Tomé and Príncipe</option>
                                            <option value="SH">Saint Helena</option>
                                            <option value="PM">St. Pierre and Miquelon</option>
                                            <option value="KN">Saint Kitts and Nevis</option>
                                            <option value="LC">Saint Lucia</option>
                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                            <option value="WS">Samoa</option>
                                            <option value="SM">San Marino</option>
                                            <option value="SA">Saudi Arabia</option>
                                            <option value="SN">Senegal</option>
                                            <option value="RS">Serbia</option>
                                            <option value="SC">Seychelles</option>
                                            <option value="SL">Sierra Leone</option>
                                            <option value="SG">Singapore</option>
                                            <option value="SK">Slovakia</option>
                                            <option value="SI">Slovenia</option>
                                            <option value="SB">Solomon Islands</option>
                                            <option value="SO">Somalia</option>
                                            <option value="ZA">South Africa</option>
                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                            <option value="KR">South Korea</option>
                                            <option value="ES">Spain</option>
                                            <option value="LK">Sri Lanka</option>
                                            <option value="SD">Sudan</option>
                                            <option value="SR">Suriname</option>
                                            <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                            <option value="SZ">Swaziland</option>
                                            <option value="SE">Sweden</option>
                                            <option value="CH">Switzerland</option>
                                            <option value="SY">Syria</option>
                                            <option value="TW">Taiwan</option>
                                            <option value="TJ">Tajikistan</option>
                                            <option value="TZ">Tanzania</option>
                                            <option value="TH">Thailand</option>
                                            <option value="BS">The Bahamas</option>
                                            <option value="GM">The Gambia</option>
                                            <option value="TG">Togo</option>
                                            <option value="TK">Tokelau</option>
                                            <option value="TO">Tonga</option>
                                            <option value="TT">Trinidad and Tobago</option>
                                            <option value="TN">Tunisia</option>
                                            <option value="TR">Turkey</option>
                                            <option value="TM">Turkmenistan</option>
                                            <option value="TC">Turks and Caicos Islands</option>
                                            <option value="TV">Tuvalu</option>
                                            <option value="VI">US Virgin Islands</option>
                                            <option value="UG">Uganda</option>
                                            <option value="UA">Ukraine</option>
                                            <option value="AE">United Arab Emirates</option>
                                            <option value="GB">United Kingdom</option>
                                            <option value="US">United States</option>
                                            <option value="UM">United States Minor Outlying Islands</option>
                                            <option value="UY">Uruguay</option>
                                            <option value="UZ">Uzbekistan</option>
                                            <option value="VU">Vanuatu</option>
                                            <option value="VA">Vatican City</option>
                                            <option value="VE">Venezuela</option>
                                            <option value="VN">Vietnam</option>
                                            <option value="WF">Wallis and Futuna Islands</option>
                                            <option value="EH">Western Sahara</option>
                                            <option value="YE">Yemen</option>
                                            <option value="ZM">Zambia</option>
                                            <option value="ZW">Zimbabwe</option>
                                            </select>
                                            </li>
                                            <li>
                                            <select class="form-control" id="stateId">
                                            <option value="">Select State</option>
                                            <option value="BA">Bagmati</option>
                                            <option value="BH">Bheri</option>
                                            <option value="DH">Dhawalagiri</option>
                                            <option value="GA">Gandaki</option>
                                            <option value="JA">Janakpur</option>
                                            <option value="KA">Karnali</option>
                                            <option value="KO">Kosi</option>
                                            <option value="LU">Lumbini</option>
                                            <option value="MA">Mahakali</option>
                                            <option value="ME">Mechi</option>
                                            <option value="NA">Narayani</option>
                                            <option value="RA">Rapti</option>
                                            <option value="SA">Sagarmatha</option>
                                            <option value="SE">Seti</option>
                                            </select>
                                            </li>
                                            <li> <select id="cityId" class="form-control" name="city" required="required">
                                            <option value="">Select City</option>
                                            <option value="Banepa" cityid="29785">Banepa</option>
                                            <option value="Bhaktapur" cityid="29786">Bhaktapur</option>
                                            <option value="Bidur" cityid="29787">Bidur</option>
                                            <option value="Bishalter" cityid="29788">Bishalter</option>
                                            <option value="Dhulikhel" cityid="29789">Dhulikhel</option>
                                            <option value="Kathmandu" cityid="29790">Kathmandu</option>
                                            <option value="Kirtipur" cityid="29791">Kirtipur</option>
                                            <option value="Lalitpur" cityid="29792">Lalitpur</option>
                                            <option value="Madhyapur Thimi" cityid="29793">Madhyapur Thimi</option>
                                            <option value="Panauti" cityid="29794">Panauti</option>
                                            <option value="Tribuvannagar" cityid="29795">Tribuvannagar</option>
                                            <option value="Birendranagar" cityid="29796">Birendranagar</option>
                                            <option value="Gulariya" cityid="29797">Gulariya</option>
                                            <option value="Narayan" cityid="29798">Narayan</option>
                                            <option value="Nepalganj" cityid="29799">Nepalganj</option>
                                            <option value="Surkhet" cityid="29800">Surkhet</option>
                                            <option value="Baglung" cityid="29801">Baglung</option>
                                            <option value="Weni" cityid="29802">Weni</option>
                                            <option value="Byas" cityid="29803">Byas</option>
                                            <option value="Leknath" cityid="29804">Leknath</option>
                                            <option value="Pokhara" cityid="29805">Pokhara</option>
                                            <option value="Prithivinarayan" cityid="29806">Prithivinarayan</option>
                                            <option value="Putalibazar" cityid="29807">Putalibazar</option>
                                            <option value="Waling" cityid="29808">Waling</option>
                                            <option value="Bhimeshwar" cityid="29809">Bhimeshwar</option>
                                            <option value="Jaleshwar" cityid="29810">Jaleshwar</option>
                                            <option value="Janakpur" cityid="29811">Janakpur</option>
                                            <option value="Kamalamai" cityid="29812">Kamalamai</option>
                                            <option value="Malangwa" cityid="29813">Malangwa</option>
                                            <option value="Sinduli Marhi" cityid="29814">Sinduli Marhi</option>
                                            <option value="Jumla" cityid="29815">Jumla</option>
                                            <option value="Biratnagar" cityid="29816">Biratnagar</option>
                                            <option value="Dhankuta" cityid="29817">Dhankuta</option>
                                            <option value="Dharan" cityid="29818">Dharan</option>
                                            <option value="Inaruwa" cityid="29819">Inaruwa</option>
                                            <option value="Itahari" cityid="29820">Itahari</option>
                                            <option value="Khandbari" cityid="29821">Khandbari</option>
                                            <option value="Butwal" cityid="29822">Butwal</option>
                                            <option value="Kapilwastu" cityid="29823">Kapilwastu</option>
                                            <option value="Ramgram" cityid="29824">Ramgram</option>
                                            <option value="Sidharthanagar" cityid="29825">Sidharthanagar</option>
                                            <option value="Tansen" cityid="29826">Tansen</option>
                                            <option value="Wahadurganj" cityid="29827">Wahadurganj</option>
                                            <option value="Amargadhi" cityid="29828">Amargadhi</option>
                                            <option value="Dashrathchand" cityid="29829">Dashrathchand</option>
                                            <option value="Mahendranagar" cityid="29830">Mahendranagar</option>
                                            <option value="Bhadrapur" cityid="29831">Bhadrapur</option>
                                            <option value="Damak" cityid="29832">Damak</option>
                                            <option value="Ilam" cityid="29833">Ilam</option>
                                            <option value="Mechinagar" cityid="29834">Mechinagar</option>
                                            <option value="Bharatpur" cityid="29835">Bharatpur</option>
                                            <option value="Birganj" cityid="29836">Birganj</option>
                                            <option value="Chitwan" cityid="29837">Chitwan</option>
                                            <option value="Gaur" cityid="29838">Gaur</option>
                                            <option value="Hetauda" cityid="29839">Hetauda</option>
                                            <option value="Kalaiya" cityid="29840">Kalaiya</option>
                                            <option value="Ratnanagar" cityid="29841">Ratnanagar</option>
                                            <option value="Salyan" cityid="29842">Salyan</option>
                                            <option value="Tulsipur" cityid="29843">Tulsipur</option>
                                            <option value="Lahan" cityid="29844">Lahan</option>
                                            <option value="Rajbiraj" cityid="29845">Rajbiraj</option>
                                            <option value="Siraha" cityid="29846">Siraha</option>
                                            <option value="Triyuga" cityid="29847">Triyuga</option>
                                            <option value="Dhangadi" cityid="29848">Dhangadi</option>
                                            <option value="Dipayal" cityid="29849">Dipayal</option>
                                            <option value="Tikapur" cityid="29850">Tikapur</option>
                                            
                                            </select></li>
                                            </ul>
                                            </form>
                                    	</div>
                                    </div>
                                    <div class="row table_data">
                                    <div class="col-md-12">
                                    <h4>Choose Shipping Method</h4>
                                        <table class="table table-hover table-bordered table-responsive">
                                        <thead>
                                        <tr>
                                        <th>Shiping Method</th>
                                        <th>Estimated Delivery Time</th>
                                        <th>Shipping Cost</th>
                                   
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        <td><input type="radio" name="method"/>SID Stander Delivery</td>
                                        <td>1 - 3 Days</td>
                                        <td>Rs. 150</td>
                                        </tr>
                                         <tr>
                                        <td><input type="radio" name="method" />Aramex</td>
                                        <td>1 Days</td>
                                        <td>Rs. 300</td>
                                        </tr>
                                       
                                        </tbody>
                                        </table>
                                    </div>
                                    
                                    </div>
                                	<div class="text-center">
                                    <input type="submit" value="Apply" class="btn btn-primary btn-lg">
                                    </div>
                                </div>
         				  </div>
                       </div>
            </div>
        </div>
    </div>
</div>

</div>