<div class="row img-bm-resp">
        	<div class="col-xs-12 img-bm">
            	<img src="images/top-ban.jpg" alt="" class="img-responsive">           
                </div>
    	</div>
<div class="row">
        	<!--Middle Part Start-->
        	<div id="content1" class="col-xs-12">
          		<div class="row">
            		<div class="col-sm-9 col-xs-12 img_sli">
                           <!--  Angular Slideshow Start-->
                           <div>
								 <data-owl-carousel id="carousel_100" class="owl-carousel about-carousel sl_ban" data-options="{autoPlay: 5000, stopOnHover: true,  
        slideSpeed : 300, paginationSpeed : 400, singleItem : true}">
                        
                          <div owl-carousel-item="" ng-repeat="slid_data in slides">
                          
                                <div class=" clearfix">
                                
                                    <div class="image">
                                        <a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.src}}" alt="" title="" class="img-responsive" border="0" /></a>                        </div>
                                    
                                    
                                </div>
                          </div>           
                   
          		  </data-owl-carousel>
  
								 
								</div>
                        <!--<div id="slides_control1">
						<div>
						  <carousel interval="myInterval">
							<slide ng-repeat="slide in slides" active="slide.active">
							  <img ng-src="{{slide.image}}">
							  <div class="carousel-caption">
								<h4>Slide {{$index+1}}</h4>
							  </div>
							</slide>
						  </carousel>
						</div>
					  </div>-->
                            <!-- Slideshow End-->
            		</div>
                 
            		<div class="col-sm-3 col-xs-12  flip">
              			<div class="marketshop-banner ">
                			<div class="row">
                  				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 mrk_lft"> <a href="javascript:void(0)"><img title="sample-banner1" alt="sample-banner1" src="images/banner/sp-small-banner-1.jpg"></a></div>
                  				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 mar-bar mrk_rgt"> <a href="javascript:void(0)"><img title="sample-banner" alt="sample-banner" src="images/banner/sp-small-banner-2.jpg"></a></div>
                			</div>
              			</div>
            		</div>
          		</div>
                
                <div class="row img-bm1">
            		<div class="col-sm-9 img-bn_res">
                    	<div class="row advrt">
                    	<div class="col-sm-6"><a href="javascript:void(0)"><img src="images/sm-01.jpg" alt="" class="img-responsive"></a></div>
                        <div class="col-sm-6"><a href="javascript:void(0)"><img src="images/sm-02.jpg" alt="" class="img-responsive"></a></div>
                        </div>
            		</div>
            		<div class="col-sm-3 flip">
                    	<a href="javascript:void(0)"><img src="images/sm-03.jpg" alt="" class="img-responsive"></a></div>                
                </div>
          		<!-- New Product Start-->
               
          		<h3 class="subtitle" >New Products</h3>
          		
                        <data-owl-carousel id="carousel_1" class="owl-carousel pro new_pro about-carousel" >
                        
                          <div owl-carousel-item="" ng-repeat="(key, slid_data ) in product_slide_a1">                          
                                <div class="product-thumb clearfix">
                                <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" ng-init="favorite[key]='Favorite'" data-ng-click="fav(key)"  title="" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{favorite[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" ng-init="compare[key]='Compare'"  title="" data-ng-click="comp(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{compare[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-12 vie_prodmod view_pro"> 
                                          <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a>
                                          <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                                    <div class="image">
                                        <a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="" class="img-responsive" border="0" /></a>                        </div>
                                    <div class="caption">
                                        <h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> </div>
                                            </div>                            
                                            <div class="col-xs-12 col-md-6">
                                                <p class="price"> {{slid_data.price}}  </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                          </div>           
                   
          		  </data-owl-carousel>
                
                <section class="wht_popular_nw">
					<div class="wht_pop_lft col-xs-12 col-md-2 col-lg-2 col-sm-2">What's Popular Now : </div>
					<div class="wht_pop_nw_tb col-xs-12 col-md-7 col-sm-7 col-lg-7">
						<ul>
							<li><a href="javascript:void(0)">Television 1</a></li>
							<li><a href="javascript:void(0)">Television 2</a></li>
							<li><a href="javascript:void(0)">Television 3</a></li>
							<li><a href="javascript:void(0)">Television 4</a></li>
						</ul>
					</div>
					<div class="wht_pop_rgt col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<a href="javascript:void(0)">View All Samsung Television</a>
					</div>
				</section>
                
          		<!-- Popular Product Start-->
          		<h3 class="subtitle">Popular Products</h3>
                         <data-owl-carousel id="carousel_2" class="owl-carousel pro new_pro about-carousel" >
                          <div owl-carousel-item="" ng-repeat="(key,slid_data) in  po_product_slide_a1">
                                <div class="product-thumb clearfix">
                                 <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="popular_fav[key]='Favorite'" data-ng-click="populr_fav(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{popular_fav[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="popular_copm[key]='Compare'" data-ng-click="populr_comp(key)"  class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{popular_copm[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                                    <div class="image">
                                        <a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="iPhone5" class="img-responsive" /></a>                        </div>
                                    <div class="caption">
                                        <h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> </div>
                                            </div>                            
                                            <div class="col-xs-12 col-md-6">
                                                <p class="price"> {{slid_data.price}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                              
                            </div>
                 </data-owl-carousel>
                
             <section class="wht_popular_nw">
					<div class="wht_pop_lft col-xs-12 col-md-2 col-lg-2 col-sm-2">What's Popular Now : </div>
					<div class="wht_pop_nw_tb col-xs-12 col-md-7 col-sm-7 col-lg-7">
						<ul>
							<li><a href="javascript:void(0)">Television 1</a></li>
							<li><a href="javascript:void(0)">Television 2</a></li>
							<li><a href="javascript:void(0)">Television 3</a></li>
							<li><a href="javascript:void(0)">Television 4</a></li>
						</ul>
					</div>
					<div class="wht_pop_rgt col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<a href="javascript:void(0)">View All Samsung Television</a>
					</div>
				</section>    
         <!--  Featured Product End

           Categories Product Slider Start-->
          <div class="category-module" id="latest_category">
          	<h3 class="subtitle">Electronics </h3>
            	<div class="category-module-content">
              		<ul id="sub-cat" class="tabs">
                		<li><a href="#tab-cat1">Laptops</a></li>
                		<li><a href="#tab-cat2">Desktops</a></li>
                		<li><a href="#tab-cat3">Cameras</a></li>
                		<li><a href="#tab-cat4">Mobile Phones</a></li>
                		<li><a href="#tab-cat5">TV &amp; Home Audio</a></li>
                		<li><a href="#tab-cat6">MP3 Players</a></li>
              		</ul>
              		<div id="tab-cat1" class="tab_content">
                		
                         <data-owl-carousel  id="carousel_3" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_lap">
                  			<div class="product-thumb slid_layou">
                             <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat1[key]='Favorite'" data-ng-click="electron_favcat1(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat1[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat1[key]='Compare'" class="btn btn-primary btn-block" data-ng-click="electfun_compcat1(key)" data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat1[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                               		<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="product.html">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(05)</span>                                   </div>                                    
                      				 <p class="price"> 
                                        <span class="price-old">{{slid_data.d_price}}</span> 
                                         <span class="price-new">{{slid_data.price}}</span>
                                    	<span class="saving">{{slid_data.off_p}}</span>                                  
									</p>
                    			</div>
                    			
                  			</div>
                  			
                		</div>
                        </data-owl-carousel>
              		</div>
              		<div id="tab-cat2" class="tab_content">
                		 <data-owl-carousel id="carousel_4" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_desk">
                  			<div class="product-thumb slid_layou">
                            <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat2[key]='Favorite'" data-ng-click="electron_favcat2(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat2[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat2[key]='Compare'" data-ng-click="electfun_compcat2(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat2[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                          <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Hp Pavilion G6 2314ax Notebok Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                    			
                  			</div>
                           
                		</div>
                         </data-owl-carousel>
              		</div>
              		<div id="tab-cat3" class="tab_content">
                		 <data-owl-carousel id="carousel_5" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_came">
                  			<div class="product-thumb slid_layou">
                             <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat3[key]='Favorite'" data-ng-click="electron_favcat3(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat3[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat3[key]='Compare'" data-ng-click="electfun_compcat3(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat3[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="FinePix S8400W Long Zoom Camera" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                  			</div>
                		     </div>
                          </data-owl-carousel>
              		</div>
              		<div id="tab-cat4" class="tab_content">
                		 <data-owl-carousel id="carousel_6" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_phon">
                  			     <div class="product-thumb slid_layou">
                                <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat4[key]='Favorite'" data-ng-click="electron_favcat4(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat4[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat4[key]='Compare'" data-ng-click="electfun_compcat4(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat4[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                     				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(165)</span>                                   </div>                                    
                      				<p class="price"> 
                                        
                                        <span class="price-old">{{slid_data.d_price}}</span>
                                        <span class="price-new">{{slid_data.price}}</span>  
                                        <span class="saving" ng-if="slid_data.off_p">{{slid_data.off_p}}</span>                                    </p>
                    			</div>
                    			
                  			</div>
                		      </div>
                         </data-owl-carousel>
              		</div>
              		<div id="tab-cat5" class="tab_content">
                		 <data-owl-carousel id="carousel_7" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_tv">
                  			<div class="product-thumb slid_layou">
                                <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat5[key]='Favorite'" data-ng-click="electron_favcat5(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat5[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat5[key]='Compare'" data-ng-click="electfun_compcat5(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat5[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(635)</span>                                   </div>                                    
                      				<p class="price"> 
                                      
                                        <span class="price-old">{{slid_data.d_price}}</span> 
                                         <span class="price-new">{{slid_data.price}}</span> 
                                        <span class="saving" ng-if="slid_data.off_p">{{slid_data.off_p}}</span>                                    </p>
                    			</div>
                    			
                  			</div>
                  			
                		     </div>
                        </data-owl-carousel>
              		</div>
              		<div id="tab-cat6" class="tab_content">
                		<data-owl-carousel id="carousel_8" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_mp3">
                  			  <div class="product-thumb slid_layou">
                              <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat6[key]='Favorite'" data-ng-click="electron_favcat6(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat6[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat6[key]='Compare'" data-ng-click="electfun_compcat6(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat6[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Portable Mp3 Player" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                    			
                  			</div>
               			</div>
                        </data-owl-carousel>
            		</div>
            	</div>
				<section class="wht_popular_nw">
					<div class="wht_pop_lft col-xs-12 col-md-2 col-lg-2 col-sm-2">What's Popular Now : </div>
					<div class="wht_pop_nw_tb col-xs-12 col-md-7 col-sm-7 col-lg-7">
						<ul>
							<li><a href="javascript:void(0)">Electronics 1</a></li>
							<li><a href="javascript:void(0)">Electronics 2</a></li>
							<li><a href="javascript:void(0)">Electronics 3</a></li>
							<li><a href="javascript:void(0)">Electronics 4</a></li>
						</ul>
					</div>
					<div class="wht_pop_rgt col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<a href="javascript:void(0)">View All Electronics</a>
					</div>
				</section>   
                 <!--<h5> <a class="view_1" href="javascript:void(0)"></a> Electronics</h5>-->
          	</div>
         <!--  Categories Product Slider End
            Categories Product Slider Start-->
          <div class="category-module" id="latest_category2">
          	<h3 class="subtitle">Fashion</h3>
            	<div class="category-module-content">
              		<ul id="sub-cat" class="tabs">
                		<li><a href="#tab-cat7">Clothes</a></li>
                		<li><a href="#tab-cat8">Watches</a></li>
                		<li><a href="#tab-cat9">Eyewere</a></li>
                		<li><a href="#tab-cat10">Shoes</a></li>
                		<li><a href="#tab-cat11">Ring</a></li>
                		<li><a href="#tab-cat12">Locket</a></li>
              		</ul>
              		<div id="tab-cat7" class="tab_content">
                		
                         <data-owl-carousel id="carousel_9" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_lap">
                  			<div class="product-thumb slid_layou">
                             <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat7[key]='Favorite'" data-ng-click="electron_favcat7(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat7[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat7[key]='Compare'" data-ng-click="electfun_compcat7(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat7[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                               		<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}"  alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="product.html">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(05)</span>                                   </div>                                    
                      				<p class="price"> 
                                    	 
                                        <span class="price-old">{{slid_data.d_price}}</span> 
                                         <span class="price-new">{{slid_data.price}}</span>
                                    	<span class="saving">{{slid_data.off_p}}</span>                                    </p>
                    			</div>
                    			
                  			</div>
                  			
                		</div>
                        </data-owl-carousel>
              		</div>
              		<div id="tab-cat8" class="tab_content">
                		 <data-owl-carousel  id="carousel_10" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_desk">
                  			<div class="product-thumb slid_layou">
                            <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat8[key]='Favorite'" data-ng-click="electron_favcat8(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat8[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat8[key]='Compare'" data-ng-click="electfun_compcat8(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat8[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Hp Pavilion G6 2314ax Notebok Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                    			
                  			</div>
                           
                		</div>
                         </data-owl-carousel>
              		</div>
              		<div id="tab-cat9" class="tab_content">
                		 <data-owl-carousel  id="carousel_11" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_came">
                  			<div class="product-thumb slid_layou">
                             <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat9[key]='Favorite'" data-ng-click="electron_favcat9(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat9[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat9[key]='Compare'" data-ng-click="electfun_compcat9(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat9[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="FinePix S8400W Long Zoom Camera" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                  			</div>
                  			
                		     </div>
                          </data-owl-carousel>
              		</div>
              		<div id="tab-cat10" class="tab_content">
                		 <data-owl-carousel  id="carousel_12" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_phon">
                  			     <div class="product-thumb slid_layou">
                                <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat10[key]='Favorite'" data-ng-click="electron_favcat10(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat10[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat10[key]='Compare'" data-ng-click="electfun_compcat10(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat10[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                     				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(165)</span>                                   </div>                                    
                      				<p class="price"> 
                                        
                                        <span class="price-old">{{slid_data.d_price}}</span>
                                        <span class="price-new">{{slid_data.price}}</span>  
                                        <span class="saving" ng-if="slid_data.off_p">{{slid_data.off_p}}</span>                                    </p>
                    			</div>
                    			
                  			</div>
                		      </div>
                         </data-owl-carousel>
              		</div>
              		<div id="tab-cat11" class="tab_content">
                		 <data-owl-carousel  id="carousel_13" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_tv">
                  			<div class="product-thumb slid_layou">
                                <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat11[key]='Favorite'" data-ng-click="electron_favcat11(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat11[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat11[key]='Compare'" data-ng-click="electfun_compcat11(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat11[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(635)</span>                                   </div>                                    
                      				<p class="price"> 
                                      
                                        <span class="price-old">{{slid_data.d_price}}</span> 
                                         <span class="price-new">{{slid_data.price}}</span> 
                                        <span class="saving" ng-if="slid_data.off_p">{{slid_data.off_p}}</span>                                    </p>
                    			</div>
                    			
                  			</div>
                  			
                		     </div>
                        </data-owl-carousel>
              		</div>
              		<div id="tab-cat12" class="tab_content">
                		<data-owl-carousel  id="carousel_14" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_mp3">
                  			  <div class="product-thumb slid_layou">
                              <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat12[key]='Favorite'" data-ng-click="electron_favcat12(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat12[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat12[key]='Compare'" data-ng-click="electfun_compcat12(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat12[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Portable Mp3 Player" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                    			
                  			</div>
               			</div>
                        </data-owl-carousel>
            		</div>
            	</div>
				<section class="wht_popular_nw">
					<div class="wht_pop_lft col-md-2 col-xs-12 col-lg-2 col-sm-2">What's Popular Now : </div>
					<div class="wht_pop_nw_tb col-md-7 col-xs-12 col-sm-7 col-lg-7">
						<ul>
							<li><a href="javascript:void(0)">Fashion 1</a></li>
							<li><a href="javascript:void(0)">Fashion 2</a></li>
							<li><a href="javascript:void(0)">Fashion 3</a></li>
							<li><a href="javascript:void(0)">Fashion 4</a></li>
						</ul>
					</div>
					<div class="wht_pop_rgt col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<a href="javascript:void(0)">View All Fashion</a>
					</div>
				</section> 
                 <!--<h5><a class="view_2" href="javascript:void(0)"></a> Fashion</h5>-->
          </div>
        <!--   Categories Product Slider End
		  
           Banner Start-->
          <div class="marketshop-banner">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="javascript:void(0)"><img title="Sample Banner" alt="Sample Banner 2" src="images/banner/sun_shop.jpg"></a></div>
             
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  <div class="row pi_mar">
					   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pi_marr">
					  <a href="javascript:void(0)"><img title="Sample Banner 3" alt="Sample Banner" src="images/banner/shop_1.jpg"></a>					  </div>
					   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pi_marr">
					     <a href="javascript:void(0)"><img title="Sample Banner 3" alt="Sample Banner" src="images/banner/shop_3.jpg"></a>				      </div>
				  </div>
				  <div class="row">
					   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ad_res">
					  <a href="javascript:void(0)"><img title="Sample Banner 3" alt="Sample Banner" src="images/banner/shop_2.jpg"></a>					  </div>
					   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ad_res">
					     <a href="javascript:void(0)"><img title="Sample Banner 3" alt="Sample Banner" src="images/banner/shop_4.jpg"></a>						 </div>
				   </div>
			  </div>
            </div>
          </div>
         <!--  Banner End          
              Categories Product Slider Start-->
          <div class="category-module" id="latest_category3">
          	<h3 class="subtitle">Perfumes</h3>
            	<div class="category-module-content">
              		<ul id="sub-cat" class="tabs">
                		<li><a href="#tab-cat13">For Men</a></li>
                		<li><a href="#tab-cat14">For Women</a></li>
                		<li><a href="#tab-cat15">Arabic Fragrances</a></li>
                		<li><a href="#tab-cat16">American Fragrances</a></li>
                		<li><a href="#tab-cat17">Deodorant</a></li>
                		<li><a href="#tab-cat18">Gift Set</a></li>
              		</ul>
              		<div id="tab-cat13" class="tab_content">
                		
                         <data-owl-carousel id="carousel_15" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_lap">
                  			<div class="product-thumb slid_layou">
                             <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat13[key]='Favorite'" data-ng-click="electron_favcat13(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat13[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat13[key]='Compare'" data-ng-click="electfun_compcat13(key)"  class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat13[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                               		<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="product.html">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(05)</span>                                   </div>                                    
                      				<p class="price"> 
                                    	 
                                        <span class="price-old">{{slid_data.d_price}}</span> 
                                         <span class="price-new">{{slid_data.price}}</span>
                                    	<span class="saving">{{slid_data.off_p}}</span>                                    </p>
                    			</div>
                    			
                  			</div>
                  			
                		</div>
                        </data-owl-carousel>
              		</div>
              		<div id="tab-cat14" class="tab_content">
                		 <data-owl-carousel id="carousel_16" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_desk">
                  			<div class="product-thumb slid_layou">
                            <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat14[key]='Favorite'" data-ng-click="electron_favcat14(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat14[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat14[key]='Compare'" data-ng-click="electfun_compcat14(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat14[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Hp Pavilion G6 2314ax Notebok Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                    			
                  			</div>
                           
                		</div>
                         </data-owl-carousel>
              		</div>
              		<div id="tab-cat15" class="tab_content">
                		 <data-owl-carousel id="carousel_17" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_came">
                  			<div class="product-thumb slid_layou">
                             <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat15[key]='Favorite'" data-ng-click="electron_favcat15(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat15[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat15[key]='Compare'" data-ng-click="electfun_compcat15(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat15[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="FinePix S8400W Long Zoom Camera" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                  			</div>
                  			
                		     </div>
                          </data-owl-carousel>
              		</div>
              		<div id="tab-cat16" class="tab_content">
                		 <data-owl-carousel id="carousel_18" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_phon">
                  			     <div class="product-thumb slid_layou">
                                <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat16[key]='Favorite'" data-ng-click="electron_favcat16(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat16[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat16[key]='Compare'" data-ng-click="electfun_compcat16(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat16[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                     				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(165)</span>                                   </div>                                    
                      				<p class="price"> 
                                        
                                        <span class="price-old">{{slid_data.d_price}}</span>
                                        <span class="price-new">{{slid_data.price}}</span>  
                                        <span class="saving" ng-if="slid_data.off_p">{{slid_data.off_p}}</span>                                    </p>
                    			</div>
                    			
                  			</div>
                		      </div>
                         </data-owl-carousel>
              		</div>
              		<div id="tab-cat17" class="tab_content">
                		 <data-owl-carousel id="carousel_19" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_tv">
                  			<div class="product-thumb slid_layou">
                                <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat17[key]='Favorite'" data-ng-click="electron_favcat17(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat17[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat17[key]='Compare'" data-ng-click="electfun_compcat17(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat17[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(635)</span>                                   </div>                                    
                      				<p class="price">                                      
                                        <span class="price-old">{{slid_data.d_price}}</span> 
                                         <span class="price-new">{{slid_data.price}}</span> 
                                        <span class="saving" ng-if="slid_data.off_p">{{slid_data.off_p}}</span>                                    </p>
                    			   </div>
                    			
                  			</div>
                  			
                		     </div>
                        </data-owl-carousel>
              		</div>
              		<div id="tab-cat18" class="tab_content">
                		<data-owl-carousel id="carousel_20"  class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_mp3">
                  			  <div class="product-thumb slid_layou">
                              <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat18[key]='Favorite'" data-ng-click="electron_favcat18(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat18[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat18[key]='Compare'" data-ng-click="electfun_compcat18(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat18[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Portable Mp3 Player" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                    			
                  			</div>
               			</div>
                        </data-owl-carousel>
            		</div>
            	</div>
				<section class="wht_popular_nw">
					<div class="wht_pop_lft col-xs-12 col-md-2 col-lg-2 col-sm-2">What's Popular Now : </div>
					<div class="wht_pop_nw_tb col-xs-12 col-md-7 col-sm-7 col-lg-7">
						<ul>
							<li><a href="javascript:void(0)">Perfumes 1</a></li>
							<li><a href="javascript:void(0)">Perfumes 2</a></li>
							<li><a href="javascript:void(0)">Perfumes 3</a></li>
							<li><a href="javascript:void(0)">Perfumes 4</a></li>
						</ul>
					</div>
					<div class="wht_pop_rgt col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<a href="javascript:void(0)">View All Men Perfumes</a>
					</div>
				</section> 
                <!--<h5><a class="view_3" href="javascript:void(0)"></a> Perfumes</h5>-->
          	</div>
          <!-- Categories Product Slider End
            Categories Product Slider Start-->
          <div class="category-module" id="latest_category4">
          	<h3 class="subtitle">Cameras & Accessories</h3>
            	<div class="category-module-content">
              		<ul id="sub-cat" class="tabs">
                		
                		<li><a href="#tab-cat19">Nikon</a></li>
                		<li><a href="#tab-cat20">Canon</a></li>
                		<li><a href="#tab-cat21">Dji</a></li>
                		<li><a href="#tab-cat22">Gopro</a></li>
              		</ul>
              		
              		<div id="tab-cat19" class="tab_content">
                		 <data-owl-carousel id="carousel_21" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_came">
                  			<div class="product-thumb slid_layou">
                             <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat19[key]='Favorite'" data-ng-click="electron_favcat19(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat19[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat19[key]='Compare'" data-ng-click="electfun_compcat19(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat19[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="FinePix S8400W Long Zoom Camera" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                  			</div>
                  			
                		     </div>
                          </data-owl-carousel>
              		</div>
              		<div id="tab-cat20" class="tab_content">
                		 <data-owl-carousel id="carousel_22" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_phon">
                  			     <div class="product-thumb slid_layou">
                                <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat20[key]='Favorite'" data-ng-click="electron_favcat20(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat20[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat20[key]='Compare'" data-ng-click="electfun_compcat20(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat20[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                     				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(165)</span>                                   </div>                                    
                      				<p class="price"> 
                                        
                                        <span class="price-old">{{slid_data.d_price}}</span>
                                        <span class="price-new">{{slid_data.price}}</span>  
                                        <span class="saving" ng-if="slid_data.off_p">{{slid_data.off_p}}</span>                                    </p>
                    			</div>
                    			
                  			</div>
                		      </div>
                         </data-owl-carousel>
              		</div>
              		<div id="tab-cat21" class="tab_content">
                		 <data-owl-carousel id="carousel_23" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_tv">
                  			<div class="product-thumb slid_layou">
                                <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat21[key]='Favorite'" data-ng-click="electron_favcat21(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat21[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat21[key]='Compare'" data-ng-click="electfun_compcat21(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat21[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> 
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="rev_c">(635)</span>                                   </div>                                    
                      				<p class="price"> 
                                      
                                        <span class="price-old">{{slid_data.d_price}}</span> 
                                         <span class="price-new">{{slid_data.price}}</span> 
                                        <span class="saving" ng-if="slid_data.off_p">{{slid_data.off_p}}</span>                                    </p>
                    			</div>
                    			
                  			</div>
                  			
                		     </div>
                        </data-owl-carousel>
              		</div>
              		<div id="tab-cat22" class="tab_content">
                		<data-owl-carousel id="carousel_24" class="owl-carousel about-carousel" data-options="{itemsCustom : [[320, 2],[768, 3],[1200, 6],[1600, 6]]}">
                              <div class="latest_category_tabs" owl-carousel-item="" ng-repeat="(key,slid_data) in e_product_slide_a_mp3">
                  			  <div class="product-thumb slid_layou">
                              <div class="button-group hidden-xs hidden-sm">
                                 <div class="add-to-links">
                                    <div class="row ico_data">
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electrn_fav_cat22[key]='Favorite'" data-ng-click="electron_favcat22(key)" class="btn btn-primary btn-block"  data-original-title="Add to Wish List">
                                          <i class="fa fa-heart"></i> <span>{{electrn_fav_cat22[key]}}</span></button>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6">
                                          <button type="button" data-toggle="tooltip" title="" ng-init="electron_compcat22[key]='Compare'" data-ng-click="electfun_compcat22(key)" class="btn btn-primary btn-block"  data-original-title="Compare this Product">
                                          <img src="images/compare.png"><span>{{electron_compcat22[key]}}</span></button>
                                       </div>
                                    </div>
                                    <div class="row"><div class="col-md-12 vie_prodmod view_pro"> 
                                           <a href="#product-modal" data-toggle="modal" class="view_pro"><img src="images/eye.png" alt="view" /></a> 
										 <button ui-sref="Modal.productmodel"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                    			<div class="image">
                                	<a href="javascript:void(0)"><img bn-lazy-src="{{slid_data.thum_img}}" alt="" title="Portable Mp3 Player" class="img-responsive" /></a>                                </div>
                    			<div class="caption">
                      				<h4><a href="javascript:void(0)">{{slid_data.title}}</a></h4>
                      				<p class="price"> {{slid_data.price}} </p>
                    			</div>
                    			
                  			</div>
               			</div>
                        </data-owl-carousel>
            		</div>
					<section class="wht_popular_nw">
					<div class="wht_pop_lft col-xs-12 col-md-2 col-lg-2 col-sm-2">What's Popular Now : </div>
					<div class="wht_pop_nw_tb col-xs-12 col-md-7 col-sm-7 col-lg-7">
						<ul>
							<li><a href="javascript:void(0)">Camera 1</a></li>
							<li><a href="javascript:void(0)">Camera 2</a></li>
							<li><a href="javascript:void(0)">Camera 3</a></li>
							<li><a href="javascript:void(0)">Camera 4</a></li>
						</ul>
					</div>
					<div class="wht_pop_rgt col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<a href="javascript:void(0)">View All Cameras & Accessories</a>
					</div>
				</section> 
                    <!--<h5><a class="view_4" href="javascript:void(0)"></a> Cameras & Accessories</h5>-->
            	</div>
          	</div>
           <!--Categories Product Slider End-->
          
         
        </div>
		
        <!--Middle Part End-->
      </div>
<script>
jQuery(document).ready(function($){
	


   
    $("#latest_category .tab_content").addClass("deactive");
    $("#latest_category .tab_content:first").show();
    //Default Action
    $("#latest_category ul#sub-cat li:first").addClass("active").show(); //Activate first tab
    //On Click Event
    $("#latest_category ul#sub-cat li").on("click", function() {
        $("#latest_category ul#sub-cat li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $("#latest_category .tab_content").hide();
        var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
        $(activeTab).fadeIn(); //Fade in the active content
        return false;
    });

//----------------------------------------------

   
    $("#latest_category2 .tab_content").addClass("deactive");
    $("#latest_category2 .tab_content:first").show();
    //Default Action
    $("#latest_category2 ul#sub-cat li:first").addClass("active").show(); //Activate first tab
    //On Click Event
    $("#latest_category2 ul#sub-cat li").on("click", function() {
        $("#latest_category2 ul#sub-cat li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $("#latest_category2 .tab_content").hide();
        var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
        $(activeTab).fadeIn(); //Fade in the active content
        return false;
    });
	
	//------------------------------------------------------------
	
	
    $("#latest_category3 .tab_content").addClass("deactive");
    $("#latest_category3 .tab_content:first").show();
    //Default Action
    $("#latest_category3 ul#sub-cat li:first").addClass("active").show(); //Activate first tab
    //On Click Event
    $("#latest_category3 ul#sub-cat li").on("click", function() {
        $("#latest_category3 ul#sub-cat li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $("#latest_category3 .tab_content").hide();
        var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
        $(activeTab).fadeIn(); //Fade in the active content
        return false;
    });





    $("#latest_category4 .tab_content").addClass("deactive");
    $("#latest_category4 .tab_content:first").show();
    //Default Action
    $("#latest_category4 ul#sub-cat li:first").addClass("active").show(); //Activate first tab
    //On Click Event
    $("#latest_category4 ul#sub-cat li").on("click", function() {
        $("#latest_category4 ul#sub-cat li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $("#latest_category4 .tab_content").hide();
        var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
        $(activeTab).fadeIn(); //Fade in the active content
        return false;
    });
    
    $("#product-tab .tab_content").addClass("deactive");
    $("#product-tab .tab_content:first").show();
    //Default Action
    $("ul#tabs li:first").addClass("active").show(); //Activate first tab
    //On Click Event
    $("ul#tabs li").on("click", function() {
        $("ul#tabs li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $("#product-tab .tab_content").hide();
        var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
        $(activeTab).fadeIn(); //Fade in the active content
        return false;
    });

	
	/*---------------------------------------------------
       Custom Side text View All
    ----------------------------------------------------- */
	$("a.view_1").html("View all  " + $("#latest_category li.active a").text());
	
	$("#latest_category li a").click(function(){
		 var srr1= $(this).text();
		$("a.view_1").html("View all  " + srr1);
		
		});
	
	$("a.view_2").html("View all  " + $( "#latest_category2 li.active a").text());
	
	$("#latest_category2 li a").click(function(){
		 var srr2= $(this).text();
		$("a.view_2").html("View all  " + srr2);
		
		});
		
	$("a.view_3").html("View all  " + $("#latest_category3 li.active a").text());
	
	$("#latest_category3 li a").click(function(){
		 var srr3= $(this).text();
		$("a.view_3").html("View all  " + srr3);
		
		});
		
		  
	$("a.view_4").html("View all  " + $("#latest_category4 li.active a").text());
		
		
		$("#latest_category4 li a").click(function(){
		 var srr4= $(this).text();
		$("a.view_4").html("View all  " + srr4);
		
		});
		$("#latest_category li a").click(function(){
			
		$(".category-module .tabs li").toggleClass('slider_li');
		
		});
		$("#latest_category2 li a").click(function(){
		$(".category-module .tabs li").toggleClass('slider_li');
		
		});
		$("#latest_category3 li a").click(function(){
		$(".category-module .tabs li").toggleClass('slider_li');
		
		});
		$("#latest_category4 li a").click(function(){
		$(".category-module .tabs li").toggleClass('slider_li');
		
		});
		
   
		$(".megamenu").mouseenter(function(){
			
			$(".mobile-sub > li:nth-child(2) > a").addClass('active');
			
			});
		$(".megamenu").mouseleave(function(){
			
			$(".mobile-sub > li:nth-child(2) > a").removeClass('active');
			});
			
			$(".wsmenu-submenu").mouseenter(function(){
			$(".wsmenu-submenu").parent( ).find("a").addClass('active');
			});
			$(".wsmenu-submenu").mouseleave(function(){
			$(".wsmenu-submenu").parent( ).find("a").removeClass('active');
			});
			
			/*$(".up_angl").hide();
			$(".acc2 .fa-angle-down").click(function(){ $(".up_angl").show(); $(".acc2 .fa-angle-down").hide(); });
			$(".acc2 .fa-angle-up").click(function(){ $(".up_angl").hide(); $(".acc2 .fa-angle-down").show(); });*/
			
		
	});
</script>
