/*===================================================================================*/
/*  1. General Styles
/*===================================================================================*/

html {
    overflow: -moz-scrollbars-vertical;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
body {
    background: #fafafa;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    padding: 0px!important;
}
body {
    font-size: 12px;
}
legend {
    font-size: 18px;
    padding: 7px 0px
}
label {
    font-weight: normal;
}
form {
    padding: 0;
    margin: 0;
    display: inline;
}
img {
    vertical-align: inherit;
}
a,
a b {
    color: #3e7cb4;
    text-decoration: none;
    cursor: pointer;
}
a:hover,
a b:hover {
    text-decoration: none;
    color: #000;
}
a:focus {
    outline: none;
}
/**===== Title =====**/

.title {
    margin: 0px 0px 20px 0px;
}
/**===== Sub Title =====**/

.subtitle {
    position: relative;
    padding: 0px;
    margin: 0px 0px 5px 0px;
    line-height: normal;
    font-size: 22px;
    color: #333333;
    /*border-bottom:2px solid #ddd;*/
    
    padding-bottom: 7px;
    font-family: 'Open Sans', sans-serif;
}
.subtitle .viewall {
    font-size: 12px;
}
/**===== Title for 404 Page =====**/

.title-404 {
    font-size: 300px;
    font-weight: bold;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
/*===================================================================================*/
/*  2. Layout
/*===================================================================================*/

.wrapper-box {
    max-width: 1220px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.wrapper-wide {
    max-width: 100%;
    background: #fafafa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}
.main-wrapper {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0 25px;
    clear: both;
}
#container {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#content {
    min-height: 400px;
}
#content1 {
    min-height: 400px;
}
/*===================================================================================*/
/*  3. Header
/*===================================================================================*/

#header {
    position: relative;
    padding: 0px;
    transition: left 2s;
}
#header .htop {
    background: #3e7cb4;
}
#header .header-row {
    position: relative;
    padding: 15px 0;
    background: #fff;
}
#header .header-row .inner {
    padding: 0px 1px;
}
#header #logo img {
    display: inline-block!important;
}
#header ul,
#header ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.table-container {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.table-container .col-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
/**===== 3.1. Language & Currency =====**/

#language,
#currency {
    float: left;
    border-right: 1px solid #5b9ad4;
    margin-top: -2px;
}
#language span,
#currency span {
    color: #fff;
    font-size: 12px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
#top .dropdown-menu {
    margin: 0;
    border-radius: 0px;
    padding: 0;
    border: none;
    z-index: 1013;
}
#top .dropdown-menu li a,
#currency ul li .currency-select,
#language ul li .language-select {
    color: #333;
    padding: 7px 10px;
    text-align: left;
    font-size: 12px;
}
#top .dropdown-menu li + li a,
#currency ul li + li .currency-select,
#language ul li + li .language-select {
    border-top: 1px solid #eee;
}
/*#my_account:hover > a:after,
#language:hover span:after,
#currency:hover span:after,
#header .links > ul > li.wrap_custom_block:hover > a:after {
    clear: both;
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    z-index: 1014;
    border-width: 0px 7px 6px 7px;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -5px;
}*/
#header .links > ul > li.wrap_custom_block:hover > a:after {
    clear: both;
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    z-index: 1014;
    border-width: 0px 7px 6px 7px;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -5px;
}
#language button .btn-link {
    border: none 0px;
}
#header .links > ul > li.wrap_custom_block > a b {
    clear: both;
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 4px 5px 0px 5px;
    margin: 0 0 1px 0;
}
#language img {
    cursor: pointer;
    margin-right: 5px;
}
#top .dropdown-menu li a:hover,
#currency ul li .currency-select:hover,
#language ul li .language-select:hover {
    color: #3e7cb4;
    background: none;
    text-decoration: none;
}
/**===== 3.2. Top Links =====**/

#header .links {
    position: relative;
    float: left;
    /*border-right:1px dotted #5b9ad4;*/
}
#header .links > ul > li {
    float: left;
    list-style-type: none;
    border-right: 1px solid #a3a4a7;
}
#header .links > ul > li:last-child {
    border-right: 0;
    padding-right: 0
}
#header .links > ul > li.mobile,
#header .links > ul > li.email {
    color: #fff;
}
#header .links > ul > li.mobile {
    padding: 0 10px;
}
#header .links > ul > li > a,
#header .links > ul > li .wrap_custom_block > a {
    padding: 0px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    display: block
}
#language .btn-link,
#currency .btn-link {
    padding: 0px 5px;
    border: none;
}
#language .btn-link:hover,
#currency .btn-link:hover {
    text-decoration: none;
}
#header .links > ul > li .fa-phone,
#header .links > ul > li .fa-envelope {
    font-size: 120%;
    margin-right: 5px;
}
#header .links > ul > li.wrap_custom_block {
    position: relative;
}
#header .links > ul > li.wrap_custom_block > div {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 1015;
    top: 35px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
#header .links > ul > li.wrap_custom_block > a b {
    margin-left: 3px;
}
#header .links > ul > li.wrap_custom_block > a:hover {
    text-decoration: none;
}
#header .links > ul > li.wrap_custom_block > div ul li {
    list-style-type: none;
}
#header #top-links {
    color: #fff;
    /*border-right:1px dotted #5b9ad4;*/
}
#header #top-links > ul > li {
    float: left;
    border-left: 1px dotted #5b9ad4;
}
#header #top-links > ul > li > a {
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    padding: 0px 10px;
}
#header #top .links > ul > li,
#header #top-links > ul > li,
#language .btn-link span,
#currency .btn-link span {
    /* line-height:35px;*/
}
#header #top-links > ul > li > a:hover,
#header .links > ul > li > a:hover {
    text-decoration: underline;
}
.wrapper-box #header #top-links {
    border-right: none;
}
.wrapper-box .htop .main-wrapper {
    max-width: 1220px;
    padding: 0;
}
/**===== 3.2. Top Links left =====**/

#header .links-left {
    position: relative;
    /*float:left;
	border-right:1px dotted #5b9ad4;*/
}
#header .links-left > ul > li {
    float: left;
    list-style-type: none;
    border-right: 1px solid #a3a4a7;
}
#header .links-left > ul > li:last-child {
    border-right: 0
}
#header .links-left > ul > li.mobile,
#header .links > ul > li.email {
    color: #fff;
}
#header .links-left > ul > li.mobile {
    padding: 0 10px;
}
#header .links-left > ul > li > a,
#header .links > ul > li .wrap_custom_block > a {
    padding: 0px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    display: block
}
#header .links-left > ul > li.wrap_custom_block {
    position: relative;
}
#header .links-left > ul > li.wrap_custom_block > div {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 1015;
    top: 35px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
#header .links-left > ul > li.wrap_custom_block > a b {
    margin-left: 3px;
}
#header .links-left > ul > li.wrap_custom_block > a:hover {
    text-decoration: none;
}
#header .links-left > ul > li.wrap_custom_block > div ul li {
    list-style-type: none;
}
/**===== 3.3. Mini Cart =====**/

#header #cart {
    position: relative;
    text-align: right;
}
#header #cart .heading .cart-icon {
    width: 20px;
    height: 16px;
    background: #3e7cb4;
    position: relative;
    margin-right: 5px;
    margin-top: 8px;
}
#header #cart .heading .cart-icon:before {
    clear: both;
    content: ' ';
    display: block;
    width: 14px;
    height: 19px;
    top: -8px;
    left: 3px;
    border: 2px solid #3e7cb4;
    border-radius: 50%;
    border-bottom: none;
    position: absolute;
}
#header #cart .heading .cart-icon:after {
    clear: both;
    content: ' ';
    display: block;
    width: 20px;
    height: 2px;
    bottom: -2px;
    left: 0px;
    border: 1px solid #3e7cb4;
    border-top: none;
    position: absolute;
}
#header #cart .heading {
    text-decoration: none;
    font-size: 14px;
    height: 36px;
    color: #444;
    display: inline-block;
    position: relative;
    padding: 0;
    background: #252933;
    border: none;
    color: #fff;
    padding: 2px 9px;
    border-radius: 3px;
    vertical-align: middle;
	width:98%
}
#header #cart .heading span {
    display: inline-block;
    line-height: 32px;
    
}
#header #cart.open .heading {
    color: #FFF;
}
#header #cart.open .heading span:after {
    clear: both;
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #3e7cb4 transparent;
    position: absolute;
    border-width: 0px 7px 6px 7px;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -5px;
    z-index: 1012;
}
#header #cart .dropdown-menu {
    padding: 8px;
    margin: 0;
    z-index: 1011;
    background: #FFF;
    border: 3px solid #3e7cb4;
    border-width: 3px 0px 0px 0px;
    width: 420px;
    border-radius: 0px;
    right: 0;
    left: auto;
}
#cart .dropdown-menu li > p {
    margin: 30px 0;
}
#header #cart .dropdown-menu .remove {
    border-radius: 100%;
    padding: 0px 4px;
    line-height: normal;
}
#cart .dropdown-menu > li > .table > tbody > tr > td {
    border-bottom: 1px solid #ddd;
    border-top: none 0px;
}
/**===== 3.4. Search Bar =====**/

#header #search {
    position: relative;
    display: block;
}
#header .button-search {
    width: 36px;
    height: 36px;
    font-size: 14px;
    z-index: 2;
    position: absolute;
    right: 0;
    cursor: pointer;
    float: right;
    background: none;
    border: none;
    color: #bbb;
    padding: 0;
}
#header #search input {
    background: #FFF;
    padding: 0 36px 0 10px;
    height: 36px;
    font-size: 13px;
    color: #333;
    outline: none;
    display: block;
    border-radius: 0px;
}
#header #search input:focus {
    border-color: #bbb;
    box-shadow: none;
}
#header.style2 #logo {
    text-align: center;
}
#header.style2 #logo a img {
    display: inline-block;
}
#header.style2 #cart {
    text-align: left;
}
#header.style2 #cart .dropdown-menu {
    left: 0;
    right: auto;
}
#header.style3 #cart {
    text-align: right;
}
/*===================================================================================*/
/*  4. Menu
/*===================================================================================*/

#menu .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
#menu.navbar {
    border-radius: 0px;
    min-height: inherit;
}
#menu .navbar-nav {
    float: none;
    position: relative;
}
#menu .nav > li > a.home_link span {
    text-indent: -99999px;
    position: relative;
    background: #656565;
    width: 12px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link span:before {
    clear: both;
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #656565 transparent;
    position: absolute;
    border-width: 0 10px 9px;
    top: -9px;
    left: -4px;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link span:after {
    clear: both;
    content: ' ';
    display: block;
    width: 12px;
    height: 4px;
    border: 1px solid #656565;
    border-width: 0px 4px 0px 4px;
    position: absolute;
    bottom: -4px;
    left: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link:hover span {
    background: #3e7cb4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link:hover span:before {
    border-bottom-color: #3e7cb4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link:hover span:after {
    border-color: #3e7cb4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu {
    border-bottom: 3px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    border-right: 0;
    border-left: 0;
    margin-bottom: 0px;
}
#menu .nav > li {
    height: 40px;
}
#menu .nav > li > a {
    font-size: 16px;
    color: #555;
    line-height: 40px;
    text-decoration: none;
    padding: 0px 10px 0px 4px;
    z-index: 1009;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
#menu .nav > li:hover > a {
    color: #3e7cb4;
    background: #f3f3f3;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu .nav > li.sub:hover > a:after {
    clear: both;
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #3e7cb4 transparent;
    position: absolute;
    border-width: 0px 7px 6px 7px;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -5px;
    z-index: 1009;
}
#menu .nav > li .dropdown-menu {
    border-radius: 0px;
}
#menu .nav > li > .dropdown-menu {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 1010;
    padding: 5px 0 0;
    border-top: 3px solid #3e7cb4;
    border-bottom: 0px none;
    border-left: 0px none;
    border-right: 0px none;
    font-size: 12px;
}
#menu .nav > li:hover > .dropdown-menu.custom_block ul {
    display: table-cell;
}
#menu .nav > li > .dropdown-menu > ul {
    display: table-cell;
}
#menu .nav > li > div > .column a span,
#menu .nav > li > div > ul li a span {
    font-size: 18px;
    line-height: 13px;
    position: absolute;
    right: 8px;
}
#menu .nav > li > div > ul {
    position: relative;
    width: 200px;
}
#menu .nav > li > div > ul li a {
    font-size: 12px;
}
#menu .nav > li ul + ul {
    padding-left: 20px;
}
#menu .nav > li ul > li > a {
    text-decoration: none;
    padding: 4px;
    display: block;
    min-width: 160px;
}
#menu .nav > li div > ul > li > a {
    color: #222;
}
#menu .nav > li div > ul > li:hover > a {
    color: #3e7cb4;
}
#menu .nav > li > div > ul {
    position: relative;
}
#menu .nav > li > div > ul li + li {
    border-top: 1px solid #eee;
}
#menu .nav > li div > ul > li > a {
    font-size: 13px;
    padding: 7px 20px 7px 10px;
    display: block;
    color: #444;
    white-space: nowrap;
}
#menu .nav > li > div > ul li:hover > a {
    color: #3e7cb4;
}
#menu .nav > li > .dropdown-menu li {
    position: relative;
}
#menu .nav > li > .dropdown-menu li .dropdown-menu {
    background: #fff;
    position: absolute;
    z-index: 1008;
    padding: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    display: none;
    border-top: 3px solid #3e7cb4;
    left: 100%;
    margin-top: -32px;
}
#menu .nav > li.mega-menu.dropdown,
#menu .nav > li.menu_brands.dropdown {
    position: static;
}
#menu .nav > li.mega-menu > div {
    display: none;
    background: #fff;
    margin-left: 0px!important;
    width: 100%;
    position: absolute;
    padding: 10px 0px 0px 0px;
}
#menu .nav > li.mega-menu > div > .column {
    position: relative;
    display: inline-block;
    margin: 0px 0px 15px 0px;
}
#menu .nav > li.mega-menu > div > .column > a {
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}
#menu .nav > li.mega-menu > div > .column > a,
#menu .nav > li.mega-menu > div > .column > div > ul > li > a {
    padding: 4px 0;
    display: block;
}
#menu .nav > li.mega-menu > div > .column:hover > a {
    color: #3e7cb4;
}
#menu .nav > li.mega-menu > div > .column > div {
    display: block;
}
#menu .nav > li.mega-menu > div > .column > div ul li {
    position: relative;
}
#menu .nav > li.mega-menu > div .dropdown-menu ul li + li a {
    border-top: 1px solid #eee;
}
#menu .nav > li.menu_brands.name {
    position: relative;
}
#menu .nav > li.menu_brands.name > div {
    padding: 0px!important;
}
#menu .nav > li.menu_brands > div {
    padding: 15px 0px 0px!important;
    width: 100%;
    margin-left: 0px!important;
}
#menu .nav > li.menu_brands > div > div {
    text-align: center;
    margin-bottom: 10px;
}
#menu .nav > li.menu_brands > div > div a {
    display: block;
    line-height: 16px;
}
#menu .nav > li.menu_brands > div > div a img {
    display: inline-block;
}
#menu .nav > li.custom-link-right {
    float: right;
}
#menu .nav > li.wrap_custom_block > div.custom_block {
    padding: 5px;
}
/*Menu Center*/

#menu.center .navbar-nav {
    text-align: center;
}
#menu.center .nav > li {
    display: inline-block;
    float: none;
}
.custom_block p {
    line-height: 18px;
    margin: 0;
}
.custom_block a,
#menu .nav > li.wrap_custom_block > div.custom_block a {
    display: inline-block;
}
.custom_block {
    line-height: normal;
}
.custom_block td,
.custom_block th {
    padding: 5px;
}
.custom_block h1,
.custom_side_block h1 {
    font-size: 28px;
    margin-top: 0px;
}
.custom_block h2,
#custom_side_block h2 {
    font-size: 24px;
    margin-top: 0px;
}
.custom_block h3,
#custom_side_block h3 {
    font-size: 22px;
    margin-top: 0px;
}
.custom_block h4,
#custom_side_block h4 {
    font-size: 20px;
    margin-top: 0px;
}
.custom_block h5,
#custom_side_block h5 {
    font-size: 18px;
    margin-top: 0px;
}
.custom_block .btn-sm {
    padding: 5px 10px !important;
}
/*===================================================================================*/
/*  5. Feature box
/*===================================================================================*/

.custom-feature-box .feature-box {
    background: #f2f2f2;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
.custom-feature-box .feature-box .title {
    color: #555;
    font-size: 13px;
    text-transform: uppercase;
    line-height: normal;
    margin: 0;
}
.custom-feature-box .feature-box p {
    color: #888;
    font-size: 12px;
    margin: 0;
    line-height: normal;
}
/*===================================================================================*/
/*  6. Breadcrumb
/*===================================================================================*/

.breadcrumb {
    color: #c2c2c2;
    margin-bottom: 10px;
    background: none;
    padding: 0;
    border-radius: 0px;
}
.breadcrumb a {
    color: #999;
    font-size: 11px;
}
.breadcrumb a:hover {
    color: #2f4a90;
    text-decoration: underline;
}
/*===================================================================================*/
/*  7. Category Page
/*===================================================================================*/
/**======= 7.1. Refine Search Category =======**/

.category-list-thumb,
.category-list {
    margin-bottom: 15px;
}
.category-list-thumb > div {
    text-align: center;
    vertical-align: top;
    margin-bottom: 10px;
}
.category-list-thumb > div img {
    max-width: 100%!important;
    border: 1px solid #dddddd;
    padding: 3px;
}
.category-list .div a {
    text-decoration: underline;
    font-weight: bold;
}
/**======= 7.2. Grid-List Icon =======**/

#list-view,
#grid-view {
    font-size: 18px;
    padding: 0;
    background: none;
    margin-right: 10px;
    color: #555;
}
#list-view:hover,
#grid-view:hover {
    color: #000;
}
#list-view:active,
#grid-view:active {
    color: #444;
    box-shadow: none;
}
#list-view.selected,
#grid-view.selected {
    color: #999;
    cursor: default;
}
/**======= 7.3. Produc Thumb =======**/

.product-filter {
    border: 1px solid #EAEAEA;
    background: #F6F6F6;
    padding: 6px 5px;
    line-height: 25px;
}
.product-filter .form-control {
    padding: 2px 12px;
    height: auto;
}
.product-list.row,
.products-category.row {
    margin: 0;
}
/* Carousel */

.owl-carousel {
    margin-bottom: 35px;
}
#latest_category3 .owl-carousel {
    margin-bottom: 20px;
}
#latest_category4 .owl-carousel {
    margin-bottom: 20px;
}
.owl-carousel .product-thumb .image {
    margin-bottom: 5px;
}
.owl-carousel .product-thumb {
    padding: 7px;
    margin: 0px 3px 0px 0px;
    position: relative;
    text-align: left;
    border: 3px solid #fff;
    background: #fff;
}
@media only screen and (min-width: 1025px) {} .carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
}
.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
}
/* Product Thumb */

.product-thumb .image {
    text-align: center;
}
.product-thumb .image a {
    display: block;
}
.product-thumb .image a img {
    display: inline-block;
}
.product-thumb h4 {
    margin: 0;
    padding-bottom: 0px;
    margin-bottom: 15px;
}
.product-thumb h4 a {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0px;
    color: #333;
    min-height: 30px;
}
.product-thumb h4 a:hover {
    text-decoration: underline;
}
.product-thumb .button-group button {
    border: none;
}
.product-thumb .button-group .btn-primary {
    padding: 4px 8px;
    margin-bottom: 7px;
    font-size: 11px;
    height: auto;
    text-transform: uppercase;
  
    line-height: normal;
}
.product-thumb .button-group .add-to-links button {
    background: none;
    color: #666;
    font-size: 15px;
}
.product-thumb .button-group .add-to-links button:hover {
    color: #3e7cb4;
    cursor: pointer;
}
.product-thumb .rating {
    padding-bottom: 7px;
}
.product-thumb .rating span {
    vertical-align: top;
}
.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
    font-weight: normal;
}
.product-thumb .price {
    /*margin:10px 0;*/
    
    font-size: 16px;
    font-weight: bold;
}
.price-old {
    color: #BBB;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 12px;
    display: block;
}
.price-new {
    font-weight: bold;
}
.price,
.price-new {
    color: #3e7cb4;
}
.saving {
    background: #f12b63;
    /*border-radius: 100% 100% 100% 100%;*/
    
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    /*height:40px;
	line-height:40px;*/
    
    position: absolute;
    left: -3px;
    text-align: center;
    top: 40%;
    padding: 3px 5px;
    /*width: 40px;*/
}
/**======= 7.4. Grid Product =======**/

.product-grid {
    position: relative;
    text-align: center;
    vertical-align: top;
    background: #fff;
    padding: 7px 7px 7px 7px;
    border: 3px solid transparent;
    margin-bottom: 15px;
}
.product-grid:hover {
    border-color: #eae9e9;
}
.product-grid .product-thumb .image {
    margin-bottom: 5px;
}
.product-grid .product-thumb .image {
    float: none;
}
.product-grid .product-thumb .description,
.product-grid .product-thumb .price-tax,
.owl-carousel .product-thumb .price-tax {
    display: none;
}
.product-grid .product-thumb .button-group .add-to-links button,
.owl-carousel .product-thumb .button-group .add-to-links button,
{
    padding: 2px 6px;
}
@media only screen and (min-width: 1025px) {
    .product-grid .product-thumb .button-group .add-to-links,
    .owl-carousel .product-thumb .button-group .add-to-links {
        visibility: hidden;
    }
}
.product-grid:hover .product-thumb .button-group .add-to-links,
.owl-carousel .product-thumb:hover .button-group .add-to-links {
    visibility: visible;
}
.product-grid .product-thumb .button-group .add-to-links button span {
    display: none;
}
/**======= 7.5. List Product =======**/

.product-list {
    position: relative;
    padding: 20px 0px;
    border-top: 2px solid #eae9e9;
}
.product-list:first-child {
    border-top: none;
}
.product-list .image {
    float: left;
    margin-right: 15px;
}
.product-list .product-thumb h4 {
    margin-bottom: 8px;
}
.product-list .product-thumb h4 a {
    font-weight: bold;
    font-size: 15px;
}
.product-list .product-thumb .description {
    margin-bottom: 0px;
}
.product-list .product-thumb .button-group .btn-primary {
    float: left;
    margin-right: 5px;
}
.product-list .product-thumb .button-group .add-to-links {
    float: left;
    padding: 1px 0px;
    display: inline-block;
}
.product-list .product-thumb .button-group .add-to-links button span {
    font-size: 12px;
}
.product-list .saving {
    top: 25px;
    left: 16px;
}
/**======= 7.6. Rating Star =======**/

.rating .fa-stack {
    font-size: 6px;
}
.rating .fa-star-o {
    color: #999;
    font-size: 13px;
}
.rating .fa-star {
    color: #e07b47;
    font-size: 13px;
}
.dark-stack {
    color: #cdcdcd!important;
}
.rating .fa-star + .fa-star-o {
    color: #e07b47;
}
/**======= 7.7. Pagination =======**/

.pagination {
    margin: 0px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background: #3e7cb4;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0px;
}
.pagination > li > a,
.pagination > li > span {
    color: #3e7cb4;
}
/*===================================================================================*/
/*  8. Product Page
/*===================================================================================*/

.product-info {
    margin-bottom: 20px;
}
.product-info .image {
    position: relative;
    text-align: center;
}
.product-info .zoomWrapper {
    display: inline-block;
}
.product-info span.zoom-gallery {
    font-size: 11px;
    line-height: 11px;
    font-style: italic;
    color: #666;
    padding: 1px 0;
}
.product-info span.zoom-gallery .fa {
    font-size: 13px;
}
.product-info .image .zoomWrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.product-info .image-additional {
    overflow: hidden;
    margin-left: -7px;
    margin-top: 15px;
}
.product-info .image-additional img {
    max-width: 75px;
    height: auto;
    display: block;
}
#column-left + #content .product-info .image-additional img,
#column-right + #content .product-info .image-additional img {
    max-width: 66px;
}
.product-info .image-additional a {
    float: left;
    display: block;
    margin-left: 7px;
    border-radius: 0px;
    margin-bottom: 15px;
}
.product-info .image-additional a:hover,
.product-info .image-additional a:focus,
.product-info .image-additional a:active {
    border-color: #bbb;
}
.product-info .image-additional a.active {
    opacity: 0.5;
    outline: 0;
    cursor: default;
}
.product-info .description {
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 15px;
}
.product-info .instock {
    background: #53af2e;
    color: #fff;
    padding: 2px 8px;
    border-radius: 2px;
    font-weight: bold;
}
.product-info .nostock {
    background: #da4f49;
    color: #fff;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 2px;
}
.product-info .price-box {
    background: #F4F3F3;
    border: 1px solid #eee;
    overflow: auto;
    padding: 10px 5px;
    margin-bottom: 20px;
}
.product-info .price {
    font-size: 28px;
    font-weight: bold;
    color: #3e7cb4;
    line-height: 24px;
}
.product-info .price-old {
    color: #F00;
    font-size: 80%;
    text-decoration: line-through;
    font-weight: normal;
}
.product-info .cart {
    border-bottom: 1px solid #eae9e9;
    padding: 5px 0px 20px;
    margin-bottom: 15px;
    color: #4D4D4D;
    overflow: auto;
}
.product-info .cart div {
    vertical-align: middle;
    float: left;
}
.product-info .cart div.text-or {
    padding: 5px 6px 0;
}
.product-info .cart div > span {
    padding-top: 7px;
    display: block;
    color: #999;
}
.product-info .cart div .wishlist {
    font-size: 11px;
    display: inline-block;
    padding-top: 3px;
    border: none;
    background: none;
    margin-left: 15px;
}
.product-info .cart div .wishlist .fa {
    font-size: 14px;
}
.product-info .cart div .wishlist:hover {
    text-decoration: underline;
}
.product-info .cart #button-cart {
    padding: 11px 15px;
    text-transform: uppercase;
}
.product-info .cart .minimum {
    padding-top: 5px;
    font-size: 11px;
    color: #999;
    clear: both;
}
.product-info .cart div .qty {
    margin-right: 20px;
    float: left;
}
.addthis_toolbox {
    display: table;
    width: 100%;
}
/* Quantity plus minus */

.qty .control-label {
    margin-right: 10px;
    margin-bottom: 0px;
    float: left;
    padding: 12px 0;
    display: inline-block;
}
.qty a {
    background: url("../images/plus.png") no-repeat 2px 2px;
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    text-indent: -9999px;
    border: 1px solid #ccc;
    border-width: 1px 1px 0px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
}
.qty a.mines {
    background-position: 2px -13px;
    border-width: 1px 1px 1px 0px;
}
.qty a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   
}
.qty #button-cart,
.qty #input-quantity {
    float: left;
    font-size: 15px;
    width: 44px;
    padding-left: 2px;
    padding-right: 2px;
    height: 40px;
    text-align: center;
}
/*===================================================================================*/
/*  9. Product Item for Left and Right Panel
/*===================================================================================*/

#column-right .side-item .product-thumb,
#column-left .side-item .product-thumb {
    padding: 0px 0px 7px 0px;
    text-align: left;
    border: 0px none;
    margin: 0;
    clear: both;
}
#column-right .side-item .product-thumb + .product-thumb,
#column-left .side-item .product-thumb + .product-thumb {
    border-top: 1px solid #ccc;
    padding-top: 7px;
}
#column-right .side-item .product-thumb .image,
#column-left .side-item .product-thumb .image {
    float: left;
    margin-right: 8px;
    margin-bottom: 0px;
    width: 50px;
}
#column-right .side-item .product-thumb .caption,
#column-left .side-item .product-thumb .caption {
    float: left;
    max-width: 202px;
}
#column-right .side-item .product-thumb h4,
#column-left .side-item .product-thumb h4 {
    margin-bottom: 2px;
}
#column-right .side-item .product-thumb h4 a,
#column-left .side-item .product-thumb h4 a {
    font-size: 12px;
    display: block;
}
#column-right .side-item .product-thumb .price,
#column-left .side-item .product-thumb .price {
    padding: 0;
    margin: 0px 0 2px 0;
    font-size: 12px;
}
#column-right .side-item .product-thumb .saving,
#column-left .side-item .product-thumb .saving {
    position: relative;
    line-height: normal;
    padding: 0 3px;
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    font-size: 11px;
    border-radius: 0px;
    display: inline-block;
}
/*===================================================================================*/
/*  10. Category Accordion
/*===================================================================================*/

.box-category ul,
.list-item {
    list-style: none;
    margin-bottom: 20px;
    margin-top: -5px;
    padding: 0;
}
.box-category > ul > li,
.list-item > li {
    display: block;
    position: relative;
}
.box-category .down {
    top: 8px;
    right: 8px;
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 26px;
    background: #e6e6e6 url(../images/plus.png) 2px 4px no-repeat;
    opacity: 1.6;
    -moz-opacity: 1.6;
    border-radius: 4px;
}
.box-category .down:hover {
    opacity: 1;
    -moz-opacity: 1;
}
.box-category ul li a,
.list-item li a {
    padding: 5px 0px 5px 12px;
    color: #222;
    display: block;
    /*background: transparent url(../images/bullet-dark.png) 0px 10px no-repeat;*/
}
.box-category ul li.double a {
    display: inline-block;
    margin: 0;
}
.box-category ul li {
    position: relative;
}
/*.box-category ul li ul li + li { border-top:1px solid #ccc; }*/

.box-category > ul > li a.active + .down {
    background-position: 2px -14px;
}
.box-category > ul > li > a {
    color: #333;
    text-transform: uppercase;
    margin-bottom: 0px;
    background: #f3f3f3;
    padding: 12px;
    text-transform: inherit;
    font-size: 16px;
    font-weight: normal;
}
.box-category > ul > li ul {
    display: none;
    padding-left: 10px;
    margin-bottom: 20px;
}
.box-category > ul > li a.active {
    font-weight: bold;
}
.box-category > ul > li > a.active {
    margin-bottom: 15px;
    background: #f3f3f3;
    padding: 12px;
    text-transform: inherit;
    font-size: 16px;
    font-weight: normal;
}
.box-category > ul > li a.active + ul {
    display: block;
}
.box-category a:hover,
.list-item a:hover {
    text-decoration: underline;
    color: #3e7cb4;
}
.box-category > ul > li ul li a {
    margin-right: 16px;
}
.box-category > ul > li ul li a:hover,
.list-item a:hover {
    margin-right: 16px;
}
.box-category > ul > li ul > li > a {
    text-decoration: none;
}
/*===================================================================================*/
/*  11. buttons
/*===================================================================================*/

.buttons {
    border-top: 1px solid #EEEEEE;
    overflow: auto;
    padding: 15px 6px 0px 6px;
    margin-bottom: 20px;
}
.btn {
    padding: 6px 20px;
    border: 0px none;
    border-radius: 0px;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 13px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover,
.dropdown-menu {
    font-size: 12px;
}
.btn-group > .btn-lg {
    font-size: 15px;
}
.btn-default {
    color: #444;
    background-color: #e7e7e7;
}
.btn-default:hover,
.btn-default.active:hover {
    background: #fff;
}
.btn-primary {
    background-color: #3e7cb4;
    color: #ffffff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background: #444;
    color: #fff;
}
.btn-warning {
    color: #ffffff;
    background-color: #faa732;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #ffffff;
    background-color: #da4f49;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
    color: #ffffff;
    background-color: #5bb75b;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
    color: #ffffff;
    background-color: #df5c39;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #3e7cb4;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}
.btn-inverse {
    color: #ffffff;
    background-color: #363636;
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    background-color: #222222;
    color: #ffffff;
}
/*===================================================================================*/
/*  12. Tabs
/*===================================================================================*/

.nav-tabs > li > a.selected {
    color: #111;
    padding-bottom: 5px;
    background: #FFFFFF;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    font-weight: bold;
}
.nav-tabs {
    margin-bottom: 0px;
    border-width: 2px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-width: 2px;
    font-weight: bold;
}
.nav-tabs > li {
    margin-bottom: -2px;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
    color: #444;
}
.nav-tabs > li > a {
    border-radius: 0px;
    color: #666;
}
.tab-content {
    padding: 15px 15px 10px;
    margin-bottom: 20px;
    z-index: 2;
    border: 2px solid #ddd;
    border-top: 0px;
}
#tab-description ul {
    margin-left: 20px;
    margin-bottom: 15px;
}
.tab-sub {
    position: absolute;
    right: 70px;
    top: -46px;
    border: none;
    padding: 0;
    height: 25px;
    line-height: 25px;
}
.tab-sub a {
    padding: 0px 7px;
    font-size: 12px;
}
.tab-sub a.selected {
    padding: 0px 10px;
    position: relative;
    border-width: 2px;
    line-height: 24px;
}
.tab-sub a.selected:hover {
    text-decoration: none;
    cursor: default;
}
.tab-sub a:hover {
    text-decoration: underline;
}
.category-module-content {
    position: relative;
}
.category-module .tabs {
    position: absolute;
    /*right:70px;
	top:-46px;
	height:25px;*/
    
    line-height: 25px;
    right: 0;
    top: -35px;
}
.category-module .tabs li {
    float: left;
    list-style-type: none;
    margin-right: 1px;
}
.category-module .tabs li:first-child a {
    border-radius: 3px 0 0 3px;
}
.category-module .tabs li:last-child a {
    border-radius: 0 3px 3px 0;
}
.category-module .tabs li a {
    padding: 2px 12px;
    font-size: 14px;
    display: inline-block;
    color: #333;
    background: #efefef;
    border-bottom: #cdcdcd solid 3px;
}
.category-module .tabs li.active a {
    position: relative;
    line-height: 25px;
    /*border-top: 2px solid #ddd;
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;*/
    
    color: #333 !important;
    background: #FFFFFF;
    border-bottom: #159FAA solid 3px;
    font-weight: normal;
}
.category-module .tabs li.active a:hover {
    text-decoration: none;
    cursor: default;
}
.category-module .tabs li a:hover {
    text-decoration: underline;
    color: #159FAA;
}
.product-tab {
    margin-bottom: 20px;
}
.product-tab .tabs {
    height: 32px;
    line-height: 15px;
    padding-left: 10px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}
.product-tab .tabs li {
    float: left;
    list-style-type: none;
}
.product-tab .tabs li a {
    padding: 7px 15px 6px 15px;
    float: left;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: #222;
    margin-right: 2px;
    opacity: 0.7;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
.product-tab .tabs li.active a {
    opacity: 1;
    padding-bottom: 8px;
    background: #FFFFFF;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}
.product-tab .deactive,
.category-module .deactive {
    display: none;
}
.addthis_default_style > a {
    padding: 0
}
/*===================================================================================*/
/*  13. Static Banner
/*===================================================================================*/

.marketshop-banner > div.row div {
    margin-bottom: 18px;
}
.marketshop-banner div img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.marketshop-banner div a img:hover {
    /*opacity:0.8;*/
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*===================================================================================*/
/*  14. Faq Page
/*===================================================================================*/

.faq .panel-title {
    font-size: 14px;
    margin: 8px 0;
    display: inline-block;
}
.faq .panel-title:hover {
    color: #3e7cb4;
    text-decoration: underline;
}
.faq .panel-body {
    padding: 10px;
}
/*===================================================================================*/
/*  15. Sitemap Page
/*===================================================================================*/

.sitemap {
    margin: 0;
    padding: 0;
}
.sitemap > li {
    display: block;
    position: relative;
    font-weight: bold;
    color: #222;
}
.sitemap li a {
    color: #222;
    padding: 5px 8px 5px 0px;
    display: block;
    font-weight: bold;
}
.sitemap li ul {
    border-left: 1px solid #ccc;
    list-style-type: none;
    margin: 0px 0 0px 4px;
}
.sitemap li ul li {
    position: relative;
    padding: 0px 0 0px 22px;
}
.sitemap li ul li:before {
    border-top: 1px solid #ccc;
    content: " ";
    display: block;
    height: 1px;
    left: 0px;
    position: absolute;
    top: 12px;
    width: 15px;
}
.sitemap li ul li a {
    font-weight: normal;
}
.sitemap li a:hover {
    color: #3e7cb4;
    text-decoration: underline;
}
.sitemap-icon {
    font-size: 200px;
    color: rgb(238, 238, 238);
}
/*===================================================================================*/
/*  16. Footer
/*===================================================================================*/
/**===== 16.1. Footer Links =====**/

#footer .fpart-first {
    background-color: #f3f3f3;
    color: #444;
    padding-top: 50px;
    padding-bottom: 0px;
}
#footer .fpart-first a {
    color: #888;
}
#footer .fpart-first a:hover {
    color: #3e7cb4;
    text-decoration: underline;
}
#footer .fpart-first ul {
    padding: 0;
}
#footer .fpart-second {
    background-color: #fff;
    color: #666;
    padding: 25px 0px 0px
}
#footer .fpart-second a {
    color: #3e7cb4;
}
#footer .fpart-second a:hover {
    color: #3e7cb4;
    text-decoration: underline;
}
#footer .custom-text {
    padding: 0px 0px 25px;
}
#footer .custom-text p {
    margin: 0;
}
#footer h5 {
    color: #000;
    font-size: 16px;
    margin: 0px 0 15px 0;
    padding: 0px 0px 7px 0px;
    font-weight: bold;
}
#footer .column ul li {
    list-style-type: none;
}
#footer .column a {
    text-decoration: none;
    display: block;
    padding: 6px 0px;
    line-height: 16px;
    font-size: 13px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#footer .column a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/**===== 16.2. Contact Block =====**/

#footer .contact ul li {
    font-size: 12px;
    list-style-type: none;
    line-height: 20px;
    padding-left: 22px;
    position: relative;
}
#footer .contact > ul > li > .fa {
    position: absolute;
    left: 0px;
    top: 1px;
}
#footer .contact > ul > li > .fa-map-marker {
    font-size: 18px;
}
#footer .contact > ul > li > .fa-phone {
    font-size: 18px;
}
#footer .contact > ul > li > .fa-envelope {
    font-size: 15px;
}
#footer .contact ul li + li {
    margin-top: 12px;
}
#footer .contact ul li.email a {
    text-decoration: underline;
}
#footer .contact ul li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#footer .contact ul li a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
/**===== 16.3. Payments Types =====**/

#footer .payments_types {
    text-align: center;
    padding: 0px 0 25px 0;
}
#footer .payments_types img {
    display: inline-block;
    margin: 0px 3px 3px 3px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#footer .payments_types img:hover {
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/**===== 16.4. Social Icon =====**/

#footer .social {
    margin: 0;
    text-align: right;
    padding: 0px;
}
#footer .social a {
    float: left;
    margin: 0px 0 0px 10px;
}
#footer .social a img {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#footer .social a img:hover {
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/**===== 16.5. Powered by Text =====**/

#footer #powered {
    line-height: 20px;
    padding: 0px 0 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E8E8E8;
}
#footer #powered a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#footer #powered a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#footer .powered_text {
    padding-top: 6px;
}
#footer .powered_text p {
    line-height: 18px;
    margin: 6px 0;
}
/**===== 16.6. Back To Top =====**/

#back-top {
    display: none;
}
#back-top a {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 45px;
    height: 30px;
    text-align: center;
    color: #fff;
    display: block;
    font-size: 20px;
    line-height: 28px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#back-top a:hover {
    background-color: #3e7cb4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*===================================================================================*/
/*  17. Slide Block
/*===================================================================================*/

.sort-order-1 {
    top: 210px;
    z-index: 10000;
}
.sort-order-2 {
    top: 270px;
    z-index: 9999;
}
.sort-order-3 {
    top: 330px;
    z-index: 9998;
}
.sort-order-4 {
    top: 390px;
    z-index: 9997;
}
/**===== 17.1. Facebook =====**/

#facebook {
    position: fixed;
    width: 241px;
    background: #fff;
    border: 3px solid #3b5998;
    padding: 0px;
}
#facebook.fb-left {
    left: -241px;
}
#facebook.fb-right {
    right: -241px;
}
.facebook_icon {
    width: 30px;
    height: 50px;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: -3px;
    background-color: #3b5998;
}
.fb-left .facebook_icon {
    right: -33px;
}
.fb-right .facebook_icon {
    left: -33px;
}
/**===== 17.2. Twitter =====**/

#twitter_footer {
    position: fixed;
    width: 215px;
    background: #fff;
    border: 3px solid #2daae1;
    padding: 5px 10px;
}
#twitter_footer.twit-left {
    left: -215px;
}
#twitter_footer.twit-right {
    right: -215px;
}
.twitter_icon {
    width: 30px;
    height: 50px;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: -3px;
    background-color: #2daae1;
}
.twitter_icon .fa-twitter,
.facebook_icon .fa-facebook {
    font-size: 19px;
    color: #FFF;
}
.twit-left .twitter_icon {
    right: -33px;
}
.twit-right .twitter_icon {
    left: -33px;
}
/**===== 17.3. Custom Side block =====**/

#custom_side_block {
    position: fixed;
    width: 215px;
    background: #fff;
    border: 3px solid #ed5f01;
    padding: 5px 10px;
}
#custom_side_block.custom_side_block_left {
    left: -215px;
}
#custom_side_block.custom_side_block_right {
    right: -215px;
}
#custom_side_block img {
    width: 100%!important;
    height: auto!important;
}
.custom_side_block_icon {
    width: 30px;
    height: 50px;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 54px;
    position: absolute;
    top: -3px;
    background-color: #ed5f01;
}
.custom_side_block_icon .fa-chevron-right,
.custom_side_block_icon .fa-chevron-left {
    font-size: 20px;
    color: #FFF;
}
.custom_side_block_left .custom_side_block_icon {
    right: -33px;
}
.custom_side_block_right .custom_side_block_icon {
    left: -33px;
}
/**===== 17.4. Video Box =====**/

#video_box {
    position: fixed;
    width: 566px;
    background: #fff;
    border: 3px solid #ff679a;
    padding: 0px;
}
#video_box iframe {
    border-width: 0px;
}
#video_box.vb-left {
    left: -566px;
}
#video_box.vb-right {
    right: -566px;
}
#video_box p {
    margin-bottom: 0px;
    line-height: 0px;
}
#video_box_icon {
    width: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: -3px;
    background-color: #ff679a;
}
#video_box .fa-play {
    font-size: 16px;
    color: #FFF;
}
.vb-left #video_box_icon {
    right: -33px;
}
.vb-right #video_box_icon {
    left: -33px;
}
/*===================================================================================*/
/*  18. Five Grid Columns
/*===================================================================================*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
/*===================================================================================*/
/*  19. Contact Page
/*===================================================================================*/

.contact-info {
    padding-left: 40px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}
.contact-info .contact-info-icon {
    position: absolute;
    left: 0;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #aaa;
}
.contact-info h4 {
    font-size: 17px;
    margin-top: 0px;
    color: #000;
    padding-top: 5px;
}
/*===================================================================================*/
/*  20. Manufacturer Page
/*===================================================================================*/

.brand-index a {
    border: 1px solid #eee;
    padding: 2px 5px;
    margin: 0 4px;
    font-size: 14px;
}
.brand-index a:hover {
    border: 1px solid #ccc;
    background: #f2f2f2
}
.manufacturer-info .manufacturer-title {
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px 15px;
}
.manufacturer-info .manufacturer {
    text-align: center;
    margin-bottom: 15px;
}
.manufacturer-info .manufacturer .thumbnail {
    margin-bottom: 5px;
    border-radius: 0px;
    border: 1px solid transparent;
}
.manufacturer-info .manufacturer:hover .thumbnail {
    border: 1px solid #ddd;
}
/*===================================================================================*/
/*  21. Shortcodes
/*===================================================================================*/

.alert {
    border-radius: 0px
}
.divider {
    clear: both;
    height: 40px;
}
.dropcap {
    display: block;
    float: left;
    font-size: 40px;
    line-height: 1em;
    margin: 0px 5px 0 0;
}
blockquote {
    font-size: 12px;
}
h4.panel-title {
    padding: 0
}
.alert {
    padding-left: 50px;
    position: relative;
}
.alert .fa {
    font-size: 20px;
    left: 18px;
    position: absolute;
}
.simple-ul {
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
}
.simple-ul li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}
.simple-ul li:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    font-family: fontawesome;
}
.simple-ul ul {
    margin: 10px 0 10px 0;
    padding: 0;
    list-style: none;
}
.simple-ul ul li:after {
    content: "•";
    font-size: 1em;
}
.decimal-list {
    margin: 0px 0 15px 20px;
    padding: 0;
    list-style: decimal outside;
}
.decimal-list li {
    padding-left: 0;
    margin-bottom: 5px;
    text-indent: 0;
}
.decimal-list ul {
    margin: 5px 0 5px 17px;
    padding: 0;
    list-style: decimal outside;
}
/* Featured Box */

.featured-box {
    position: relative;
    margin-bottom: 20px;
}
.featured-icon {
    border-radius: 50%;
    color: #fff;
    background-color: #3e7cb4;
    display: inline-block;
    font-size: 40px;
    height: 110px;
    line-height: 110px;
    margin: 5px;
    position: relative;
    text-align: center;
    width: 110px;
    z-index: 1;
}
.featured-box h4 {
    font-size: 22px;
}
/* Feature Box */

.feature-box {
    margin-bottom: 20px;
}
.feature-box .feature-icon {
    color: #3e7cb4;
    display: inline-block;
    font-size: 40px;
    height: 40px;
    text-align: center;
    width: 40px;
    float: left;
}
.feature-box .feature-content {
    padding-left: 50px;
}
.feature-box h4 {
    font-size: 22px;
    margin-top: 0;
}
/* Infographic */

.infographic {
    position: relative;
    margin-top: 30px;
}
.infographic-inner {
    padding-bottom: 50px;
}
.infographic .infographic-inner:before {
    content: "";
    display: block;
    height: 15px;
    left: 50%;
    margin-left: -22px;
    position: absolute;
    bottom: -5px;
    width: 44px;
    background: #bbb;
}
.infographic .infographic-inner:after {
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -4.5px;
    position: absolute;
    top: 5px;
    width: 9px;
    z-index: 0;
    border: 2px solid #bbb;
    border-bottom: none;
    border-top: none;
}
.infographic-box {
    width: 50%;
    position: relative;
}
.infographic-box-inner {
    width: 80%;
    position: relative;
    background: #00a9a6;
    padding: 15px;
    color: #fff;
    z-index: 1;
}
.infographic-box .infographic-year {
    position: absolute;
    right: -80px;
    color: #000;
    font-size: 26px;
    top: 6px;
    font-weight: 600;
}
.infographic-box:after {
    clear: both;
    content: ' ';
    display: block;
    width: 100%;
    height: 4px;
    background: #00a9a6;
    position: absolute;
    top: 15px;
    right: 0;
}
.infographic-box:before {
    clear: both;
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    z-index: 1;
    position: absolute;
    border: 7px solid #00a9a6;
    border-radius: 50%;
    top: 3px;
    right: -12px;
}
.infographic-box.pull-right {
    margin-top: 140px;
}
.infographic-box.pull-right:after {
    left: 0;
}
.infographic-box.pull-right:before {
    left: -12px;
}
.infographic-box.pull-right .infographic-year {
    left: -80px;
}
.infographic-box h4 {
    margin-top: 0px;
    font-weight: 600
}
.infographic-box.dark-blue:before {
    border-color: #325b87;
}
.infographic-box.dark-blue:after,
.infographic-box.dark-blue .infographic-box-inner {
    background: #325b87;
}
.infographic-box.red:before {
    border-color: #ee312d;
}
.infographic-box.red:after,
.infographic-box.red .infographic-box-inner {
    background: #ee312d;
}
.infographic-box.orange:before {
    border-color: #f7982c;
}
.infographic-box.orange:after,
.infographic-box.orange .infographic-box-inner {
    background: #f7982c;
}
/*===================================================================================*/
/*  22. Extra
/*===================================================================================*/
/* Fix some bootstrap improvment */

.form-control,
.input-group-addon {
    border-radius: 0px;
}
.radio-inline + .radio-inline .checkbox-inline + .checkbox-inline {
    margin-left: 10px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-top: 2px;
}
.checkbox-inline input[type="checkbox"] {
    margin-top: 3px;
}
.img-thumbnail {
    border-radius: 0px;
}
.well {
    border-radius: 0px
}
.panel,
.panel-heading {
    border-radius: 0px;
}
.panel-group .panel {
    border-radius: 0px;
}
span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
    display: inline;
}
div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}
.owl-theme .owl-controls .owl-buttons div {
    width: 16px!important;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: -20px!important;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
    right: -20px!important;
}
.img-bm {
    margin-bottom: 20px;
    margin-top: 20px;
}
.img-bm1 {
    margin-bottom: 35px;
    margin-top: 17px;
}
.pro .product-thumb {
    background: #fff
}
.owl-pagination {
    display: none
}
.foot_for .btn-primary {
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
}
.img_sli .md-icon-button {
    display: none !important;
}
.img_sli .md-off {
    border-color: #808080!important;
    background: #808080;
}
.img_sli .md-off {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
}
/* stiky*/

.et-fixed-header {
    box-shadow: none;
}
.et-fixed-header.fixed-header nav {
    transform: translateY(0px);
}
.et-fixed-header {
    position: fixed !important;
    z-index: 999;
    top: 0px;
    left: 0px;
    right: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.et-fixed-header .htop {
   transform: translateY(-30px);
   

}
.et-fixed-header nav {
    display: block;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transform: translateY(-45px);
}
#header.et-fixed-header .header-row {
    padding: 5px 0!important;
	margin-top:-30px !important;
    transition:all 0.8s;
}
.fixed-header nav#menu {
    display: block!important;
    transition: -webkit-transform .9s ease-in-out;
    transition: transform .9s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.heading .fa-shopping-cart {
    padding: 5px;
}
span#cart-total b {
    background: #E8EBEE;
    color: #0F8C96;
    padding: 0px 5px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 2px;
}
button.btn.btn-default.sear {
    background: #0F8C96;
    color: #fff;
    border: 1px solid #0f8c96;
}
button.categr {
    background: transparent;
    border: 1px solid #CCC;
    float: right;
    border-left: none;
    z-index: 99;
}
.dropdown-menu.drop {
    z-index: 9999;
}
md-radio-button .md-on {
    background-color: rgb(15, 140, 150) !important;
}
li.inline-block {
    float: left;
    width: 8%;
}
div .modal-header {
    border: none;
}
#login-modal .modal-dialog {
    width: 420px;
}
#login-modal .checkbox {
    padding: 0 2px;
    font-size: 14px;
}
#reg-modal .checkbox {
    font-size: 12px;
}
#login-modal .btn-lg,
#reg-modal .btn-lg {
    border-radius: 3.5px;
    font-size: 15px;
}
#login-modal h4,
#reg-modal h4 {
    margin: 2px 0;
    font-size: 24px;
}
#login-modal .modal-content {
    border-radius: 0px
}
.forgot-pass {
    float: right;
    color: #159faa;
}
#login-modal .or-seperator {
    background: #fff;
    height: .9142857143rem;
    line-height: 1.2rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #666666;
    margin: 0 auto;
    position: relative;
    top: -1.714285714rem;
    text-align: center;
    width: 15%;
}
#login-modal .login-with-fb {
    padding: 0 0 1.0714285714rem;
    border: none;
    border-bottom: .0714285714rem solid #dddddd;
    color: #333;
    text-align: center;
    font-size: .7857142857rem;
    margin: 10px 0;
}
.face_cla {
    background: #45629E !important;
}
.regi_na {
    margin: 15px 0;
    text-align: center;
    font-size: 14px;
}
.regi_na a {
    text-decoration: underline !important;
}
.regi_na a {
    color: #159faa;
    text-decoration: underline;
}
#login-modal .form-control,
#reg-modal .form-control,
#Forgot-modal .form-control {
    height: 40px;
    border-radius: 4px;
	    border-color: #dddddd;
    box-shadow: none;
}
div#Forgot-modal .modal-header {
    border: none;
}
#Forgot-modal .modal-dialog {
    width: 420px;
}
#Forgot-modal .modal-content {
    border-radius: 0px
}
div#reg-modal .modal-header {
    border: none;
}
#reg-modal .modal-dialog {
    width: 420px;
}
#reg-modal .modal-content {
    border-radius: 0px
}
.forgot-pass {
    float: right;
    color: #159faa;
    text-decoration: underline !important;
}
#reg-modal .or-seperator {
    background: #fff;
    height: .9142857143rem;
    line-height: 1.2rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #666666;
    margin: 0 auto;
    position: relative;
    top: -1.714285714rem;
    text-align: center;
    width: 15%;
}
#reg-modal .login-with-fb {
    padding: 0 0 1.0714285714rem;
    border: none;
    border-bottom: .0714285714rem solid #dddddd;
    color: #333;
    text-align: center;
    font-size: .7857142857rem;
    margin: 10px 0;
}
span.glyphicon.glyphicon-calendar {
    position: relative;
    color: #a6a7a9;
    float: right;
    right: 1.5rem;
    top: 25px;
}
#reg-modal .form-group.radio > span {
    margin: 0 20px;
}
.rg_btn.btn-lg {
    margin-bottom: 15px;
    font-size: 16px !important;
    font-weight: bold;
}
#reg-modal .modal-body,
#login-modal .modal-body {
    padding: 0 30px 5px 30px;
}
#login-modal h1 {
    margin: 0px;
}
#reg-modal h1 {
    margin: 0px;
}
.checkbox {
    text-align: justify;
    font-size: 14px;
    padding: 0 25px;
}
.checkbox a {
    color: #159faa;
}
.mb_sea {
    display: none!important;
}
.mob_lo {
    display: none!important;
}
.form-control:focus {
    border-color: #ccc!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.input-group.cate_sear input {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.input-group.cate_sear .sear {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#menu .nav > li > .dropdown-menu {
    border: none!important;
}
#menu .nav > li:hover > a {
    border-top: 2px solid #484848;
    background: #fff!important;
}
#menu .nav > li:hover > a::after {
    display: none !important;
}
.open>.dropdown-toggle.btn-default {
    background-color: transparent!important;
}
.new_pro .image {
    border-right: 1px solid #eee;
}
.new_pro .product-thumb {
    margin: 0px -10px 0px 0px!important;
}
.new_pro.owl-theme .owl-wrapper-outer {
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    background: white;
}
.owl-buttons div {
    color: #6e6e6e!important;
}
a {
    text-decoration: none!important;
}
.modal-backdrop.in {
    opacity: 0.9!important;
}
.modal-backdrop {
    background: #fff!important;
}
.modal {
    z-index: 9999;
}
.backtotop {
    z-index: 9;
}
.modal-dialog {
    margin: 40px auto;
}
.modal-content {
    border-radius: 3px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    border: none;
}
.modal-header {
    z-index: 1;
    position: relative;
}
.close {
    transition: all 0.2s;
    opacity: 1
}
.wsmenu-list > li > a {
    padding: 0px 13px 0px 13px;
    transition: all 0.2s;
}
#header .header-row {
    z-index: 1;
}
.img_sli .md-label {
    margin-left: 20px!important;
}
.caption {
    padding: 0 10px;
}
.fa_ub {
    margin: 10px -10px;
}
.fa_ubl {
    margin: 10px -10px -10px;
}
.slide_heade {
    left: 225px;
}
.input-group-btn.search-panel {
    box-shadow: inset -4px 4px 2px rgba(0, 0, 0, 0.075);
}
.cate_sear input.form-control {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.075) !important;
}
.mar-bar {
    margin-bottom: 0px !important;
}
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff !important;
    border-color: #CCC !important;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.075) !important;
}
.sear.btn-default:active{ background-color: #0F8C96!important;}
span.rev_c {
    font-size: 12px;
    line-height: 1;
    padding-left: 5px;
}
.product-thumb .rating span {
    vertical-align: middle;
}
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    
    color: #333333 !important;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    
    color: #333333 !important;
    opacity: 1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    
    color: #333333 !important;
    opacity: 1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    
    color: #333333 !important;
}
#cat_accordion input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    
    color: #adadad !important;
}
#cat_accordion input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    
    color: #adadad !important;
    opacity: 1;
}
#cat_accordion input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    
    color: #adadad !important;
    opacity: 1;
}
#cat_accordion input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    
    color: #adadad !important;
}
#footer .powered_text {
    padding-top: 6px;
}
.bootm_foo a {
    color: white !important;
}
.foot_for span {
    padding-left: 25px;
    margin-left: -5px;
}
.panel_spac {
    margin-top: 30px;
}
.row.panel_spac .panel-heading {
    background: #484848;
    color: #fff;
    padding: 18px 8px 12px 20px;
}
a.pull-right.arrow_dow {
    top: -30px;
    position: relative;
    width: 100%;
    height: 32px;
    text-align: right;
    vertical-align: text-bottom;
}
.arrow_dow i.fa {
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 0px 6px;
}
.product_to_sop2 {
    margin-top: 25px;
}

.button-primary { background: #484848!important;
    color: #fff;
    padding: 10px 0px;
    width: 130px;
    border-radius: 4px;
    transition: all 0.2s;
    outline:none!important; }
	
.button-primary:hover {background: #159faa !important;}




.product_to_sop2 h3,
.product_to_sop h3 {
    font-size: 20px;
    margin: 18px 0;
}
ul.brand_list {
    padding: 0px;
    text-align: center;
}
ul.brand_list li {
    display: inline-block;
    padding: 0px 14px 0px 0px;
}
.row.panel_spac .panel {
    background: transparent;
}
.row.panel_spac .panel-default {
    border: none;
    box-shadow: none;
}
.row.panel_spac .panel-body {
    padding: 20px 0
}
.row.slid_foo li {
    border: 1px solid #ddd;
    padding: 2px 10px;
    margin: 0 2px;
    border-radius: 2px;
}
.row.slid_foo span {
    margin: 2px 10px;
    font-size: 14px;
}
.row.slid_foo h5 {
    margin: 0px !important;
}
.panel-body.slid_footer {
    padding: 15px 5px 0px 2px;
}
ul.brand_list li:last-child {
    padding-left: 10px;
    padding-right: 0px;
}
.panel.panel-default.last_cro {
    margin-bottom: 67px;
}
#content .row.products-category .product-thumb {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background: #fff;
	min-height: 368px;
    cursor: pointer;
}
#content .row.products-category .product-grid {
    background: transparent;
    border: none;
    padding: 0px;
}
.list_pro {
    margin-top: 30px;
}
.box-category {
    background: #fff;
    margin-top: 10px;
    box-shadow: 0px 2px 5px #e1e1e1;
}
#cat_accordion .form-control {
    width: 85%;
    box-shadow: inset -2px 0px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    height: 35px;
    font-family: inherit;
}
.panel-body.product_sub .nav-tabs {
    border: none;
}
.product_sub .nav-tabs>li>a {
    line-height: 0;
    border: 0px solid transparent;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 15px;
    height: 34px;
}
.product_sub .nav-tabs>li.active>a {
    position: relative;
    color: #159FAA !important;
    background: #ffffff;
    border-bottom: #159FAA solid 2px !important;
    font-weight: normal;
    border: none;
}
.tab-content.tab_con {
    border: none;
    padding: 0px;
}
.short_c {
    float: left;
    font-size: 14px;
}
.panel-body.product_sub {
    padding-bottom: 0px;
}
.product_sub .nav-tabs > li {
    margin: 0px;
}
.product_sub .nav>li>a:hover,
.product_sub .nav>li>a:focus {
    position: relative;
    color: #159FAA !important;
    background: #ffffff;
    border-bottom: #159FAA solid 2px !important;
    font-weight: normal;
    border: none;
}
#content .product-thumb .button-group .btn-primary {
    padding: 12px 10px;
    font-size: 12px;
    text-transform: capitalize;
}
#content .caption {
    text-align: left;
}
#content .item img {
    display: inherit;
}
#content .add-to-links button span {
    display: block;
}
.row.ico_data span {
    font-size: 12px;
    padding-left: 20px;
}
.row.ico_data button {
    padding-bottom: 0px !important;
}
.row.ico_data {
    padding: 0 10px;
    position: absolute;
}
.row.ico_data .col-md-6 {
    border: 1px solid #e6e6e6;
    background: #fafafa;
}
.row.ico_data i {
    float: left;
    color: #0f8c96;
}
#siml_pro .dropdown-menu {
    border-color: #0f8c96;
}
#siml_pro .dropdown-menu {
    padding: 8px;
    margin: 0;
    z-index: 1011;
    background: #FFF;
    border: 3px solid#0f8c96;
    border-width: 3px 0px 0px 0px;
    width: 695px;
    border-radius: 0px;
    right: 0;
    top: 48px;
}
#siml_pro.open span.tip:after {
    clear: both;
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #0f8c96 transparent;
    position: absolute;
    border-width: 0px 7px 6px 7px;
    bottom: -8px;
    left: 50%;
    margin: 0 0 0 -5px;
    z-index: 1012;
}
.view_pro {
    height: 130px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 40px;
    width: 90%;
    vertical-align: middle;
    left: 15px;
    text-align: center;
}
a.view_pro img {
    margin: 25% 0;
}
.about-carousel .view_pro {
    height: 210px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 20px;
    width: 100%;
    left: 0px;
    text-align: center;
}
.about-carousel .row.ico_data {
    width: 103%;
    top: -4px;
    padding: 0px;
    z-index: 99;
}
.about-carousel .row.ico_data span {
    font-size: 14px;
    padding-left: 0px;
}
.about-carousel .row.ico_data .col-md-6 {
    padding: 1px 0;
}
.about-carousel .product-thumb .button-group .btn-primary {
    padding: 5px 8px;
    text-transform: capitalize;
}
#content .saving {
    left: 0px;
    padding: 8px 8px;
}
aside#column-left li span {
    color: #aaa;
    padding-left: 5px;
}
aside#column-left li .checkbox {
    text-align: justify;
    font-size: 14px;
    padding: 0px;
    margin: 6px 0;
}
aside#column-left ul li ul li a {
    font-size: 14px;
    color: #5a647c;
}
aside#column-left .box-category ul li ul li a {
    padding-left: 0px;
}
aside#column-left .checkbox label {
    color: #5a647c;
}
ul#cat_accordion > li:first-child a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px -1px 1px #e1e1e1;
}
aside#column-left .box-category > ul > li ul {
    display: none;
    padding-left: 16px;
	margin-top:5px;
}
#content .button-group > button:hover {
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.87);
}
#content .open>.dropdown-toggle.btn-primary,
#content .btn-primary:active:focus {
    color: rgba(0, 0, 0, 0.87);
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}
p.tip_close {
    text-align: right;
    font-size: 22px;
    position: relative;
    top: -18px;
    margin-bottom: 0px;
}
.row.tool-con {
    border-bottom: 1px solid #f3f3f3;
    margin: 0 -8px;
}
.row.tool-con h5 {
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.too_cont .product-thumb {
    box-shadow: none !important;
    min-height: 0px !important;
    margin: 0px !important;
    border: 2px solid transparent;
}
.too_cont .product-thumb:hover {
    border: 2px solid #dddddd !important;
}
.too_cont.owl-carousel {
    margin-bottom: 5px;
    margin-top: 20px;
}
#column-left .item img {
    display: inherit;
}
#column-left .item {
    text-align: center;
}
#content .more_cat a {
    color: #999999;
    padding: 0 8px;
}
#content .panel {
    border-radius: 5px;
    box-shadow: 0px 0px 8px #e6e6e6;
}
.row.ico_data img {
    float: left;
}
.btn-default.load_cla {
    width: 200px;
    border-radius: 4px;
	padding: 12px 0;
	font-weight: 600;
	font-size:16px;
}
a.btn.btn-default.load_cla:hover {
    background: #0f8c96;
    color: #fff;
}
.short_c.nav-tabs > li > a {
    border-radius: 0px;
    color: #333333;
}
#content .product-layout.product-grid.col-lg-2:nth-child(5) {
    margin-right: 0px!important;
}
.panel-body.product_sub > span.short_c {
    padding-top: 1px;
    padding-right: 20px;
}
.last_con #siml_pro .dropdown-menu {
    left: auto!important;
}
#content .product-layout.product-grid:nth-child(4) #siml_pro .dropdown-menu {
    left: auto!important;
}
#content .product-layout.product-grid:nth-child(3) #siml_pro .dropdown-menu {
    left: auto!important;
}
#content .product-thumb .button-group > button {
    background-color: #fafafa;
    color: #605f5d;
    text-transform: none;
}
#product-modal .caption ul {
    text-align: left;
}
#product-modal .detai_con {
    padding: 0px 10px;
}
#product-modal .text-right .btn.btn-primary {
    float: right;
}
.panel.panel-default.compa_content {
    background: #f3f3f3;
    width: 730px;
    margin: 0 auto;
}
.panel.panel-default.compa_content ul li {
    display: inline-block;
    width: 132px;
    height: 57px;
    background: #fff;
    border: 1px solid #ddd;
    margin-right: 5px;
}
.row.smal_com span {
    float: right;
    position: absolute;
    top: -8px;
    font-weight: bold;
    right: 5px;
}
.row.smal_com p:last-child {
    width: 75px;
}
.row.smal_com p {
    float: left;
    font-size: 10px;
    width: 35%;
    padding: 10px 0px;
    line-height: 12px;
}
.panel.panel-default.compa_content ul {
    padding: 0px;
    margin: 0px;
}
.panel.panel-default.compa_content ul li:last-child {
    border: none;
    background: transparent;
}
.panel.panel-default.compa_content p.pull-right {
    padding: 0px;
    margin: 12px;
}
.row.smal_com p img {
    margin-top: 10px;
}
.row.smal_com p img {
    margin: 5px 0;
}
.panel.panel-default.compa_content .panel-body {
    padding: 8px 6px 2px;
}
span.main_close {
    float: right;
    position: relative;
    top: -4px;
    right: -2px;
}
.panel.panel-default.compa_content p.pull-right a.btn.btn-primary {
    border-radius: 4px;
}
.too_cont div.owl-next {
    left: 99%;
    color: white !important;
    background: black;
}
.too_cont .owl-prev {
    display: none!important;
}
.too_cont h4 a {
    white-space: nowrap;
    width: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.too_cont .product-thumb h4 {
    margin: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.too_cont .product-thumb .price {
    font-size: 12px;
}
.too_cont div .fa {
    font-size: 20px !important;
    line-height: 25px !important;
    font-weight: normal !important;
}
.about-carousel .owl-buttons div .fa {
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
}
.about-carousel .image img[ bn-lazy-src] {
    background-image: url("../images/lazy.gif");
    background-repeat: no-repeat;
    height: 235px;
    width: 202px;
}
#content_page .product-info .image-additional a {
    margin-bottom: 10px;
}
#content_page .product-info .image-additional img {
    max-width: 50px;
}
#content_page .product-info .image {
    text-align: left;
}
ul.list-unstyled.price_pro li.price span {
    display: inline-block;
    position: relative;
}
ul.list-unstyled.price_pro li {
    display: inline-block;
}
.price-box.detail_ca .list-unstyled li {
    display: inline-block;
    border: 1px solid #dddddd;
}
.price-box.detail_ca {
    overflow: initial;
    margin: 0 -30px;
}
.price-box.detail_ca .list-unstyled li a.btn.btn-default {
    background: #fff;
    padding: 2px 5px;
    border: 3px solid transparent;
}
.price-box.detail_ca .col-lg-2 {
    padding-left: 35px;
    font-size: 14px;
}
.price-box.detail_ca .list-unstyled li a.btn.btn-default:focus,
.price-box.detail_ca .list-unstyled li a.btn.btn-default:active,
.price-box.detail_ca .list-unstyled li a.btn.btn-default:hover {
    border: 3px solid #0f8c96;
}
ul.list-unstyled.price_pro li:first-child {
    padding-right: 20px;
    font-size: 14px;
}
.price_pro .price .price-old {
    color: #666666;
    font-size: 14px;
}
.price_pro .price span {
    font-size: 20px;
}
.row.product-info.quick .col-sm-5,
.row.product-info.quick .col-sm-7 {
    border: 1px solid #ddd;
    padding-top: 20px;
}
.row.product-info.quick .col-sm-5 {
    flex: 1;
    -webkit-flex: 1;
}
.row.product-info.quick .col-sm-7 {
    border-left: none;
}
.row.product-info.quick {
    background: #fff;
    margin: 0 0px 20px 0px;
    display: -webkit-flex;
    /* Safari */
    
    display: flex;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}
.col-sm-6.cont_are {
    padding-right: 0px;
    padding-left: 0px;
}
.set_pa {
    padding: 0 20px;
}
.coup {
    width: 280px;
    text-align: center;
    border: 2px dashed #f9a4a3;
    background: #fef6f6;
    font-weight: 600;
    margin-left: 18px;
}
.but_sec {
    margin: 20px;
    margin-left: 0px;
}
.coup h4 {
    color: #f34948;
    border-bottom: 1px dashed #e82a00;
    line-height: 30px;
    width: 75px;
    margin: 0 auto 10px auto;
}
.row.but_sec .col-lg-4 {
    padding: 0px;
}
.coup span {
    color: #159faa;
    font-weight: bolder;
}
.list-unstyled.favor li {
    display: inline-block;
}
ul.list-unstyled.favor li {
    font-size: 13px;
    margin-top: 18px;
}
.list-unstyled.favor li span {
    padding: 0 5px;
}
.list-unstyled.favor li i {
    color: #159faa;
}
ul.list-unstyled.favor li:first-child {
    padding-right: 16px;
}
.product_de img {
    margin: 15px auto 10px auto;
    display: block;
}
.product_de b {
    display: block;
    font-size: 16px;
    color: #159faa;
    margin-bottom: 10px;
}
.product_de span.pro_titl {
    font-size: 14px;
}
.product_de p {
    margin-top: 10px;
}
p.veri_class img {
    display: inline;
    margin: 0px 0px;
    vertical-align: middle;
}
p.veri_class {
    font-size: 14px;
    font-weight: 600;
}
.row.pro_sec {
    border-top: 1px solid #ddd;
    margin-bottom: 35px;
}
.row.pro_sec .col-lg-4 {
    border-right: 1px solid #ddd;
}
.user_sec1 img {
    vertical-align: middle;
    padding-right: 4px;
}
.user_sec1 li {
    display: inline-block;
}
.user_sec1 ul li {
    padding-right: 56px;
    font-size: 14px;
    margin: 6px auto;
}
.user_sec1 ul li:last-child {
    padding: 0px;
}
.user_sec1 {
    margin: 16px 0 12px 0;
    border-bottom: 1px solid #ddd;
}
.user_sec1 a {
    color: #159faa;
}

.ship_are label {
    font-weight: bold;
    font-size: 14px;
}
.ship_are span {
    color: #159faa;
    text-decoration: underline;
}
.row.pro_descr {
    padding: 30px 15px 55px 15px;
    border-top: 1px solid #ddd;
}
ul.list-unstyled.list_data li {
    display: inline-block;
    padding: 5px 10px 5px 0;
}
.list_user h5 {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
	font-size:12px;
}
.list_user h5 span {
    color: #159faa;
}
.set_us {
    padding-left: 20px;
    padding-right: 0;
}
.row.pro_descr p {
    font-size: 14px;
    line-height: 1.5;
}
.produ_con p {
    font-size: 14px;
    line-height: 2;
}
.row.pro_descr h5 {
    font-size: 18px;
}
.cent_img img {
    display: inline;
}
.tab-content.detail_content {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-top: 0px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}
.main_con {
    margin: 25% 12%;
}
.main_con2 {
    margin: 8% 12%;
}
.main_con2.conte {
    text-align: right;
}
.main_con3 {
    margin: 50px 5%;
}
.tab-content.detail_content p {
    color: #666666;
}
.produ_con.main_con2 h4 {
    color: #666666;
    margin-bottom: 28px;
}
.produ_con.main_hea h3 {
    margin-top: 60px;
}
.nav.nav-tabs.tab_con > li.active > a {
    border-width: 1px;
    border-color: #e9e9e9;
    border-bottom-color: transparent;
    border-top: 0px;
    font-weight: normal;
}
.nav.nav-tabs.tab_con {
    border: 1px solid #e9e9e9;
    border-left: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}
.nav-tabs.tab_con > li > a {
    font-size: 16px;
}
.image.deta_img a img {
    height: auto!important;
}
.slid_pa .panel-title {
    text-align: center;
    line-height: 20px;
}
.slid_pa .panel-heading {
    background: #fafafa;
}
.panel-body.left_con span {
    font-weight: 600;
    color: #0f8c96;
}
.panel-body.left_con {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}
.left_con1 .owl-carousel {
    margin-bottom: 0px !important;
}
.image_zoo {
    padding-top: 0px !important;
}
.row.product_zoom .center-block {
    margin: 10px 0;
}
.price_pro .label.label-danger {
    background: #f34948 !important;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    padding: 8px;
}
.set_pa .title {
    margin-bottom: 16px !important;
}
.detail_ca .qty #input-quantity {
    float: none;
    font-size: 15px;
    width: 100px;
    padding-left: 2px;
    padding-right: 2px;
    height: 30px;
    text-align: center;
    background: #fafafa
}
.detail_ca .qty a {
    top: -25px;
    border: 0px;
    margin: 0 2px;
}
.qty {
    position: relative;
    width: 100px;
}
.detail_ca .qty a.plus:first-child {
    float: right;
}
.detail_ca .qty a.plus {
    right: 0px;
    position: absolute;
    top: 5px;
}
.detail_ca .qty a.mines:last-child {
    float: left;
}
#content .product-layout.product-grid:nth-child(5) #siml_pro .dropdown-menu {
    left: auto!important;
}
.row.main_de {
    margin-top: 20px;
}
div#collapse1:hover {
    background: #e5e6e6;
    transition: all 0.2s;
}
.row.slid_foo h5 {
    cursor: pointer;
}
.ship_are i.fa {
    margin-left: 10px;
    border: 1px solid #ddd;
    width: 16px;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}
data-owl-carousel#carousel_25 .owl-pagination {
    display: block!important;
}

#carousel_25 .owl-page.active span{ background:#159faa!important}
button#button-cart {
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 4px;
    padding: 15px 0;
    font-weight: 600;
}
.product_de.text-center h4 {
    font-size: 16px;
}
.product_de .rating .fa-star {
    color: #f89d23;
}
.bt_lo{background: #252933;
    border: 0;}
	














/*Modal css*/
	
	 .Modal-backdrop
 {
   position: fixed;
   top: 0px;
   left: 0px;
   height:100%;
   width:100%;
   background: rgb(250,250,250);
    z-index: 9999;
    opacity: .9;
}

.Modal-holder
{
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: transparent;
  z-index: 9999;
  padding: 30px 15px;
}
.Modal-box
{
    z-index: 999;
    top: 35px;
    width:420px;
    margin: 0 auto;
}
.pop button {
    padding: 0px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    display: block;
    background-color: #252933;
    border: none;
    float: left;
}
.regi_na button {
    color: #159faa;
    background: #fff;
    border: none;
    text-decoration: underline;
}
.checkbox button {
    color: #159faa;
    background: #fff;
    border: none;
    text-decoration: underline;
	    float: right;
}
.vie_prodmod button {
   background: rgba(21,159,170,1)!important;
    position: relative;
    top: 30%;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    color: #fff !important;
    font-weight: bold;
    font-size: 20px!important;
   
}
.modl_prod {
 width:auto!important;}
.new_moddial {
    width: 900px;
    margin-top: 0px;
}
.pr_tit {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}


  #content_page .scroll-viewport {
      height:400px;
      width: 100%
    }
	
	.category_lis a{ font-size:14px;}
	:focus {
    outline: -webkit-focus-ring-color auto 0px!important;
}
button.heading .fa {
    font-size: 18px;
}
ul.brand_list img {
    border: 1px solid #ddd;
    border-radius: 4px;
}
.product-grid .product-thumb .button-group .add-to-links, .owl-carousel .product-thumb .button-group .add-to-links {
    top:10%;
    width: 100%;
    height: 0;
    position: absolute;
    transition: all 0.5s;
}
.product-grid:hover .product-thumb .button-group .add-to-links, .owl-carousel .product-thumb:hover .button-group .add-to-links {
    top: 0px;
}

#product-modal .row.product-info.quick {
   
    margin: 0 10px 0px 0px;
}
div#gallery_01 {
    margin-top: 30px;
}
div#gallery_01 a {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    background: #fafafa;
}
.image_zoo .image  {
    padding: 25px;
	position:relative;
}
.image_zoo .image img {
    width:100%;
}
.zoomWrapper{overflow:hidden}

.banner {
    text-align: center;
}
.banner img {
    display: inline;
}
ul.mobile-sub.wsmenu-list > li:first-child > a {
    padding-left: 2px;
}
#ship_button{border: none;
    background: transparent;
    padding: 0;}
ul.ship_input li {
    list-style: none;
    display: inline-block;
	width: 165px;
    margin-right: 10px;
   
}
ul.ship_input {
    padding: 0;
}
.ship_moddial {
    width: 700px;
    margin-top: 0px;
}

.row.table_data thead {
    background: #ececec;
    border-top: 1px solid #ddd;
}
.row.table_data td {
   
    border-left-color: #fff;
}
.row.table_data tr td:last-child {
 border-right-color: #fff;
}
div#ship_block {
    margin: 0 10px;
}